[2019-02-05 08:53] azat commented on #755
2.0.x will not contain cmake rules, since 2.0.x never had cmake support (and it can be not that simple to backport it, plus everyone who uses 2.0.x should consider using 2.1.x)

For me release archive should me immutable, but right now I'm working on 2.1.9-beta, and it will contain cmake rules.

[2019-02-05 08:56] smarek commented on #755
Ok, thank you for clarification, as I'd like to integrate stable release, you can, with explanation, release the archive with different name under the same github release (ie. libevent-2.1.8-stable-cmake.tar.gz + libevent-2.1.8-stable-cmake.tar.gz.asc)

What do you think?

[2019-02-05 09:00] azat commented on #755
I don't like this idea too much, since it requires extra testing anyway

Well, 2.1.9 will be beta, but if there will be no problems reported for a 2-4 weeks, I will be glad to release 2.1.10-stable. Does this sound good for you?

[2019-02-05 09:01] smarek commented on #755
Cool, thank you!

[2019-02-05 09:01] #755 closed

[2019-02-05 14:14] danielstock commented on #754
@azat  thanks.   then what's the default low watermark?
is it 0?  so that the read callback would be invoked when there is data available.

[2019-02-05 14:44] danielstock commented on #753
@azat   thanks. the following is my program's main structure:
the program has multiple working threads, each with its own event_base.
and I pre-allocated thousands of client-context objects for each thread. I called bufferevent_socket_new for each object, using the thread's evbase as parameter.
once a connection is established, I select one thread(based on round robin algorithm),  and find one ava

[2019-02-05 20:40] azat commented on #754
Yep

[2019-02-05 20:49] azat commented on #753
I would make it next way (although your sequence will work too):
- `bufferevent_disable()`
- `bufferevent_setfd(-1)`
- `shutdown()`
- `evutil_closesocket()`
- `evbuffer_drain()`

Also note that output/input evbuffer can be freezed (`evbuffer_freeze()`), and the `bufferevent_setfd()` should unfreeze it (at least for plain bufferevent socket) before you will call drain, so `bufferevent_setfd()` shou

[2019-02-07 17:06] NathanFrench commented on #70
After careful review of this specific report, it's hard to say *exactly* what was being spoken of.

`NODATA` is set when an authoritative server responds to a request that exists, but under a different type. (I.e., a lookup of `IN A ipv6.example.com.`, where the `dname` `ipv6.example.com.` *exists*, but is not of type `A`. RFC states that there is a clear delineation between the two values NX and

[2019-02-07 17:44] NathanFrench commented on #378
Unfortunately, you will not be able to avoid those SSL pipe errors by doing that `setsockopt` *AFTER* you connect. Try plopping that right after `bufferevent_openssl_socket_new`.

[2019-02-07 18:18] NathanFrench commented on #378
This is the proper fix. Closing the issue.

[2019-02-07 18:18] #378 closed

[2019-02-08 19:28] jumde commented on #747
@azat - Disabling `LEGACY(fork, TT_ISOLATED)` for MacOS leads to 4 test failures:

[code]

Is this expected?

[2019-02-09 10:57] azat commented on #747
Hm, they do not fail in my osx env, can you provide more info:
- osx version
- cmake/autotools?
- run those tests (i.e. `regress signal/signal_switchbase signal/immediatesignal <and so on>`) with `--verbose` and with `EVENT_DEBUG_LOGGING_ALL=`

[2019-02-09 11:31] azat opened #758 "travis-ci sending multiple build status notification emails"
travis-ci/travis-ci#1696

[2019-02-09 11:34] azat opened #759 "EVENT__NO_DEPRECATED"
We should remove a lot of old code (one of the major thing is global `event_base` for example), but since this can break user code, maybe we should introduce `EVENT__NO_DEPRECATED` switch (for cmake/autotools) and do not do deprecated stuff under it, or maybe we should just use `__attribute__((deprecated))`?

[2019-02-09 11:36] azat opened #760 "cmake-vs-autotools"
- [ ] `libevent-2.2` VS `libevent.2.2` (`-version-info` and `-release`) (#838)
- [x] include/event2/bufferevent_ssl.h is conditionally installed by cmake but not autotools (5388a002f5ad3bdfc756584dc58485fc3db135d0)

[2019-02-10 14:24] azat commented on #744
So both 2.1.x (9c75c24) and 2.0.x (4294867) had been released, please go out and test (and get back once you will find something odd)!

[2019-02-10 14:24] #744 closed

[2019-02-10 14:42] danielstock commented on #754
@azat   thanks

[2019-02-10 14:42] #754 closed

[2019-02-10 22:14] NathanFrench commented on #759
[code]

Is a quick macro I use for `__attribute__((deprecated))` which could warn for next major release.

[2019-02-11 04:34] danielstock commented on #753
@azat
does the bufferevent_setfd(-1)   unfreeze the input/output evbuffer automatically?
or should i  manually call evbuffer_unfreeze()  before evbuffer_dran?

[2019-02-11 05:33] azat commented on #753
You should not call it manually, but you should check the return value of the `evbuffer_drain()`

[2019-02-11 06:49] danielstock commented on #753
@azat  if the return value of the evbuffer_drain() is -1(failure),  i should re-create (bufferevent_socket_new) the bufferevent  next time the client-context object (in which buffervent is contained) is re-used.

i wonder maybe it's better not to re-use the bufferevent,  just re-create it everytime the connection is established.
but the efficiency might be lower when the client numbers are huge.

[2019-02-11 08:50] azat commented on #753
I would say that the program should fail if drain fails (in this particular case)

but the efficiency might be lower when the client numbers are huge.

Well, I think that you won't see a lot of difference in benchmarks if you will always recreate them

But if you are really curious, than you should do your own benchmarks anyway (since in don't know that much about your program)

[2019-02-12 03:29] jumde commented on #747
Hi @azat - Sorry for the delayed response:

[code]

<detail>
$ test/regress --verbose main/del_wait
main/del_wait: [forking] [debug] event_add: event: 0x7ffeee4f3168 (fd 5), EV_READ    call 0x10171ba10
[debug] kq_dispatch: kevent reports 1
[debug] event_active: 0x7ffeee4f3168 (fd 5), res 2, callback 0x10171ba10
[debug] event_process_active: event: 0x7ffeee4f3168, EV_READ   call 0x10171ba10

    OK

[2019-02-12 08:43] azat commented on #747
Is flacky, it has been marked as `TT_RETRIABLE` in fe5b07199

And looks like you do not run latest libevent, your code looks like (more or less) release-2.1.8-stable-91-g56010f37, can you switch to upstream libevent (at least while we debugging this)

So let's look into this, can you run it like this `* EVENT_DEBUG_LOGGING_ALL= EVENT_SHOW_METHOD= regress --no-fork --verbose signal/signal_switchbas

[2019-02-12 12:50] emmenlau opened #762 "libevent tests fail on macOS 10.12"
I've successfully built libevent on macOS 10.11 and macOS 10.12 with XCode 8.3.3, but several tests fail for me with the latest git HEAD revision. I have put the test log here: https://pastebin.com/cPaeSkan

The problems seem similar to my previous issue #749 but I do not know why they disappeared for a while and now came back. This debug log is created with verbose output. Anything I can do to he

[2019-02-12 15:03] hk520570 opened #763 "how to build windows libevent.dll"
I want to build windows libevent.dll by vs2013.but I don't how to do it!can you help me!

[2019-02-12 16:38] ploxiln commented on #763
https://github.com/libevent/libevent#cmake-windows-1

[2019-02-12 18:01] NathanFrench commented on #710
This may relate. If it's helpful, cool, if not, no biggie.

I have been working to get some high-resolution profiling statistics myself. So I started adding dtrace probes to various hotspots.

https://github.com/libevent/libevent/compare/master...NathanFrench:dtrace

I put an example script in there to show off some timing histograms.

[2019-02-12 20:23] #763 closed

[2019-02-13 02:00] hk520590 commented on #763
thank you！

[2019-02-13 02:40] danielstock commented on #753
@azat   thanks.  yet there's another question.
i have one thread which loops through all the connection objects,  checking for user-defined errors (example:  long time no login request, too many bad packets, etc).
i would close the connection if i find one.

so, what's the proper way to close it?
would it be alright if i shutdown the socket to trigger socket_event,  then the buffer_event_callback

[2019-02-13 10:40] lighth7015 opened #764 "Custom listener to monitor SysV message queues"
I am attempting to modify the existing evconnlistener to monitor SysV message queues on *nix; however my listener seems to be segfaulting my code when I try to call `event_add`. Are there any issues I should be looking out for?

[2019-02-13 11:55] azat commented on #747
So the reason here is that the behavior of EVFILT_SIGNAL changed in between 10.11 and 10.14, it can be verified with the [this gist](https://gist.github.com/azat/73638b8e3b0fa563a20dadcca9e652a1).

This should be a separate issue (since we need to dig this a little bit for our self), I will create one, thanks for the report!

[2019-02-13 11:56] azat commented on #762
All of them looks time-related, do you have your machine under some load or/and is it VM?

[2019-02-13 12:18] emmenlau commented on #762
I am experimenting with a VM for MacOS 10.13, but this is _not_ the machine that was used here. This is a plain hardware Mac Pro with dual-4-core-Xeon and fast SSD. The machine is not very new, but still quite powerful, and there is no other load than libevent. I run libevent verify with two parallel threads, but the machine should handle much higher load. And the problem is 100% reproducible for

[2019-02-13 12:43] azat opened #765 "EVFILT_SIGNAL under osx 10.14 behaviour"
https://github.com/libevent/libevent/issues/747#issuecomment-463172099

Behavior of EVFILT_SIGNAL changed in between 10.11 and 10.14, it can be verified with the [this gist](https://gist.github.com/azat/73638b8e3b0fa563a20dadcca9e652a1).

And because of this `signal/signal_switchbase` fails

[2019-02-13 13:14] NathanFrench commented on #764
Can you give any more details? A backtrace, some code that can trigger the bug would be best.

[2019-02-13 17:09] lighth7015 commented on #764
I can post the code for the module if that helps.

[2019-02-13 17:15] lighth7015 commented on #764
**Update**: My queue listener implementation is at:
https://gist.github.com/lighth7015/8656b54eeb503f0f062b942ab3f225bd

[2019-02-13 17:15] azat commented on #762
Hm, this is way more than necessary, and I must say that it works in my [vm](https://github.com/libevent/libevent-extras/blob/80b9bbfefa7fbaeb0ae5099a919e1c74e48d244b/Vagrantfile#L231) (osx 10.11 with 1024MB of memory), so I need to take a closer look

Can you elaborate?

[2019-02-13 17:26] azat commented on #753
I do not think that closing the socket is a good idea, so I would recommend one of the following:
- `bufferevent_trigger_event(bev, BEV_EVENT_ERROR, 0)` to trigger `BEV_EVENT_ERROR` manually
- `bufferevent_free(bev)` to clean it up

[2019-02-13 19:41] NathanFrench commented on #764
Cool. Things **look** fine at first glance. Do you have a backtrace, something to get a little closer to the issue?

[2019-02-13 19:54] lighth7015 commented on #764
Absolutely!

[code]

[2019-02-13 19:54] NathanFrench commented on #764
Hmmm. This looks suspicious:

`#define mm_alloc(count, size) calloc(count, sizeof(size))`

and is used in various places as follows:

`mm_alloc(1, sizeof(struct ev_message_queue_event));`

[2019-02-13 19:57] lighth7015 commented on #764
I copied (basically) evconnlistener and whatever private parts of libevent it needed and changed it as I needed. I probably screwed that up?

[2019-02-13 19:58] NathanFrench commented on #764
Yeah try:

`#define mm_aalloc(count, size) calloc((count), (size))` instead.

basically sizeof(sizeof()) results in undefined behaviour.

[2019-02-13 20:01] NathanFrench commented on #764
Actually not going to be that simple since you use `sizeof` in some places, but not others. But you get the point, right?

[2019-02-13 20:04] lighth7015 commented on #764
Yeah; I just dropped the sizeof() from the calls, because I was not really conscious when I wrote most of that, haha. So now I suppose I just need a timer to (portably) watch the message queue, yeah?

[2019-02-13 20:06] NathanFrench commented on #764
`typedef struct ev_message_queue_server *ev_message_queue_server_t;` is defined as a pointer, and you try to allocate sizeof(pointer *)):

[code]

This only allocates sizeof(void *) * 1;

[2019-02-13 20:08] NathanFrench commented on #764
For now, I would suggest removing the use of macros that might be confusing. Just do straight up [mc]alloc()'s for now, see if that makes a difference.

[2019-02-13 20:09] NathanFrench commented on #764
A good way to see if there is anything odd that the pre-processor did that wasn't intended is to run `gcc -E <file.c>`.

[2019-02-13 20:10] lighth7015 commented on #764
It works now, I'm getting "Couldn't watch fd" errors now, because, well the thing I'm trying to watch isn't an fd. :P

[2019-02-13 20:11] lighth7015 commented on #764
You know what would be great though? Some kind of descriptor abstraction, so you could call "watch" on it and have it do the correct thing, regardless of how it was implemented. So I could implement my own semantics without having to essentially subclass and hijack an instance of an officially implemented thing :P

[2019-02-13 20:12] NathanFrench commented on #764
OH I see! Yes, the return of msgget is not a file descriptor. You may want to use `eventfd` as a way to emulate a descriptor, and schedule the checks internally.

[2019-02-13 20:15] lighth7015 commented on #764
Yeah, and I abstract that into its own file to ensure it isn't doing anything non-portable. :D

[2019-02-13 20:16] lighth7015 commented on #764
Thank you so much! This was an entirely enjoyable experience! :D

[2019-02-13 20:17] NathanFrench commented on #764
No problem, if you need any more help, shoot me a line: mark@libevent.org

[2019-02-13 20:17] #764 closed

[2019-02-13 20:52] NathanFrench commented on #740
@azat maybe something like this prototype https://github.com/NathanFrench/libevent/commit/dda4575ce272fe3422d3681c05c378708a384750 ?

[2019-02-14 01:34] danielstock commented on #753
@azat   thanks
i'm using version 2.0.22 , didn't find the bufferevent_trigger_event function  :(

[2019-02-14 02:10] danielstock commented on #753
found it in bufferevent.h,  ver 2.1
is there any alternate way to do it (bufferevent_trigger_event) in 2.0.22?

[2019-02-14 07:28] azat commented on #753
No, but why do you stick to the 2.0.x? I would strongly suggest you to switch to 2.1.x

[2019-02-14 08:12] danielstock commented on #753
@azat   ok, thanks for your help!!

[2019-02-14 08:12] #753 closed

[2019-02-14 09:34] emmenlau commented on #762
Sorry for the confusion, I just mean that the problem is 100% reproducible, every time I execute the test. I mention this to indicate that t the problem is not related to potential other tasks that the Mac Pro might schedule, like nightly backups.

[2019-02-14 09:40] azat commented on #762
Great!

So can I ask you to run those tests only with:
- `EVENT_DEBUG_LOGGING_ALL=` env
- `--no-fork --verbose <test_name>` (i.e. `main/event_remove_timeout`)
- or/and under dtruss (although not sure that I need that verbosity right now)

So for example:
[code]

[2019-02-14 10:55] emmenlau commented on #762
I understand, thanks for the detailed explanation!

So I did as you suggest. But things get very confusing now. When I execute the tests from the shell (either one by one, as you suggested, or just all tests with `ctest --verbose`, then most tests work successfully! There are still three tests that fail reproducible. These are from `regress__KQUEUE` and `regress__KQUEUE_debug`:
[code]

I'm not cer

[2019-02-14 11:26] azat commented on #762
So this is kqueue, and this is good since this should be default backend
on osx (for example if it was SELECT then you should disable kqueue and
poll for libevent to use SELECT by providing next env variables
EVENT_NOKQUEUE= EVENT_NOPOLL= regress ...)

It should not I would say (P.S. I have gitlab CI on my TODO list, but I
do not have free VM's for it).

This does not adds more logs, because it se

[2019-02-17 11:31] azat commented on #740
Kind of, but this is not only about http server, it is about `bufferevent_connect_hostname()` (and I would say that it is more major then http server)

Plus I do not like `func2` convention. And generically speaking maybe introducing yet-another-callback would be better (since in case of `bufferevent_connect_hostname`+`evdns!=NULL` it is async io)

[2019-02-17 11:40] azat commented on #261
@NathanFrench are you still into this?

[2019-02-19 13:50] jurgenyang opened #767 "libevent coredump in event_active_nolock_"
Hi,
	I have a crash on libevent's stack.
	The version of libevent I used: 2.1.5

	The coredump stack information：

[code]

I checked the frame 4 and found that there's some invalid pointers stored in 'ev->ev_evcallback':

[code]

	So I dumped the memory near the variable 'ev',and found that it's a buffer we passed by 'bufferevent_write'.
	I checked my module log,the parameter we passed to 'buffere

[2019-02-19 21:02] ploxiln commented on #767
It looks like you might use threads, and you might not have called `evthread_use_pthreads()`

[2019-02-19 21:04] ploxiln commented on #767
I also suggest updating libevent-2.1.8-stable or libevent-2.1.9-beta to rule-out already fixed bugs.

[2019-02-20 02:51] jurgenyang commented on #767
Thanks ploxiln,
     I have actually called the evthread_use_pthreads() before I called event_base_new().
And the invalid value of ev->ev_evcallback.evcb_flags is 29231,not like a normal value set by libevent even in thread-unsafety evironment.
    Indeed, I dumped the memory near this variable and found that it's a http buffer I passed to libevent by 'bufferevent_write'. The http buffer used in m

[2019-02-20 03:01] NathanFrench commented on #767
Greetings @jurgenyang,

Are you able to paste a working piece of code that can trigger this issue reliably?

[2019-02-20 03:41] jurgenyang commented on #767
Hi  @NathanFrench ,
       This is a random occurd problem and haven't  reproduced yet.
       The only clue I find now is that the ev->ev_evcallback.evcb_flags is ruined by the http buffer
        passed to libevent by bufferevent_write.

        The code of bufferevent_write in my program:

`static void http_write_queue_ready(int fd, short ev, void *arg) {
	LIBEVENT_THREAD *me = arg;
	LCS_CLIENT

[2019-02-20 04:09] NathanFrench commented on #767
How exactly does a stack variable "ruin" a section in heap?

[2019-02-20 04:26] ploxiln commented on #767
Yeah, unfortunately, once there's memory corruption, it's hard to figure out where it started. It usually clobbers a bunch of random stuff before crashing. It may overwrite a pointer to a different type of structure, then writing to that writes junk in a different structure, then using a pointer from that different structure finally causes a crash, or maybe instead if writes over a bunch of the st

[2019-02-20 05:05] NathanFrench commented on #767
[code]

This looks suspicious to me. You free the `p_conn`, but you also have your connection information in that structure (as referenced by this code). Are you sure it's not being used elsewhere?

[2019-02-20 05:07] jurgenyang commented on #767
Thanks for your comments, @NathanFrench
  I'm not mean that 'a stack variable "ruin" a section in heap'.

 The stack variable 'send_buf' will pass to 'bufferevent_write()'  and  libevent will allocat a heap section to save it in 'evbuffer_add' function, and the memory corruption would be caused by that.

get_flp_post_ret_msg makes the HTTP 400 body, it defines as below:
`void get_flp_post_ret_msg(

[2019-02-20 05:09] NathanFrench commented on #767
Does `LCS_CLIENT *p_conn = get_event_write_data(&me->client_write_queue);` do all the proper locking?

[2019-02-20 05:12] NathanFrench commented on #767
There doesn't seem to be any checks to see if `p_conn->p_data` is null. What exactly is `p_conn->p_data`? Are you *sure* that if (*p_conn->p_data == <SCALER>) is the right logic here?

[2019-02-20 05:13] jurgenyang commented on #767
'get_event_write_data(&me->client_write_queue)'
gets a data from pipe ,it would not been uesd elsewhere.

[2019-02-20 05:14] NathanFrench commented on #767
So you're saying it does *not* lock?

[2019-02-20 05:15] jurgenyang commented on #767
if(p_conn->p_data == NULL || *(p_conn->p_data) == 0)

 it will do the 'p_conn->p_data == NULL' first.

[2019-02-20 05:18] NathanFrench commented on #767
Just for fun, do me a favor, in gdb, set a breakpoint on http_write_queue_ready, get the address of the arg variable `print arg`, set a breakpoint for that memory address: `rwatch *0x<that address>`, then `continue`, and see how many different threads break.

[2019-02-20 05:21] jurgenyang commented on #767
yes, it's a inner pipe to send a data.
relevant code below：
`void init_event_write_queue(EVENT_WRITE_QUEUE *p_ev_queue,struct event_base *p_base,FUNC_EVENT_CALLBACK callback,void* arg){
	if(p_ev_queue==NULL)
		return;

	if (pipe(p_ev_queue->pipe_fd)) {
		p_ev_queue->p_queue=NULL;
		return;
	}
	p_ev_queue->p_queue=g_async_queue_new();
	p_ev_queue->pipe_event=event_new(p_base,p_ev_queue->pipe_fd[0],

[2019-02-20 05:22] NathanFrench commented on #767
How do you assure that two threads are not accessing that `arg` argument at the same time?

[2019-02-20 05:25] jurgenyang commented on #767
it's a 'char' to 'char' comparison,p_body in 'get_flp_post_ret_msg(p_conn->p_data, p_body);'
is a char *

[2019-02-20 05:28] NathanFrench commented on #767
Are you on a linux host? are you able to run your application under helgrind (`callgrind --tool=helgrind`)?

[2019-02-20 05:53] jurgenyang commented on #767
[hel.txt](https://github.com/libevent/libevent/files/2883193/hel.txt)

This is the output of valgrind --tool=helgrind.
I just start my program and run a process which can trigger the 'http_write_queue_ready'.

[2019-02-20 05:58] NathanFrench commented on #767
Thank you. Did this run include a crash?

[2019-02-20 06:52] jurgenyang commented on #767
No, The crash hasn't  been reproduced.

[2019-02-20 17:58] NathanFrench commented on #767
@jurgenyang two things:

1. can you add a global lock that we can use to temporarily grab exclusive on data in that callback?
2. Can you continue to run the application under helgrind until you get a crash?

[2019-02-20 19:09] NathanFrench commented on #767
So lots of threads, lots with evaluated "potential" race conditions. Is there a debug mode in your code?

Ticket debugging is harder than over-the-shoulder debugging; is there any way we can debug this together?

[2019-02-20 21:10] NathanFrench commented on #734
Can you also paste the output of `/Users/angelomantellini/android-sdk_cicn_clang/build_armv7-a/libevent/CMakeFiles/CheckTypeSize/EVENT__HAVE_STRUCT_SOCKADDR_STORAGE.c`?

[2019-02-20 22:08] NathanFrench commented on #767
[code]

I did some poking around and found some open-source code that has the same signatures as the code you have been posting here: https://github.com/sduvuru/kv-engine/blob/40c74c4334e53fd775c3ce7b6d95dd2ff4c10679/daemon/thread.cc

Is this the code you are using?

[2019-02-20 22:27] NathanFrench commented on #767
Many signs are pointing to this code (modified): https://github.com/sduvuru/kv-engine/blob/spock/daemon/thread.cc is being used. Can we assume that this is a good place to start debugging from?

[2019-02-20 22:47] NathanFrench commented on #767
Also, are you able to run the code with `evthread_enable_lock_debugging()` enabled?

[2019-02-21 21:40] azat commented on #734
Indeed

[2019-02-21 21:42] manang commented on #734
tomorrow I will send you the log.
sorry for the delay

[2019-02-24 05:34] aggat opened #772 "mingw32 compile error"
[code]

after replacing `int` with `evutil_socket_t` in `bufferevent-internal.h:449` compiled without errors.

[2019-02-24 14:23] #765 closed

[2019-02-24 14:30] #747 closed

[2019-02-24 14:30] azat commented on #747
@jumde I've just fixed signal tests and this one, can you run regression tests in your environment one more time?

[2019-02-24 14:32] azat commented on #762
Should be fixed in 728c5dc11f55b4ba5f518812833eab5a2cc3d550

@emmenlau can you please run tests in osx undre your env one more time?

[2019-02-24 14:32] #762 closed

[2019-02-24 14:35] azat commented on #772
@aggat nice catch!
Do you want to send a patch or do you want me to just fix it (or I can just change the author if you want to) ?

[2019-02-24 15:49] jurgenyang commented on #767
Hi  NathanFrench,
I uploaded the libevent-related code in my program.
My program is a server.
The entry function is init_server().
'start_server_thread'  do the client connect management .
'start_work_thread'  do the event of each client.

[code.zip](https://github.com/libevent/libevent/files/2898058/code.zip)

[2019-02-24 16:52] aggat commented on #772
you can just fix it yourself

[2019-02-24 16:55] #772 closed

[2019-02-24 20:05] #555 closed

[2019-02-24 22:04] azat commented on #734
So just to remember, please send us:
- `CMakeCache.txt`
- `/Users/angelomantellini/android-sdk_cicn_clang/build_armv7-a/libevent/CMakeFiles/CheckTypeSize/EVENT__HAVE_STRUCT_SOCKADDR_STORAGE.c` (or relative path if you changed the location of the build)

And according to cmake logs it looks like there is no sockaddr_storage definition, so how then __ss_family is used?

I remember that I compiled un

[2019-02-25 21:29] emmenlau commented on #762
Dear @azat thank you for your continuous support, its highly appreciated! I still get errors on MacOSX. Hopefully this time I have managed to compile a good issue report: https://pastebin.com/gsPHNzxn
Does this help? Please let me know if I can improve it or provide something else.

[2019-02-25 21:43] azat commented on #762
Indeed, thanks!

After a brief look most of the failures looks like time related, look:

(*and others*)

Can you give this run more CPU time? (i.e. if you have vm then give more CPU time or reduce CPU usage on host, also consider switching to non-parallel builds if you use `-j` for running tests)

But anyway we need to fix this one way or another, since this will bring [travis-ci osx](https://trav

[2019-02-25 21:47] azat commented on #460
Refs: #773

[2019-02-25 22:45] ploxiln commented on #460
ideally, `_GNU_SOURCE` would only be defined at the top of c files in which it is needed ... it looks like it is intended for use with `netdb.h` which provides `getaddrinfo()` `gethostbyname()` etc, but right now linux man pages say:

[code]

[code]

(there is a reference to `h_errno` in `evutil.c`)

It could be annoying to figure out exactly which old and diverse systems need `_GNU_SOURCE` and fo

[2019-02-25 23:38] htuch opened #774 "evbuffer_prepend breaks with empty buffers"
It looks like `evbuffer_prepend` doesn't check for empty, whereas `evbuffer_prepend_buffer` does this explicitly. This breaks in the example at https://github.com/envoyproxy/envoy/pull/6062. Basically, an empty prepend to an immutable chain entry, followed by a `evbuffer_remove_buffer` and then `evbuffer_add` does the wrong thing.

We work around this in Envoy in https://github.com/envoyproxy/envo

[2019-02-26 16:26] ngie-eign commented on #460
Supporting a decade old POSIX spec conforming Linux (2008) or older doesn't really make sense :/.

[2019-02-26 16:45] hdatma opened #776 "monotonic_prc_fallback failure"
Configures and compiles with neither errors nor warnings. OK

Tests return a few errors.

[test.log](https://github.com/libevent/libevent/files/2906534/test.log)

[2019-02-26 17:16] azat commented on #460
well basically this is a good idea, but we need deep testing for this

since we define `_GNU_SOURCE` not only in `<event2/util.h>` but also in `<event2/event-config.h>` and `<evconfig-private.h>`, while later does not included from public headers, the former does, and just removing that define out will not helps here

[2019-02-26 17:28] azat commented on #460
And the interesting bit here is cmake, since it does not define `_GNU_SOURCE` in `event2/event-config.h` and everything works when cmake is used for building, so I guess we can safely remove them.

[2019-02-26 17:40] azat commented on #460
Nope, [it](https://formulae.brew.sh/api/formula/libevent.json) uses autotools (checked [this](https://homebrew.bintray.com/bottles/libevent-2.1.8.mojave.bottle.tar.gz) one.

And installed headers looks good, no `util.h` in `/include/`

Although, this is another story, but since this contained in commit message, I guess it is better to figure out where this error came from to update message, what d

[2019-02-26 17:46] ploxiln commented on #460
[code]

[2019-02-26 17:49] ploxiln commented on #460
buffer.c
[code]

not clear why, or if libevent uses vasprintf() anywhere, indirectly some how?

[2019-02-26 18:58] azat commented on #460
[code]

Outdated comment? I guess

Cannot find anything, will clean this up later.

Thanks for catching this, but these are not headers anyway.

[2019-02-26 19:04] azat commented on #776
After a brief look, I would say that these failure because `util/monotonic_prc_fallback` depends on time, but we should do something with this eventually to avoid false-positive failures/reports.

[2019-02-26 19:04] azat commented on #776
BTW in which env did you test? (OS and other related details)

[2019-02-26 19:47] azat commented on #460
[Here](https://gist.github.com/azat/77a539b1c21ea54b3848500d48f0d435) is the list of used extensions

[2019-02-26 20:00] ploxiln commented on #460
yeah, I was just trying to figure out what `_GNU_SOURCE` was originally intended for, to see if it is still needed for anything, and how small the scope it is needed for is ...

(I found a couple more uses that were added then removed, first was `F_SETSIG`, then `fnmatch()`, and then there's this non-specific commit: 4d48cf61a2734aa37a7a5904f5c1454a62aa943a)

[2019-02-26 20:05] azat commented on #460
Well basically what we want to do is define `-D_GNU_SOURCE` in `autotools` during compilation (like we do in `cmake`) and do not write it to the `event-config.h`.

And remove every definition of `_GNU_SOURCE` in c modules.

How that sounds?

[2019-02-26 20:23] ploxiln commented on #460
Yes, that should work fine.

In my own projects I prefer to use `-D_XOPEN_SOURCE=600` and then just `#define _GNU_SOURCE` at the top of a c file (before all includes) if it really needs it for some function, because there are a rare few functions like `strerror_r()` where you don't get the cross-platform "XSI-compliant" version if `_GNU_SOURCE` is defined. Thus the attempt to have `_GNU_SOURCE` de

[2019-02-26 21:15] azat commented on #774
Hi! Nice catch and thanks for the reproducer!

Sure this is a bug, but not sure that simply check for length is enough here (looks odd at first glance since this is not just prepend-over-append there is some kind of corruption and I can confirm this even without adding `evbuffer_prepend(buf, "", 0)`).

Have you looked deeply or should take care of this?

[2019-02-26 21:45] htuch commented on #774
@azat I haven't done more than a cursory look, I probably won't have too many cycles for this in the next couple of weeks, so might be best for folks in the libevent community to take this.

[2019-02-26 23:21] htuch opened #777 "event_debug_mode_too_late is thread unsafe"
This is a shared global boolean flag that multiple threads write to, setting to 1. While this should usually work, it's technically undefined behavior and Clang TSAN flags this as problematic, here's an example TSAN backtrace from Envoy:

[code]

[2019-02-27 16:46] hdatma commented on #776
[code]

From the shell:

[code]

[2019-02-27 16:58] hdatma commented on #776
I have unbound, nsd, and PF running.

I closed them all, and run the tests again.

[code]

I still see timeouts:

[code]

[2019-02-27 17:07] hdatma commented on #776
[code]

[2019-02-27 17:21] azat commented on #776
This is not an error per se (this is just tests that uses timeouts)

[2019-02-27 17:59] hdatma commented on #776
[code]

[2019-02-27 18:33] htuch opened #778 "Buffer corruption with evbuffer_{reserve,commit}_space"
While fuzzing Envoy's buffer implementation, we hit a scenario in which it looks like two segments on the buffer chain get swapped. This is similar to https://github.com/libevent/libevent/issues/774 (it might be the same underlying issue), but happens with no owned reference buffers or empty prepends, instead via reserve-commit of buffer space.

The reproducer is described in `ChunkSwapCorruption`

[2019-02-27 18:34] htuch commented on #774
@azat FWIW, just filed https://github.com/libevent/libevent/issues/778, there is definitely some corruption that goes deeper than the empty prepend. We have other fuzz bugs that we've hit around libevent, I'm going to postpone diving into them until we have solution to these two bugs, since they may be dupes.

[2019-02-27 19:42] htuch opened #779 "evsig_base is thread unsafe"
This is another shared variable (as encountered in https://github.com/libevent/libevent/issues/777) that TSAN flags as being problematic. This is because the signal handler can run on any thread. See https://github.com/envoyproxy/envoy/issues/6083 for a backtrace.

We have an internal patch to make this atomic. If folks agree that it's sufficient to resolve this and https://github.com/libevent/lib

[2019-02-27 20:14] azat commented on #776
Yep, but it does not do any dns requests, I will take a look on weekends

[2019-02-27 20:54] azat commented on #779
Related to #741 (but it eliminates `evsig_base_fd`)

As for fixing this with atomic, actually it will be more complicated then using `_Atomic`, since this is c11 while libevent should be complied even with compilers that do not support it (this is not what I like, but sadly this is the reality).

[2019-02-28 09:33] emmenlau commented on #762
Actually I think there is not more I can do. This build fails again on the real physical Mac Pro (Dual Xeon 4-Core) machine. The Machine should not have any other load because I never run builds parallel, and the tests where executed with `ctest --parallel 1`. The full test stopped after 16 minutes whereas the allowed limit is 1hr test duration.

[2019-02-28 18:17] ploxiln commented on #762
it's possible that some unusual driver is causing huge process/thread scheduling latency

[2019-03-01 08:54] azat commented on #762
@emmenlau

This is way more than regress tests needs.

Okay, like I said I will take a look into this on weekends, in the mean time can you try run failed tests separately (just pass full test name to the `regress` binary as argument), I assume that they will pass?

@ploxiln

I still think that the problem is the latency issues in macos:

_P.S. I do not have any background in macos, but AFAICR it

[2019-03-01 16:26] ploxiln commented on #762
Agreed - it can be pretty different. macOS can have a more responsive UI, because it prioritizes that. But it definitely spawns new processes and threads a lot slower. And I think recent versions are tuned with the assumption that all machines have a fast SSD for the swapfile (and macOS tends to use more memory).

[2019-03-03 15:59] #774 closed

[2019-03-03 15:59] #778 closed

[2019-03-03 16:01] azat commented on #778
Hi @htuch

Thanks again for the detailed report and reproducer, referenced patch (5b19c9f) should fix the issue

[2019-03-03 16:08] azat commented on #774
Initial issue should be fixed by fdfabbe (I moved you reproducer into our unit tests)
And i decided (c4fbae3a) to add a check against `datlen == 0`  (to make it similar against other places)

Thank you for the reproducer!

[2019-03-03 20:34] azat commented on #697
2.1.9-beta released in 9c75c24caa7689c010864579e27b159665c8dd63, closing

[2019-03-03 20:34] #697 closed

[2019-03-03 20:35] azat commented on #636
2.1.9-beta released in 9c75c24caa7689c010864579e27b159665c8dd63
2.0.23-beta release in 4294867cbc896f43cda84930d4355227e7b55fba

Closing

[2019-03-03 20:35] #636 closed

[2019-03-03 20:36] azat commented on #615
2.1.9-beta released in 9c75c24, closing

[2019-03-03 20:36] #615 closed

[2019-03-04 21:34] #692 closed

[2019-03-04 21:34] #715 closed

[2019-03-04 21:36] azat commented on #715
Hi @Preved7

In upstream there is `evhttp_set_read_timeout_tv()` and separate `evhttp_set_write_timeout_tv()` for this

[2019-03-04 21:37] azat commented on #692
@ochinchina implemented in upstream, take a look (if it not too late)

[2019-03-04 21:41] azat opened #782 "doxygen documentation for the latest upstream"
Currently we only have:
- http://www.wangafu.net/~nickm/libevent-1.4/doxygen/html
- http://www.wangafu.net/~nickm/libevent-2.0/doxygen/html
- http://www.wangafu.net/~nickm/libevent-2.1/doxygen/html

@nmathewson as a hot fix (since long term solution will be to move this documentation/generation) can you add it?

[2019-03-04 22:23] htuch commented on #774
@azat I can confirm that bumping to https://github.com/libevent/libevent/commit/c4fbae3ae6166dddfa126734edd63213afa14dce fixes both issues. Thanks!

[2019-03-04 22:24] htuch commented on #779
@azat do you have a preferred way to address these flags that are shared across threads (https://github.com/libevent/libevent/issues/777 as well)? I don't mind doing some PRs here if there is a lightweight recommended fix. Thanks.

[2019-03-05 06:19] sntdevco opened #783 "Libevent won't build"
I'm trying to build libevent and I keep getting an error with the Makefile:
**make: *** No rule to make target 'Makefile.am'. needed by 'Makefile.in'. Stop.**
System information:
- Ubuntu 18.04.2 LTS
- Kernel Version: 4.15.0-45-generic
- gcc version 7.3.0 (Ubuntu 7.3.0-27ubuntu1~18.04)
- **Trying to build:** 2.1.8-stable (downloaded from releases)

Any resolution?

[2019-03-05 08:25] azat commented on #783
You need to run `./configure`, more details [in readme](https://github.com/libevent/libevent/tree/5ee507c889b019e9296f48e4f133c439e3040c9e#1-building-and-installation-in-depth)

[2019-03-05 08:25] azat commented on #783
*(And please do not post screenshots over plain text)*

[2019-03-05 10:28] sntdevco commented on #783
Will take care the next time 😨

I have already done that, but I still get this error

[2019-03-05 10:41] azat commented on #783
This was irrelevant (my mistake).

By some reason you do not have `Makefile.am`, and this is the file that we have in git, so maybe you removed it manually? And where did you get this archive?

AFAIR you are trying to compile 2.1.8-stable (since you replaced the screenshot with the text, while the later do not contain this information, so correct me if I'm wrong), and I just verified the 2.1.8-sta

[2019-03-06 04:40] azat commented on #779
Don't have any ideas right now (at least for `evsig_base`, since it differs from `event_debug_mode_too_late`)

[2019-03-06 12:28] sntdevco commented on #783
I have downloaded it again from GitHub, I ran ./configure and then make but I still get the same error, what could be wrong? I am not deleting any Makefiles but I still get this error

[2019-03-06 12:35] sntdevco commented on #783
I don't know why, but it's pretty funny that libevent built and installed now, after the 5th time I downloaded it from GitHub. I'm guessing the download wasn't successful. It's good and running now :smile:

[2019-03-06 12:35] #783 closed

[2019-03-06 12:49] sntdevco opened #784 "Proposal: Gitter room"
I think we should just leave the GitHub issue tracker for bugs and suggestions and have a Gitter room for doubts and questions instead. That will prevent the flooding on GitHub.
Thoughts?:thought_balloon:

[2019-03-06 13:37] azat commented on #784
Indeed, I'm thinking the same.

As for gitter, there is a [room](http://gitter.im/libevent/libevent) already (and the link to this room is in readme)

There is also irc (`#libevent on OFTC`) and [mailing list](http://archives.seul.org/libevent/users/).

Personally I do not look into irc too much (maybe few times in a month or so), but other places (mailing list, gitter and github) I monitor instan

[2019-03-06 15:55] sntdevco commented on #784
So may be should put a link in the README to prevent new users from posting issues, that aren't really issues but instead are rather doubts or questions, which is not as sane to have on the issue tracker here. I'm putting a PR for adding the Gitter Room

[2019-03-06 18:14] azat commented on #784
Good idea! Although I don't think that most reporters read the whole readme
(and there is part of your fault since it is pretty big I had some plans to
split it).

Maybe better place will be contribution guide? (CONTRIBUTING.md)

[2019-03-07 02:36] sntdevco commented on #784
@azat How about we shift all the content to the Wiki and put a note in the README for the Wiki. And maybe also update the CONTRIBUTING.md to tell the users about asking questions on Gitter?

[2019-03-07 02:38] sntdevco commented on #784
@azat If you give me access to the Wiki, I'll maybe organize all the content and then you can remove access? How about that?

[2019-03-07 17:41] azat commented on #784
I do not want to use wiki, since in this case the git repo will not have this documentation while I would prefer to keep it there, so I'm voting for creating `Documentation` (from the capital `D` to make completion easier, like in linux kernel)

Yep, that was what I suggested (and we should highlight it somehow, not with `<h1>` but somehow visible)

Actually I saw that github has some template pag

[2019-03-07 17:45] NathanFrench commented on #767
Awesome, I will get back to you after I look into it.

[2019-03-07 18:05] NathanFrench commented on #767
One big thing I see so far is OpenSSL is not being set up for multi-threaded access. By default, OpenSSL is not thread-safe and will result in sporadic crashes due to undefined behavior.

We have a small openssl threading example in the Libevent Book, but it should be noted that it's for OpenSSL versions <= 1.0; there are some slight differences in syntax for later versions.

Would it be helpful f

[2019-03-08 08:43] jurgenyang commented on #767
Hi NathanFrench,
Thank you.
But I didn't use SSL when I ran my program.
The SERVER_CONFIG.b_use_ssl is set to FALSE.

[2019-03-08 11:30] sntdevco commented on #784
Closing this for now, more cleanup on my TODO

[2019-03-08 11:30] #784 closed

[2019-03-08 11:54] sntdevco commented on #784
@azat look at PR #786 all changes are reflected there

[2019-03-09 15:27] sntdevco commented on #703
@azat Assign me here

[2019-03-15 10:23] jacksu opened #790 "Someone has the same core information??"
(gdb) bt
#0 0x000000000043ce8b in htparser_run ()
#1 0x00000000004358f5 in htp__connection_readcb_ ()
#2 0x00007f5a10d6c24c in bufferevent_run_deferred_callbacks_locked (cb=Unhandled dwarf expression opcode 0xf3
) at bufferevent.c:149
#3 0x00007f5a10d7611f in event_process_active_single_queue (base=0x2be3b650, activeq=0x2d975020, max_to_process=2147483647, endtime=0x0) at event.c:1675
#4 0x00007f5

[2019-03-15 10:41] azat commented on #790
This one looks like [evhtp](https://github.com/criticalstack/libevhtp)

[2019-03-15 10:42] #790 closed

[2019-03-15 18:57] NathanFrench commented on #767
@jurgenyang OK, can we defer this until you can reproduce the issue? I would love to help, but there are just too many variables as of right now to really solve it. Lots of other third-party dependencies, no build info, obviously I don't know your specific configuration, and it's better if we had a core.

[2019-03-20 08:51] dubuqingyun opened #791 "bufferevent core dumped after calling bufferevent_free() function"
core dump 1.
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `/home/hz_comas/zcres/bin/cgwServer 4008'.
Program terminated with signal 11, Segmentation fault.
#0  0x00007f14e401e3e0 in ?? ()
Missing separate debuginfos, use: debuginfo-install glibc-2.17-106.el7_2.8.x86_64 libxml2-2.9.1-6.el7_2.3.x86_64 xz-libs-5.1.2-12

[2019-03-20 08:54] dubuqingyun commented on #791
i just use bufferevent under single thread mode.

[2019-03-20 10:11] azat commented on #791
This can be true, since there is start_thread your backtrace:

So you could try to do any of the following:
- run you program under valgrind --tool=drd|memcheck|helgrind
- compile/run you program with ASAN/TSAN
  (-fsanitize=address/-fsanitize=thread)

I guess that this will show you where the problem is.

Also since you have multiple threads have you enable thread support for
libevent:
- evthread

[2019-03-21 06:14] dubuqingyun commented on #791
thanks for answer.
the process cored actually has more than one threads, but all the actions related with libevent are put in one thread. the function bufferevent_free is also called in libevent's callback func.

[2019-03-23 14:22] #688 closed

[2019-03-23 14:42] azat opened #792 "autotools mingw64 failures"
Hangs:
- [ ] main/del_notify

[2019-03-25 06:57] #792 closed

[2019-03-26 19:16] mergeconflict commented on #710
Hi @azat, I've put up a PR (#793) per @htuch's design (we share an office). We're pretty confident it provides what Envoy will require. Let us know what you think, thanks!

/cc @mattklein123

[2019-03-26 21:49] azat commented on #791
So just in case, if you still need some help you need to provide more details, that I had mentioned in https://github.com/libevent/libevent/issues/791#issuecomment-474766772

[2019-03-29 17:17] wenbozhu opened #794 "Question about the PR that disables EV_READ when a request is pending"
[PR in question](https://github.com/libevent/libevent/commit/5ff8eb26371c4dc56f384b2de35bea2d87814779#diff-f6b6aab933915430c8e4f4a5dfa99eb2L3437)

This PR broke some tests I have related to graceful server shutdown.

Questions to @theuni  etc

Is the actual issue caused by clients sending pipelined requests?

If pipleines requests are not supported, which is totally reasonable, should we just clos

[2019-03-29 20:38] azat commented on #794
Thanks for the report!

AFAIR the actual issue had been caused by that fact that server request callback did not respond in place (instead if just defer the reply to another thread, see the example in the commit message)

So IOW this is not about pipelining at all, but they are indeed related to this hunk.

So this said that you do deferring http replies (or I'm missing something), and you need th

[2019-03-29 21:50] wenbozhu commented on #794
I was a bit lost trying to understand what "respond in place" refers to.

Isn't the case that all the servers are expected to be "event based" (no pun intended :) ...

1) headers (and body) received) => 2) request dispatched by URls; => 3) worker thread (thread pool) handles the request (also event-driven) .... 3) ..... => 4) write the response (assuming no streaming).

The PR prevents pipelined r

[2019-03-29 22:10] ploxiln commented on #794
It sounds like your specific issue is that when EV_READ is no longer active for the http connection, there is no event active, and the event loop ends - but you are waiting for another thread to directly trigger the response. For some users who don't use separate threads, they may still have some other async event they are waiting for before sending the http response (perhaps another http client r

[2019-03-29 23:49] ploxiln commented on #794
(also, just listening for additional concurrent requests, would keep the ioloop alive ...)

[2019-03-30 18:35] wenbozhu commented on #794
The exact issue I ran into with this PR is just a regression concern, i.e. the underlying behavior is changed which will break implementations that depend on the old behavior.

During graceful shutdown, the listener is removed first, but otherwise the server allows all pending request/responses to run to completion.

As a work-around, I could just add a no-op event to keep the loop running. And I

[2019-03-30 20:15] azat commented on #794
From 5ff8eb26371c4dc56f384b2de35bea2d87814779:

General http callback (i.e. "respond in place")

[code]

And according to your comment:

So IOW looks like you have something like this:

[code]

So, you do not have `evhttp_send_reply*()` in this callback (like in "General callback")

But `evhttp_handle_request()` which calls your callback (`http_cb` in this case) does not ready for this (and state-

[2019-03-30 20:22] azat commented on #791
Closing due to inactivity, please reopen once you will be able to provide more details.

[2019-03-30 20:22] #791 closed

[2019-03-31 22:29] azat commented on #572
Closed by 65eb529

[2019-03-31 22:29] #572 closed

[2019-03-31 23:34] #569 closed

[2019-03-31 23:44] #382 closed

[2019-04-01 07:48] azat opened #795 "evhttp: eliminate internal fd"
We have a cache version of bufferevent fd (`evhttp_connection::fd`) and all this looks hackish

[2019-04-01 08:27] azat commented on #616
You are calling `bufferevent_free(filter)` what you are expecting? Can you share some code?

This is long standing issue that bothers me, I've created a separate issue for tracking this bug (#795)

[2019-04-01 14:42] ghazel commented on #616
When using sockets, waiting for the bufferevent write buffer to empty and then calling `bufferevent_free()` means the OS has all the data and will continue to send it even after the socket is closed. So, I expected the same of `bufferevent_filter`. I waited for the `bufferevent_filter` write buffer to empty and then called `bufferevent_free(filter)` and I assumed it would make sure all of the data

[2019-04-01 19:32] azat commented on #616
You can wait for the underlying (`bufferevent_get_underlying()`) output buffer in this case

[2019-04-01 19:35] ghazel commented on #616
That's possible, yes, but other things which take a `bufferevent` do not know they need to do that. (evhttp in this case).

[2019-04-01 21:54] azat commented on #616
Good point, need to take a closer look, thanks!

[2019-04-02 13:36] miniupnp opened #796 "EVHTTP_REQ_MOVE and EVHTTP_REQ_UNKNOWN_ values are equal !"
introduced in commit 68eb526d7b5a276fc767738193902e7f7b2cfed6
`EVHTTP_REQ_MOVE    = 1 << 15` and `#define EVHTTP_REQ_UNKNOWN_ (1<<15)`

https://github.com/libevent/libevent/blob/master/http-internal.h#L38
https://github.com/libevent/libevent/blob/master/include/event2/http.h#L552

I think all the variables/arguments containing the EVHTTP_REQ_* values should be changed to  `ev_uint32_t`

[2019-04-03 17:41] #710 closed

[2019-04-09 21:53] #796 closed

[2019-04-10 06:06] msrinirao opened #797 "Libevent crashed on call to evhttp_clear_headers()"
Using libevent version 2.0.22. and getting the following crash trace consistently.

[code]

My helper_run() is calling libevent api as below code snippet:
[code]

[code]

I have even tried with latest libevent 2.1.8 but the same crash backtrace is getting generated even then. Is this a known crash ?. Any workaround/patch exists please share ?

[2019-04-10 10:36] azat commented on #797
Looks like some corruption taking place. Can you run you program under valgrind?
Also posting half pseudo-code, half c-code for `helper_run` does not helps a lot, can you post full minimal reproducer then I can compile?

Also let's use upstream libevent for all further actions.

[2019-04-12 16:58] wenbozhu commented on #794
Thanks for all the information and discussion. I will try to address the underlying issue in my code or come back if I run into any issues.

[2019-04-12 16:58] #794 closed

[2019-04-15 10:03] wangpengdc opened #798 "Why the EVBUFFER_MAX_READ is 4096？"
Why the EVBUFFER_MAX_READ == 4096 ？
If we set EVBUFFER_MAX_READ to a larger value and call the function(bufferevent_set_signal_max_read)，is this right？

[2019-04-15 13:07] azat commented on #798
Due to historical reasons.

How? Compile libevent from sources?

Kind of, but this will not set `evbuffer` internal `EVBUFFER_MAX_READ` to this value.

Anyway in 5357c3d62 new API to change `EVBUFFER_MAX_READ` had been introduced. You can compile libevent from sources (that includes the patch above, or better just pick master) and use:
- `evbuffer_set_max_read()` for `evbuffer`
- `bufferevent_set_

[2019-04-15 13:07] #798 closed

[2019-04-16 11:09] wangpengdc commented on #798
@azat Thanks

[2019-04-17 07:40] 18959263172 opened #800 "problem build with mingw"
Hi guys,I build libevent on mingw and msys2,and When I try to link the .a file,It report a  error,
D:/projects/cUtils/./libevent/lib\libevent.a(evutil.c.obj):evutil.c:(.text+0xda4): undefined reference to `gai_strerrorA'

my libevent version is 2.1.9

[2019-04-17 07:40] 18959263172 commented on #800
the cmakeFiles I use as below:

cmake_minimum_required(VERSION 3.12)
project(cUtils)
find_library(WS2_32_LIBRARY ws2_32)

set(CMAKE_CXX_STANDARD 11)
include_directories(./libevent/include)
link_directories(./libevent/lib)
link_libraries(libevent.a libevent_core.a libevent_extra.a)
#include_directories()
add_executable(cUtils main.cpp debug.cpp window.cpp window.h Base.h)
message(info ${WS2_32_LIBR

[2019-04-17 08:06] azat commented on #800
Can you try to move `target_link_libraries(cUtils ${WS2_32_LIBRARY})` before `link_libraries(libevent.a libevent_core.a libevent_extra.a)`?

And also please share verbose make output.

[2019-04-17 08:23] 18959263172 commented on #800
D:/projects/cUtils/./libevent/lib\libevent.a(evutil.c.obj):evutil.c:(.text+0xda4): undefined reference to `gai_strerrorA'
collect2.exe: error: ld returned 1 exit status
mingw32-make.exe[3]: *** [CMakeFiles\cUtils.dir\build.make:119: cUtils.exe] Error 1
mingw32-make.exe[2]: *** [CMakeFiles\Makefile2:72: CMakeFiles/cUtils.dir/all] Error 2
mingw32-make.exe[1]: *** [CMakeFiles\Makefile2:84: CMakeFiles

[2019-04-17 08:23] 18959263172 commented on #800
and I try remove WS_32 link in front of  libevent,it does'n help

[2019-04-17 08:26] azat commented on #800
That is not verbose output, verbose output should contain executed commands

Try one of the following-
- `make V=1`
- `make VERBOSE=1`

[2019-04-17 08:45] 18959263172 commented on #800
my platfowm is win7 64bit

[2019-04-17 09:21] azat commented on #800
Hm, I don't see any `-l<lib>` in this output, I need to see the order of the passed libraries, since the libraries should be searched. From gcc man:

           It makes a difference where in the command you write this option; the linker searches and processes libraries and object files in the order they are specified.  Thus, foo.o -lz bar.o searches library z after file foo.o but before bar.o.  I

[2019-04-17 09:31] 18959263172 commented on #800
thank you ,I change
`link_libraries(libevent.a libevent_core.a libevent_extra.a)`
to
`target_link_libraries(cUtils event event_core  event_extra)`
and it could be built,but it crashed when I run it,and just report
During startup program exited with code 0xc0000135.

[2019-04-17 09:32] 18959263172 commented on #800
I only call event_base_new() for test
` struct event_base *base;
    struct evconnlistener *listener;
    struct event *signal_event;
    struct sockaddr_in sin;

    Cpp11Test tst;

    vector <Cpp11Test> vTest;

    base = event_base_new();
    if (!base) {
        fprintf(stderr, "Could not initialize libevent!\n");
        return 1;
    }
    for (auto v : vTest){

    }`

[2019-04-17 09:41] 18959263172 commented on #800
sloved,I remove the dll it needed to the build folder and it worked

[2019-04-17 09:44] #800 closed

[2019-04-19 11:34] msrinirao commented on #797
@azat I donot have the working test code. However I have posted most of the function segments including `helper_run()`. I have now updated with `post_accept()` function .  The issue also seen in the upstream libevent giving the same crash dump. Would be great if a fix is available.

[2019-04-21 17:06] azat commented on #797
Well even though you use non-public API (`evhttp_get_request()`) and do not use the API in a normal way (i.e. overwriting callback of the http listener, and actually I don't see why you are using `evhttp_bind_socket_with_handle()` here, why not just `evconnlistener_new_bind()`, and I hope not because you do not want to create `sockaddr` structure for the later), I still don't see why this should l

[2019-04-21 17:09] azat commented on #797
@msrinirao

[2019-04-25 11:23] nvassilenko opened #805 "Compile errors on Visual Studio 2015"
While compiling libevent on Windows, I'm getting **C2491** errors:

[code]

Compiler:
[code]

CMake results:
[code]

**libevent version: 2.1.8**

I found similar problems in https://github.com/libevent/libevent/issues/511 but looks like this issue wasn't fixed there.

[2019-04-25 11:46] azat commented on #805
It has (that issue has been linked from commits that should fix it)

So I bet that if you will try to compile libevent from upstream everything should work, can you give it a try?

[2019-04-25 12:08] nvassilenko commented on #805
Ok, will check. Thanks

[2019-04-25 14:02] nvassilenko commented on #805
Works on latest master commits. Thank!

Closing the issue.

[2019-04-25 14:02] #805 closed

[2019-04-29 18:32] htuch opened #806 "libevent buffer corruption redux"
Similar to https://github.com/libevent/libevent/issues/778, https://github.com/htuch/envoy/commit/1cce012233b77b0387e4d91d4346b7d2316c2d26 demonstrates another issue where prepended bytes get dropped (expect to see `bbbbbeeee...`, get `eeee...` instead.

There is a setup involving empty string add, reserve with empty commit, buffer fragment ownership transfer via `evbuffer_add_reference` with an e

[2019-05-01 14:35] TomerHeber commented on #767
To clarify and to add on this:
Openssl 1.1 and above are made thread safe via a compilation flag (which is turned on by default).
https://www.openssl.org/blog/blog/2017/02/21/threads/

[2019-05-02 20:04] mdevaev opened #807 "Uninitialised value in evhttp + AF_UNIX"
I found some potentially dangerous behavior when using evhttp with unix sockets. Here the small example:
[code]

Run it using valgrind and try to perform several requests using curl:
[code]

You'll see something like that:
[code]
The reason is that `accept()` which is used deep inside the libvent to process requests uses `struct sockaddr`: https://github.com/libevent/libevent/blob/23e79fd764b9f36f

[2019-05-03 07:44] jurgenyang commented on #767
The cause of the problem has been found.
It's not libevent's problem, the real reason is in my own code.

The root cause is:
If a client sends a request but not waitting for response and close the socket immediately,
http_on_error in event.c will be called immediately after 'send_to_client_write_queue' at line 278 of event.c.
And then the http_write_queue_ready be called as the event callback of t

[2019-05-03 07:44] #767 closed

[2019-05-04 10:36] nobody0101 opened #808 "evhttp accept no client in ios when unlock the screen"
I write a local http server, and it works, but when I try this, bug happened, the step is:
1. open app
2. request local http server is ok
3. lock the iphone screen
4. unlock iPhone again and request local http server
5. nothing happened, no socket accept again, no request received!
by the way, timer event also find , bug the evhttp is not ok, the code is :

[code]

thank you

[2019-05-05 03:56] nobody0101 commented on #808
anybody knows?

[2019-05-05 16:29] azat commented on #808
Hi!

while calling event_init() will give you want you want this is deprecated API, and you should use event_base_new() instead

right now it is a no-op on non-linux (and it is a bug in libevent, will fix it later today).
but this should not affect your case, since you do not bind multiple sockets to one addr:port
(calling accept() for one fd from multiple threads without any options)

I guess tha

[2019-05-05 17:21] azat commented on #807
Hi, Nice catch!

Actually it uses *pointer to `sockaddr`*, not `sockaddr` (like 90% of net related functions), and when `accept()` called from `evconnlistener` [it passes sockaddr_storage](https://github.com/libevent/libevent/blob/c6becb26cad8dab2668fe3d913e5ee757bade2fd/listener.c#L402) via pointer to the `sockaddr`

The "problem" (in quotes because `man 3 getnameinfo` does not say anything about

[2019-05-07 07:37] hebrerillo opened #810 "Intermittent assertion in sample code https-client"
Hello!

In some executions of the sample code 'https-client' like this:

./https-client -url https://en.wikipedia.org/wiki/HTTPS

I get the following assertion:

[err] http.c:744: Assertion req != NULL failed in evhttp_connection_fail_

This assertion is intermittent and only raised with an URL using https protocol.

Am I missing something maybe?

Thank you!!

All the best

[2019-05-07 07:58] azat commented on #810
Hi!

This assert should not bail (and I cannot reproduce it).
Which version of libevent do you use? (commit hash)

[2019-05-07 08:35] hebrerillo commented on #810
Hello Azat!

I downloaded both version 'libevent-release-2.1.7-rc' and 'libevent-2.1.8-stable' and it is happening in both versions.

The assertion is intermittent. It happens every three or four executions.

Thanks!

[2019-05-07 08:57] hebrerillo commented on #810
Hi Azat!

When cloning the project with 'git clone' and so using libevent in the lastest commit (8701d0d3d251), the assertion is not happening anymore.

It is happening with the two versions I mention earlier.

[2019-05-07 15:51] nobody0101 commented on #808
thank you for reply, I write a simple Event lib to test this problem, and result is the same, so, it is iOS issue, I don't know what happened, it looks like kqueue had clean the event, when unlock the iPhone, I add an accept event, it still not work, until I restart the http local server
by the way, I will check this problem on osx later

[2019-05-09 11:31] mdevaev commented on #807
@azat maybe something like this? Tested & working.
https://github.com/mdevaev/libevent/commit/51c3559e1ec1ad1414b40d13680b1051306752d2

[2019-05-10 03:59] tturbs commented on #643
If anyone have any workaround of this, please let us know.

[2019-05-10 08:22] hebrerillo opened #812 "Crash when executing https-client sample code under helgrind"
Hi there!

I think I found another issue related to 'https' connections. I used the thread error detector tool 'helgrind'.

This is the output error:

[code]

The commit hash is '8701d0d3d2519800f46ab031a'.

Thanks!

[2019-05-10 19:59] azat commented on #812
it is single threaded, so no helgrind is pretty useless for it

this should be internal helgrind error, not related to libevent, but if you want to make helgrind work, try to upgrade valgrind (to 3.14 at least) and re-run

[2019-05-10 19:59] #812 closed

[2019-05-10 20:06] azat commented on #810
Hi @hebrerillo

So i guess this can be closed, since it is fixed in master, hence next libevent release will not have this issue.

[2019-05-10 20:06] #810 closed

[2019-05-10 20:07] #808 closed

[2019-05-10 23:47] azat commented on #806
Hi!

I looked through your test case, but AFAICS `use_old_` is `false` (but maybe `bufferFuzz` accept `old_impl` == `true` not sure).

So if you are sure that libevent `evbuffer` is used, can you look at the [backported test](https://github.com/azat/libevent/commit/93babbadd676cd781f719f689c04360f75c8c35d) ? (maybe I missed something).

[2019-05-12 12:55] azat commented on #807
Kind of, but this patch will likely breaks windows build, and I prefer to call `name_from_addr()` for AF_UNIX anyway, so I'm going to fix with a simpler patch

[2019-05-12 12:58] azat commented on #807
See the referenced patch (also I taught `http-server` to bind to unixsock see 0e5cba8dee48ec19190e57f6ee849c26bd83c505)

[2019-05-12 13:06] azat commented on #807
Actually 4e6c50a also is not complete, on it

[2019-05-12 14:56] mdevaev commented on #807
Nice. I forgot about windows :)

[2019-05-12 15:07] azat opened #814 "AF_UNIX since windows10"
https://devblogs.microsoft.com/commandline/af_unix-comes-to-windows/

[2019-05-12 16:07] #807 closed

[2019-05-12 22:07] azat commented on #797
Closed due to inactivity

[2019-05-12 22:07] #797 closed

[2019-05-12 22:11] azat commented on #734
Closed due to inactivity, feel free to reopen, once you will provide requested details

[2019-05-12 22:11] #734 closed

[2019-05-13 10:01] hebrerillo commented on #812
Thank you azat! After upgrading valgrind the crash is not happening anymore. Sorry to have disturbed you...

All the best!

[2019-05-13 19:21] htuch commented on #806
@azat the test is a `TEST_P`, run once with old and once with new buffer implementations. Here's the output:
[code]
The first run `\0` is with libevent buffers, where it misses the `bbb`.

[2019-05-14 14:40] YihaoPeng opened #815 ""Cannot find source file: WIN32-Code/getopt.c" in release-2.1.9-beta"
I tried to build v2.1.9-beta in Windows, but got the following error:
[code]

I think this is because the following files are missing:

`cd WIN32-Code`
`wget https://raw.githubusercontent.com/libevent/libevent/master/WIN32-Code/getopt_long.c https://raw.githubusercontent.com/libevent/libevent/master/WIN32-Code/getopt.h https://raw.githubusercontent.com/libevent/libevent/master/WIN32-Code/getopt.c`

[2019-05-14 14:45] azat commented on #815
Thanks for reporting this! Next release (2.1.10) will contain those files (will send a patch in a couple of hours)

[2019-05-14 21:00] azat commented on #806
Okay I found the difference (read uses reserve+commit instead of evbuffer_read())
Anyway, this should be fixed with 58a9190d8b7e68c99fb08252a59c1eb8f32a505a, I will merge it once I will finish with it

[2019-05-15 13:31] yuangongji opened #816 "test case "regress__KQUEUE" hang up on macOS"
## Platform and environment
macOS 10.13.5

libevent version: 2.1.8

cmake version: 3.14.2

$ gcc --version
[code]

## Build and test
Build with cmake and run test cases, get failure of "regress__KQUEUE" and "regress__KQUEUE_debug", the reason is timeout. The commands I used and output I got are as followed:
[code]

## Run the test cases independently
I tried to run these two test cases "regress__K

[2019-05-15 14:21] azat commented on #816
Should be fixed in 728c5dc11f55b4ba5f518812833eab5a2cc3d550

Refs: #747

[2019-05-15 14:21] #816 closed

[2019-05-15 18:31] #815 closed

[2019-05-16 07:26] #806 closed

[2019-05-16 07:32] azat commented on #806
@htuch patch has been merged, can you re-run envoy tests please?

*P.S. I already ran `OwnedImplTest/OwnedImplTest.ReserveZeroCommit/0` and it contains correct message in the log*

[2019-05-17 04:48] nickeylau opened #817 "in windows, there is 12ms delay with libevent-master version"
in windows, there is 12ms delay with libevent-master version
![image](https://user-images.githubusercontent.com/33596170/57903606-57d2a080-78a1-11e9-9fdb-39bd0996bd42.png)

in release-2.0.21-stable, it is well.
![image](https://user-images.githubusercontent.com/33596170/57903720-de877d80-78a1-11e9-857d-b79cf3b506fd.png)

time-test.c

[code]

[2019-05-20 18:43] htuch commented on #806
@azat thanks for the fix! I can confirm this resolves the Envoy-side issues, see https://github.com/envoyproxy/envoy/pull/7012.

[2019-05-23 09:50] azat commented on #817
Hi!

I cannot confirm this (tested 2.0.23, 2.0.21 and upstream)
Can you share more details on your build environment and command that had been used for building libevent?

Just a [link](https://github.com/libevent/libevent/blob/3b1864b625ec37c3051512845982f347f4cc5621/sample/time-test.c) to the source file was enough

[2019-05-24 01:43] zealda opened #818 "libevent crashed at the evhttp_clear_headers（） in android device"

[2019-05-24 02:14] zealda commented on #818
I use http api for httpclient，and i found an crash on evhttp_clear_headers or EVUTIL_TOLOWER_ when it is on the online env. the cash rate at 0.01%. special used is that ,i will evhttp_connection_free the connnection at chunk_cb or done_cb, wherther someone meet this ?, the crash stack:

EVUTIL_TOLOWER_
/root/work/p2p/release/douyu/1.2.36/android/jni/../../libp2p/../android/extern/libevent/evutil.c

[2019-05-24 13:43] nickeylau commented on #817
thks for reply!
environment: window7 debug x64
git clone https://github.com/libevent/libevent.git
replace the code of 'test/test_time.c' with time-test.c

cd libevent
md build
cd build
cmake -G "Visual Studio 12 Win64" -DEVENT__DISABLE_OPENSSL=ON -DEVENT__DISABLE_OPENSSL=STATIC ..

then use visual studio build libevent.sln,  start /test/test-time.exe,
the interval time is 2 seconds, there is 12 de

[2019-05-25 12:59] azat commented on #818
Hi!

This should not happens of course.

So here are some questions to begin with:
- Which version of libevent do you use?
- Can you run program under valgrind?

[2019-05-26 09:59] SC5Shout opened #819 "windows cmake build errors - no found some libraries, functions, macros"
Hi, I cannot build the library on windows, because there are not found libraries, functions and macros like

`-- Looking for sys/devpoll.h - not found`
`-- Looking for getaddrinfo - not found`

and this error:

[code]

my build settings
open cmd
`cd libevent-master/build`
`cmake -G "visual studio 16 2019" libevent-master`

how can I build it properly?

[2019-05-26 21:05] azat commented on #819
Hi!

This is not a problem, we just detect if we have this functions (on all platforms) and if not we provide our own (for getaddrinfo case) and ignore one or more libevent backends (devpoll case).

And this is a problem, as the message says you should set OPENSSL_ROOT_DIR (`cmake -DOPENSSL_ROOT_DIR=/path/to/openssl-root`).

But also you can turn off openssl support (if you do not have openssl lib

[2019-05-27 04:28] nickeylau commented on #817
I find a change in version 2.1.2-alpha (18 Nov 2012)
o Implement a GetTickCount-based monotonic timer for Windows (d5e1d5a)

![image](https://user-images.githubusercontent.com/33596170/58395358-4dbb5980-807a-11e9-9c2a-df91d28566c0.png)

GetTickCount does not have good precision if i tries to debug timings. It could have 1 or even 10 ms precision.
I have a try with _ftime or QueryPerformanceCounter

[2019-05-27 07:35] azat commented on #817
Hm, interesting, but when I measured this I had the same delays for the 2.0.x.
Can you share some numbers?

[2019-05-28 02:44] nickeylau commented on #817
i try to revert the function gettime in event.c to the 2.0.21-stable, it will be ok.

static int
gettime(struct event_base *base, struct timeval *tp)
{

EVENT_BASE_ASSERT_LOCKED(base);

	if (base->tv_cache.tv_sec) {
		*tp = base->tv_cache;
		return (0);
	}

#if defined(_EVENT_HAVE_CLOCK_GETTIME) && defined(CLOCK_MONOTONIC)
	if (use_monotonic) {
		struct timespec	ts;

		if (clock_gettime(CLOCK_MONO

[2019-05-28 02:47] nickeylau commented on #817
i try to revert the function gettime in event.c to the 2.0.21-stable, it will be ok.

static int
gettime(struct event_base *base, struct timeval *tp)
{

EVENT_BASE_ASSERT_LOCKED(base);

	if (base->tv_cache.tv_sec) {
		*tp = base->tv_cache;
		return (0);
	}

#if defined(_EVENT_HAVE_CLOCK_GETTIME) && defined(CLOCK_MONOTONIC)
	if (use_monotonic) {
		struct timespec	ts;

		if (clock_gettime(CLOCK_MONO

[2019-05-29 13:28] rubyFeedback opened #821 "Please consider dropping the -stable suffix for stable releases"
Hello libevent dev(s),

This is a very small "issue", not even an issue perhaps; at any rate, I will just explain it without much further ado.

Libevent currently has release URLs such as:

https://github.com/libevent/libevent/releases/download/release-2.1.10-stable/libevent-2.1.10-stable.tar.gz

First, it is nice that the version is part of the name of the .tar.gz archive. I also understand why t

[2019-05-30 07:58] azat commented on #821
Hi!

Yeah, I've already though about that, but decided to leave this as-is, since everyone who uses libevent dist archives got used to this.
*(But for me `-stable` suffix is superfluous)*

I don't know what kind of package manager do you have, but I think that this is inevitable for them, and for example debian has [`watch` file](https://wiki.debian.org/debian/watch)

So I *will* take a look at th

[2019-05-30 10:08] wenyg opened #823 "http_client.c socket error check"
When connecting to a non-existent HTTPS service, the `req` is not NULL but the `evhttp_request_get_response_code(req)` is zero. so should place the socket error checking behind.

e.g. the https server listening on port 443, but we connect to port 433
[code]
it should be this
[code]

[2019-05-31 21:44] azat commented on #823
Closed by #822

[2019-05-31 21:44] #823 closed

[2019-06-01 03:30] follower commented on #447
FWIW https://github.com/azat/libevent/commit/df01f798c2d63354e6a51b90017c2b7655927093 seems to break release-2.1.10-stable (looks like I previously had 2.1.8 installed) for Mac OS 10.9 (via homebrew):

[code]

`clang` version information:
[code]

[code]

[2019-06-02 16:43] azat commented on #817
Have you tried `EVENT_BASE_FLAG_PRECISE_TIMER`?
(or set `EVENT_PRECISE_TIMER` env var)

[code]

[2019-06-02 16:45] azat commented on #819
Closing for now, please reopen if you still cannot compile

[2019-06-02 16:45] #819 closed

[2019-06-02 16:46] azat commented on #818
@zealda can you provide details from the comment above?

[2019-06-02 19:27] azat commented on #447
@follower should be fixed in the 7d569b0

The problem here in apple clang I guess, that has the issues as [clang someday](https://reviews.llvm.org/rL223468) in the following versions:
- 600
- 500

Anyway this is pretty old osx version (I cannot get 10.9 but at least 10.8 do not have ssl cert for github, IOW that said to me that there should be too much users of 10.8)

[2019-06-04 06:41] nickeylau commented on #817
@azat it`s effective, thanks!

[2019-06-04 07:48] azat commented on #817
Great!

[2019-06-04 07:48] #817 closed

[2019-06-04 15:02] kishans12 opened #826 "Multi Thread Server Issue with threads"
https://stackoverflow.com/questions/56443741/multi-threaded-c-server

https://github.com/frknyldz/http-server-library/issues/2

Please look into this two URL shared

[2019-06-04 21:26] azat commented on #826
This is not how you should fill the issues (and frankly - writing code).
I will take a look into this but only this time.

So AFAICS your patter is as follow:
- create one socket for listening
- share this socket for in each thread
- has your own evhttp/event_base in each thread
- allow OS to pick random thread (calling listen() from multiple threads)
- (and you do not use IOCP)

So this looks to

[2019-06-05 05:48] #826 closed

[2019-06-05 05:49] kishans12 commented on #826
Thank You for your help @azat

[2019-06-05 09:46] tpgxyz commented on #821
By default name scheme of software distributed looks like this:
${name}-${version}.tar.gz

When you use RPM you need to adjust `%prep` section like this:

`%setup -q -n %{name}-%{version}-stable`
or
`%autosetup -n %{name}-%{version}-stable `

[2019-06-05 09:52] tpgxyz opened #827 "undefined reference when building with LLVM/clang"
Lots of undefined reference errors when compiling with LLVM/clang
Full build log can be found here http://file-store.openmandriva.org/api/v1/file_stores/06ec640360390e7ddd8d70fe979ff81ff98b9f16.log?show=true

[code]

[code]

[code]

[2019-06-05 10:36] tpgxyz opened #828 "Cmake builds wrong sonames"
When using cmake i got wrong sonames for all shared objects:

`libevent_core.so.2.1.10`

instead of right ones

`libevent_core-2.1.so.6`

[2019-06-05 21:48] azat commented on #828
Thanks for reporting this!

This is a known issue (see the first item in #760), right now autotools should be preferred over cmake if you are cares about compatibility and so on (since they indeed differs a little bit), but we going to change this.

Are you building libevent with cmake for some distro in "production"?

[2019-06-05 22:25] azat commented on #827
The problem is not in clang but in `-Wl,--no-undefined` in your `LDFLAGS`

And the only way to fix this is to link libevent.so during linking libevent_openssl.so, and I don't think that this should be done.

So you have two options:
- either remove `-Wl,--no-undefined` completely
- or use `-Wl,--unresolved-symbols=ignore-in-object-files` (i.e. `-Wl,--no-undefined -Wl,--unresolved-symbols=ignore-in

[2019-06-06 11:15] tpgxyz commented on #827
I've fixed it differently
https://github.com/OpenMandrivaAssociation/libevent/blob/master/libevent-2.1.10-stable-fix-linking.patch

[2019-06-06 11:17] tpgxyz commented on #828
@azat I've tried to build libevent with cmake to workaround bug https://github.com/libevent/libevent/issues/827, which in case of using cmake does not occur.

Unfortunately wrong soname pushed me back to use autofoo :<

[2019-06-07 06:48] Devious2 opened #829 "IOCP Multithreaded HTTP Server"
Hi,
Is it possible to get Multithreaded HTTP Server in windows with IOCP.

[code]

Have tried this but only one thread runs for all request

[2019-06-09 10:00] yurivict opened #831 "2.1.10 made an incompatible change in the library interface"
You only changed the minor library version number 6.0.2 -> 6.0.4, but you removed ```evutil_secure_rng_add_bytes()```, which is a major change in the library interface requiring the ```SONAME``` change.

Tor doesn't build now: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=238433

Please re-release with a proper SONAME.

[2019-06-09 16:00] yurivict commented on #831
Sorry, this was something not directly related to libevent, just having a suggestive name and time.

[2019-06-09 16:00] #831 closed

[2019-06-12 14:46] jeremyerb opened #834 "System with 4000 to 8000 interfaces using libevent evdns will have slow resolve performance"
On a system with 4000 interfaces, or more, libevent evdns will have rather poor resolve performance.  Function, evdns_getaddrinfo calls evutil_adjust_hints_for_addrconfig_, which will call evutil_check_interfaces,

This should be only done once, but have_checked_interfaces is never set to true.    So every time we will try to get all IP addreses for all interfaces, which on most systems goes un-no

[2019-06-12 14:47] jeremyerb commented on #834
Here is a little test script to create a bunch of VLAN tagged interfaces, and bridge them together.  You will require eth6 and eth7, modify how you desire.  Even without adding an IP Address to any of these interfaces the problem will exhibit itself.

for ((i=1000; $i<3000; i++)); do
        ip link add link eth6 name eth6.$i type vlan id $i
        ip link add link eth7 name eth7.$i type vlan id

[2019-06-13 08:54] ludwigschwardt commented on #447
@follower, glad to see other crazies compiling on ancient macOS! :man_facepalming: My excuse is masochistically attempting Python wheels as close as possible to the standard 10.9 deployment target - what's yours? :smile:

I had the same issue with Mac OS X 10.10.5 (with homebrew and libevent 2.1.10). My `clang` reports
[code]
The problem went away after I added a HEAD target to the libevent brew f

[2019-06-13 13:52] luckydonald commented on #447
Hitting the same issue when trying to install ffmpeg.

`Mac OS 10.9.5`,
[code]

[2019-06-13 13:54] luckydonald commented on #447
@ludwigschwardt could you share a copy of your formular file?

[2019-06-13 14:08] ludwigschwardt commented on #447
I simply added the following line to `libevent.rb`:
[code]
and then built the library with
[code]

[2019-06-13 18:25] azat commented on #834
Nice catch! Do you want to send a patch? Or I can fix this by myself of course.

[2019-06-13 18:32] azat commented on #829
Hi!

This should be possible indeed (although for http IOCP will not changes a lot I would say, at least for echo server)

You need to run this only once

This is racy, please try to guard this with the mutex and see will this changes your debug output?

[2019-06-13 18:38] azat commented on #827
You just link every library with libevent_core, so just like I already wrote:

Closing, feel free to reopen if you still disagree.

[2019-06-13 18:38] #827 closed

[2019-06-13 19:36] Tigerly opened #835 "libevent for normal file io"
I'm a beginner of libevent, now I'm trying to response for a normal file's read/write status based on libevent. For example, if a normal file (test.txt) has been modified, it can trigger an event.
I try to get the file descriptor by using "fileno()" like:

[code]

When I run it, it always complains:
[warn] Epoll ADD(1) on fd 6 failed. Old events were 0; read change was 1 (add); write change was 0

[2019-06-13 19:50] azat commented on #835
epoll/poll/.. does not support regular files, so the answer is "you cannot"

You can replace file with pipe and this will work, so suppose your program `a.out` accept file as a argument, you can use smth like this (in bash 4+) `a.out <(cat file.txt)` this will be translated to `a.out /dev/fd/63` (by bash) and `/dev/fd/63` is a pipe here (which will be written by bash).

Or you can use inotify `IN_

[2019-06-13 19:50] #835 closed

[2019-06-14 14:22] jeremyerb commented on #834
Created a pull request that will flag the have_checked_interfaces to true.  I was thinking it maybe better to also check that either have_ipv4 or have_ipv6 are true before we set this, but I think that logic gets complicated.   User code can call the check interfaces with the force_check if they expect the system interfaces or IP stack to change.

[2019-06-14 20:07] cmachacacordova opened #837 "Windows problem"
Goodnight.
I can not compile libevent in windows. I try to compile but the error appears:

C:\[HOME]\libevent-2.1.10-stable\buffer.c(3062): error C2065: 'PROT_READ': identificador no declarado [C:\[HOME]\libevent-2.1.10-stable\build\event_shared.vcxproj]
C:\[HOME]\libevent-2.1.10-stable\buffer.c(3069): error C2065: 'MAP_PRIVATE': identificador no declarado [C:\[HOME]\libevent-2.1.10-stable\build\e

[2019-06-14 21:08] azat commented on #837
Hi!

Windows do not have mmap() and the code in question is guarded with `#if defined(EVENT__HAVE_MMAP)` so looks like you have `mmap()`

Can you share whole cmake build directory?
I.e.

[code]

And upload the `build` folder here (I guess that you env has some extra includes, that has mmap() definition)

[2019-06-14 21:21] #834 closed

[2019-06-15 08:14] jbeich commented on #760
- `include/event2/bufferevent_ssl.h`  is conditionally installed by cmake but not autotools

[2019-06-16 12:01] DailyShana opened #839 "behavior of event_base_loopexit after bufferevent_write is different in ver 2.0.22 and 2.1.10"
encounter a problem when updating libevent from 2.0.22 to the newest stable version

In the following code, first run a thread as a server listening on port 7912
then run another thread as a client connecting to the server thread, and send a data to server
then server send a data and use `event_base_loopexit` close the server.
In ver 2.0.22 client can receive this data but in ver 2.1 cannot.
I don

[2019-06-16 21:46] azat commented on #839
Hi!

It is neither, in a nutshell, you should not write such code, that assume that the events will be triggered after you stopped the event loop with `event_base_loopexit()`, and if you will change `event_base_loopexit()` to the `event_base_loopbreak()` client's callback will never be triggered.

But just out of curiosity I bisected this problem, and the behavior changed in 35c5c955, which makes

[2019-06-16 21:46] #839 closed

[2019-06-16 21:54] azat commented on #828
Closing this one in favor to #760

[2019-06-16 21:54] #828 closed

[2019-06-16 21:54] #818 closed

[2019-06-17 02:59] DailyShana commented on #839
Thank you for detail explanation!

[2019-06-18 02:58] heaven-hq opened #841 "README for libevent"
When I downloaded the 2.1.8 version from the first Assert "libevent-2.1.8-stable.tar.gz"，opened  and found that there was no README file.

I thought there was no such file ,was going  to add it , later , very happy to find this file in the third and fourth assets ( Source code(zip) 、Source code(tar.gz) ).

Next，I checked version 2.1.10、2.1.9、2.1.5 ,etc ，had the same situation.

I wonder if the too

[2019-06-20 00:08] isaaczinda opened #843 "Missing OpenSSL Documentation"
I believe that libevent has a dependency on OpenSSL (found this [here]( https://github.com/libevent/libevent/blob/master/CMakeLists.txt#L814)). However, this isn't documented anywhere on the README and the lack of specifics here created a problem with my install on Windows 10. Steps to repro:

[code]

These are the exact steps documented in the README, but gives the error:

[2019-06-20 03:04] wangli28 opened #844 "[libevent] Build version 2.1.10 failed on triplet arm"
Because the cmake file does not link **advapi32.lib**, build version 2.1.10 failed on triplet arm. This is the error in **install-arm-windows-dbg-out.log**:
[code]
See more information:
[install-arm64-windows-dbg-out.log](https://github.com/libevent/libevent/files/3308588/install-arm64-windows-dbg-out.log)
Related: https://github.com/microsoft/vcpkg/pull/6969

[2019-06-20 07:30] follower commented on #447
@ludwigschwardt Primarily because I'm a curmudgeon. :D

Thanks @azat.

[2019-06-20 12:13] ygj6 commented on #843
There are two steps you should take to resolve this issue:

(1) Install openssl on Windows
You can simply download the installation package from [here](http://slproweb.com/products/Win32OpenSSL.html)  and double click it.
Or you can download source code from [official website](http://www.openssl.org/source/) and build/install by yourself, but it is a troublesome case.

(2) set the `OPENSSL_ROOT_DI

[2019-06-24 11:18] ygj6 opened #845 "FindOpenSSL bug on cmake 3.1.0"
My platform is **MacOS 10.13.5**, This problem only happens on **Mac**.

As written in the file `CMakeLists.txt`, the minimum required version of cmake is 3.1 ：
[code]
So I built this project with cmake-3.1.0, but I got the following errors:
[code]

I googled this error and got this answer:
https://bugs.archlinux.org/task/43688

It is a bug in FindOpenSSL.cmake on cmake-3.1.0 and fixed on cmake-3.

[2019-06-25 22:02] #845 closed

[2019-06-25 22:03] azat commented on #845
@ygj6 hi!
Thanks for the great report!
Fixed in the referenced patch.

[2019-06-25 22:16] azat commented on #843
Or you can simply disable openssl support with `cmake -DEVENT__DISABLE_OPENSSL=ON`

@isaaczinda did you resolve your problem?

FWIW @ygj6 added few notes about this in #842

[2019-06-25 22:23] azat commented on #841
No, just nobody cares about this till now, will fix shortly, thanks for the report!

[2019-06-25 22:29] #841 closed

[2019-06-25 22:31] azat commented on #844
@wangli28 hi, thanks for the report and details!
Could you please verify the referenced patch?

[2019-06-26 03:31] wanchana1yana opened #847 "Wanchana 1"
[Wanchana 1](yana)

[2019-06-26 03:44] #847 closed

[2019-06-26 03:47] #844 closed

[2019-06-26 03:48] azat commented on #837
@cmachacacordova any news?

[2019-06-26 03:48] azat commented on #829
@Devious2 any news?

[2019-06-26 06:58] azat commented on #760
Fixed in 5388a002f5ad3bdfc756584dc58485fc3db135d0, thanks!

[2019-06-28 22:44] isaaczinda commented on #843
This certainly resolves my issue! #842 is exactly the kind of documentation that would have been helpful to me when building. Once that PR is merged, feel free to close this.

[2019-07-01 20:46] azat commented on #837
Closing. @cmachacacordova feel free to reopen once you will have any news

[2019-07-01 20:46] #837 closed

[2019-07-01 20:46] azat commented on #829
Closing. @Devious2 feel free to reopen once you will have any news.

[2019-07-01 20:46] #829 closed

[2019-07-09 09:13] CHKun opened #851 "how to build libevent for QNX"
Whether libevent is applicable to QNX system.I have been unable to succeed. Can an experienced god give me some guidance?

[2019-07-09 09:25] redbrain opened #852 "EXC_BAD_ACCESS mac event add"
[code]

[2019-07-09 09:27] redbrain commented on #852
I have been porting an application to mac and found a few instances where i am getting segfaults in event_add. I cant see anything obvious in this stack trace to isolate whats happening maybe someone can give me a hint and what to check.

[2019-07-09 09:34] redbrain commented on #852
Maybe its a bad link frame 0 looks wrong

[2019-07-09 09:38] redbrain commented on #852
This is fixed in the latest commit from git:

[code]

[2019-07-09 09:38] #852 closed

[2019-07-10 22:34] azat commented on #851
Can you shed us some light on this, IOW what command did you try and what errors did you get?

[2019-07-11 07:18] #760 closed

[2019-07-11 15:18] deryck1031 opened #853 "CMAKE failed for building static lib"
Getting below cmake error when building static libraries:

**CMake Error:
  Error evaluating generator expression:
    $<TARGET_FILE_DIR:event_openssl_shared>
  No target "event_openssl_shared"
CMake Error:
  Error evaluating generator expression:
    $<TARGET_FILE_DIR:event_pthreads_shared>
  No target "event_pthreads_shared"**

`
    if (NOT WIN32)
        install(FILES
            "$<TARGET_FIL

[2019-07-11 17:00] ploxiln commented on #853
What version of what OS are you using? macOS 10.14? Ubuntu 18.04?
What version of cmake are you running?

[2019-07-11 18:24] deryck1031 commented on #853
cat /etc/redhat-release
Red Hat Enterprise Linux Server release 6.10 (Santiago)

cmake version is 3.13.2

[2019-07-11 21:02] #853 closed

[2019-07-11 21:04] azat commented on #853
669a53f3 breaks the build for static-only build, i.e. `cmake -DEVENT__LIBRARY_TYPE=static`, and I guess that @deryck1031 uses it.

The issue has been fixed in upstream, @deryck1031 can you please pull (or apply 55d1e20e manually) and confirm that it fixes the issue for you?

[2019-07-12 07:19] oliver-jinfeng commented on #283
0x000165b6) in ?? () from \/lib\/arm-linux-gnueabihf\/libc.so.6
#1  0xb6bc8ebe(+0x00024ebe) in raise () from \/lib\/arm-linux-gnueabihf\/libc.so.6
#2  0xb6bcb85c(+0x0002785c) in abort () from \/lib\/arm-linux-gnueabih     f\/libc.so.6
#3  0xb6d8c638(+0x00026638) in event_exit () from \/onecloud_app\/thunder\/lib\/libevent-2.2.so.1
#4  0xb6d8c74a(+0x0002674a) in event_errx () from \/onecloud_app\/t

[2019-07-12 18:49] deryck1031 commented on #853
just tried the latest build.  no issue found.  Thank you very much...

[2019-07-16 03:58] LiSheep commented on #283
I think it could be double free. Pay attention of ` bufferevent_free` don't call in error_cb.
PS. It's just a suggest, callback is realy evil... you don't know when and whether it is async or is sync...

[2019-07-17 07:26] azat commented on #283
@oliver-jinfeng you can use valgrind/sanitizers (i.e. compile with `-fsanitize=address`) to debug this.

@LiSheep

Actually it is 100% safe (since bufferevent uses refcount, and bufferevent_free() will free the bufferevent only when refcount is zero)

[2019-07-18 14:01] t7ko opened #854 "timeout when reading data from socket over SSL"
I use libevent to accept incoming HTTPS connections.  What I observe is, sometimes it gets stuck while receiving incoming request body -- as if client did not send small remaining part of the request, and eventually times out.  But right after I send back error response on that socket, event dispatch suddenly discovers that the data is there (event_active with EV_READ on the same socket fd).

Afte

[2019-07-19 16:00] Croydon commented on #843
I would also like to know which OpenSSL versions are official supported

[2019-07-22 12:43] azat commented on #843
For now upstream libevent supports:
- openssl <1.1
- openssl >=1.1 (lots of deprecated API and new helpers)
- libressl
- and other compatible libs

But libevent 2.0 supports only openssl <1.1 and compatible to it libraries

[2019-07-23 03:05] heaven-hq opened #855 "There is a low probability that a NULL reference occurs."
The evbuffer_add_cb function of the Buffer.c file is defined as follows:
[code]
void
evbuffer_setcb(struct evbuffer *buffer, evbuffer_cb cb, void *cbarg)
{
	EVBUFFER_LOCK(buffer);

	if (!LIST_EMPTY(&buffer->callbacks))
		evbuffer_remove_all_callbacks(buffer);

	if (cb) {
		struct evbuffer_cb_entry *ent =
		    evbuffer_add_cb(buffer, NULL, cbarg);
		ent->cb.cb_obsolete = cb;
		ent->flags |= EVBUFF

[2019-07-23 21:35] azat commented on #855
Nice catch, indeed!

It shouldn't. Everything should be stable.

We will glad to accept a patch! Or you just want this to be fixed?

[2019-07-23 21:37] azat commented on #855
P.S. this can be even tested by using custom memory allocation functions (see `event_set_mem_functions()`) via `test/regress_buffer.c`

[2019-07-23 22:22] azat commented on #854
So you are using watermarks over openssl buffer

Looks like the following patch in upstream should fix it 5a455acd3bdf9a0117f909450ac7ea693ca93912, I read that you cannot migrate from libevent 2.0, but if you can just check last upstream onetime that will be great? If not you can backport that patch to **2.0.23** (note 2.0.23 here, not 2.0.22) (I just verified that it applies cleanly without any c

[2019-07-24 01:50] heaven-hq commented on #855
Thanks for the test suggestions . I am glad to send patch and contribute to community.

[2019-07-29 07:13] #851 closed

[2019-07-29 09:17] shbfxwzf opened #859 "time-test.c"
For time-test.c file, under Linux, when the -O2 option is used for optimization compilation, the compiled program can get correct results, but if the -O2 option is not used, a segment error will occur

[2019-07-30 07:14] azat commented on #859
Can you please post the error (with the stacktrace where the SIGSEGV happens) ?

[2019-07-30 08:36] shbfxwzf commented on #859
I got this by debugging under GDB
![pic_error](https://user-images.githubusercontent.com/25627685/62113928-2128f580-b2e8-11e9-9c85-f63f2f4da92c.PNG)

[2019-07-31 07:44] #855 closed

[2019-07-31 10:15] YongtaoS opened #861 "how to handle concurrent download requests without getting killed by system?"
Hi,

I want to use evhttp_send_reply_chunk() to handle a amount of concurrent requests for downloading. The code is as follows, and quite similar to the solution mentioned in https://github.com/libevent/libevent/issues/536.

The sending rate of a single download request is c.a. 4Mbps. Since my server has at least 1.5GB free memory and a 10Gbps network interface, I suppose the application was able

[2019-07-31 15:58] YongtaoS commented on #861
One solution is to use send_reply_chunk_with_cb(), so that libevent can decide when to send the subsequent chunks. A sample solution is as follows. The solution can maximize the throughput of the network interface and approach the resource limit of the hardware (e.g. memory), i.e. it can handle c.a. 330 concurrent requests, as I mentioned before.

However, it looks like that the libevent holds the

[2019-07-31 16:24] YongtaoS opened #862 "Memory not properly released by evhttp in case of high demand of concurrent requests ?"
It looks like that the libevent holds the resource without proper releasing them after a high demand of concurrent download requests. For instance, in my scenario (https://github.com/libevent/libevent/issues/861), if I increase the number of concurrent requests as shown below, the memory usage increases reasonably as below.
[code]
Once the requests are done, the memory goes back to c.a. 40MB. But

[2019-07-31 16:24] #861 closed

[2019-07-31 18:33] azat commented on #862
How do you measure this?

Basically what `evhttp_send_reply_chunk_with_cb` does, is storing all the passed data in a buffer until it will be sent completely (it drains send already data of course).

So the possible issues can be:
- client slow read
- memory fragmentation (you can call `malloc_trim(0)` but this is not for production purpose)

[2019-07-31 18:41] azat commented on #862
Also you may be interesting in that by default bufferevent (that internally used by http layer) will send data in 16k chunks, you can modify this using `bufferevent_set_max_single_write` and use `evhttp_set_bevcb` to create custom `bufferevent` for http connection, i.e.:

[code]

[2019-08-01 09:06] YongtaoS commented on #862
Hey Azat,

Thanks a lot for the feedback! I observe those values using `top` and `htop`.

Yes, I think you are right. Your suggestions address the problem.

I can never reproduce the problem if I generate the requests on the local host, even the problem occurs randomly sometimes in case of using two hosts. Could you please explain why cllient slow read is related to the problem? Thank you.

`mallo

[2019-08-01 22:24] azat commented on #862
If the client reads the data slowly, but server always adds new data, then server will need to keep in memory.

There is `bufferevent_setwatermark()`, but I guess that it will introduce more problem then it solves for the http layer. So I'm not recommending it.
But you can emulate this manually, i.e. do not send new chunks if the output buffer is greater then some threshold, i.e. something like th

[2019-08-02 07:33] sclei commented on #707
2.1.10

[2019-08-02 08:06] YongtaoS commented on #862
I can understand the server will keep more data in memory due to the flow control, if the client receives the data slowly. The question is why the memory would not be released after that. I guess it tries to hold a large continuous block of memory for send buffer fragments, in case of frequent memory fragmentation.

The emulation of rescheduling reply_chunk looks like not working. It never hits th

[2019-08-02 08:15] azat commented on #862
Memory fragmentation.

Interesting, so this means that the problem is in memory fragmentation.

But at first glance the program does not looks like the one that will
have trouble because of this, i.e. even if it is not released to the
OS it should not be a problem at all, allocator still can reuse it (you
can verify this by using malloc_stats()/mallinfo() and related)

You can implement your custo

[2019-08-02 14:06] YongtaoS commented on #862
The program does reuse that memory. That is the reason for

The problem now I am facing is that if that memory is not released to the OS, other programs cannot get more memory from the OS, even there are enough memory.

[2019-08-02 15:16] azat commented on #862
On Fri, Aug 2, 2019 at 5:06 PM ys <notifications@github.com> wrote:

Well you can tune overcommit (on linux /proc/sys/vm/overcommit_memory)
and/or enable swap, but this can (and I guess *will*) slow down the
whole system.

I would prefer to add more memory there (i.e. double), but yes, this
is not always possible or/and great solution.

So I guess that the only option you have - is replace malloc

[2019-08-02 15:59] YongtaoS commented on #862
Unfortunately, static object size is not my real case. The size varies dynamically.
Anyways, thanks a lot!

[2019-08-02 17:51] ploxiln commented on #862
for some workloads, [jemalloc](https://github.com/jemalloc/jemalloc) is better about avoiding fragmentation and releasing memory back to the system, than the glibc built-in allocator

[2019-08-02 22:47] theirix opened #863 "Uninstall.cmake.in is missing from 2.1.11 release"
Trying to build a fresh 2.1.11 release. It introduces generating `Uninstall.cmake` but the source file `cmake/Uninstall.cmake.in` is missing from the official archive so build fails. Release notes said to use libevent-2.1.11-stable.tar.gz (not the sources generated by github automatically).

Reproducing (on macOS):
[code]

[2019-08-03 11:33] #863 closed

[2019-08-03 11:35] azat commented on #863
Thanks for the report!

Fixed in upstream, but it will not be fixed in dist archive, since it had been released already

Well let's me elaborate this a little, libevent's cmake support is in beta stage for now, so it is recommended to use autotools build, and this dist archive is only related to autotools, IOW it is perfectly fine to use sources generated by github if you are using cmake.

[2019-08-04 11:12] theirix commented on #863
Thanks for the quick fix!

Sure, I was aware of experimental support for CMake for previous versions of libevent but I thought CMake became an official build method since 2.1.10 when it was reflected in documentation (Building.md).

[2019-08-05 05:51] sclei opened #864 "The sender sends the data too fast, and the buffer of the bufferevent receiver loses a small amount of data."
- Host environment: CentOS 6.7
- Libevent version: 2.1.10 stable
- Client: webbrowser's websocket client ,java's websocket client

The client uses the 'for loop' to continuously send data to the server, and the bufferevent on the server triggers the read callback function. I separate the glued packets in the callback function. The basic principle is to use ‘evbuffer_copyout_from’ to pre-read the h

[2019-08-05 10:32] YongtaoS commented on #862
Hey ploxilin, jemalloc sounds like a good option! Thank you!

I am also wondering whether it could be another solution if I allocate the memory always with a constant size and feed them to send_reply_chunk() with a specific constant size. It looks like the problem is reproducible if using dynamic varying sizes, but occurs rarely if the size is fixed. My knowledge about OS is very limited.

[2019-08-05 20:36] ploxiln commented on #862
Yeah, maybe ... how this works is that the allocator library (typically provided by libc if you don't override it with one like jemalloc) gets big chunks of memory from the OS, and then gives out small chunks when you call `malloc()`, and puts those small chunks back in the "free pool" when you call `free()`. If any part of the big chunk from the OS is still in use, none of it can be released back

[2019-08-05 21:54] azat commented on #864
Hi!

No.

Sounds like this can be reproduced without code around, can you provide a sample/reproducer?

P.S. and all known issues with evbuffer corruptions has been addressed up to 2.1.10, so you should not be affected by them.

[2019-08-05 21:58] azat commented on #859
So, first of all it is 2.0.x

Can you install debug symbols or if you do not have such ability compile libevent 2.0.23-beta from sources (this should be pretty trivial todo, since libevent do not have lot's of dependencies) and check if you can reproduce it?

[2019-08-05 21:59] azat commented on #854
@t7ko any news here?

[2019-08-06 00:42] sclei commented on #864
I reused the evhttp 's fd in new  bufferevent and toke a mistake to call 'bufferevent_disabled' with 'NULL' as the second parameter ,  the old buffereventi race with the new to read the data left by the new bufferevent.
I have found the cause and fixed my code ,I will close this issue.
Thx for your reply and contribution!

[2019-08-06 00:43] #864 closed

[2019-08-06 00:52] shbfxwzf commented on #859
I cloned the latest libevent source code and compiled and installed it according to the instructions，

$ ./configure
$ make
$ make verify   # (optional)
$ sudo make install

The installation went smoothly without any errors，
As for the debugging symbol you mentioned, I have used the option of -g when compiling.
I hope to get further help from you if there is anything left out

[2019-08-06 06:49] dota17 opened #865 "A null pointer may cause a segmentation fault."
The main function of the sample/signal-test.c file is defined as follows:
[code]
It is possible to have a null pointer returned in the event_new()。
[code]
Once a null pointer is passed in, event_add() does't have a null protection, it will cause a segmentation fault.
[code]
Therefore, I came up with two ways to improve it.:
1. Add an null protection in the event_add().
2. Check the return value of

[2019-08-06 07:48] ploxiln commented on #865
It's a test. If there is a null pointer segmentation fault, the test fails. If the allocation is checked for failure, and failure is detected, the test fails ... more cleanly. It's probably not worth the more verbose code for this extremely unlikely case which will be caught anyway.

[2019-08-06 14:48] YongtaoS commented on #862
Great, appreciate much for the explanation of you guys.
will try and close the issue later if no more problems pop up.

[2019-08-08 07:55] azat commented on #865
Agree with @ploxiln , although I'm not against adding NULL check after `evsignal_new()`.
@dota17 could you send a patch, or should I take care of this by myself?

[2019-08-08 08:08] azat commented on #859
I just noticed that you are using time-test.c from upstream with libevent 2.0, though they do not have meaningful diff.

If you get the latest sources, then it is upstream, not 2.0.23, am I right?
If so then you program still uses 2.0 version, you can verify this with `ldd /path/to/so`

Did you pass it to the libevent?

So here is what I would do if I got this:

[code]

And after this steps I stil

[2019-08-08 12:19] Devious2 opened #867 "Specify Python version"
I have two versions of Python  installed on RHEL how can i specify to use Python version 3

[2019-08-08 12:43] dota17 commented on #865
Yes, I am glad to submit a patch. Besides, I agree with @ploxiln too. We should terminate the test with an error message if the allocation is checked for failure. But we can't guarantee that everyone will do this when calling event_add(). So, I prefer to add NULL check. :)

[2019-08-08 12:44] ygj6 commented on #867
You can simply make a symlink for python3
[code]

Otherwise, you can set `PATH` environment variable:
[code]

[2019-08-08 12:48] Devious2 commented on #867
It is still giving me this `Could NOT find PythonInterp: Found unsuitable version "2.7.5", but required is at least "3" (found /usr/bin/python)`

[2019-08-08 12:49] Devious2 commented on #867
for sym link it is giving me `failed to create symbolic link ‘/usr/bin/python’: File exists`

[2019-08-08 12:52] Devious2 commented on #867
i am still a rookie to linux, Is there a way i can make changes in cmakelist.txt to make it accept Python3?

[2019-08-08 12:53] azat commented on #865
We shouldn't, this is not our job, `event_add()` never has NULL check for `event` (this is
So I prefer to add NULL check into `signal-test.c` only, so simply `if (!event) goto fail;`

[2019-08-08 12:55] Devious2 opened #868 "Cmake Error"
CMake Error: File /home/testuser/LibeventLib/libevent-2.1.11-stable/cmake/Uninstall.cmake.in does not exist. ho

[2019-08-08 12:58] azat commented on #867
Please post the output of:
- `python --version`
- `python3 --version`

[2019-08-08 12:59] azat commented on #868
Already fixed in #863 (and there is no new release with this fix yet, but you can use git)

P.S. Please [search the issue](https://github.com/libevent/libevent/issues?utf8=%E2%9C%93&q=uninstall+) before posting new one

[2019-08-08 12:59] #868 closed

[2019-08-08 13:01] Devious2 commented on #867
python --version  2.7.5
python3 --version 3.7.4

[2019-08-08 13:07] kishans12 commented on #868
Thank you for prompt reply and sorry for the inconvenience caused.

[2019-08-08 13:12] azat commented on #867
Does `cmake -DPython_ADDITIONAL_VERSIONS=3` fixes it?

[2019-08-08 13:14] azat commented on #867
And actually libevent supports python2 too, can you please post the whole log and which version of libevent do you have?

[2019-08-08 13:28] Devious2 commented on #867
libevent 2.1.11 i am using.

[code]

[2019-08-08 13:34] Devious2 commented on #867
No it does not

[2019-08-08 13:37] azat commented on #867
Because it is not fatal error

This one is fatal, see #863 and #868

[2019-08-08 13:48] Devious2 commented on #867
sorry for my ignorance exactly what do i have to change?

[2019-08-08 14:03] azat commented on #867
- Download [this archive](https://github.com/libevent/libevent/archive/release-2.1.11-stable.tar.gz)
- Clone the git repository, instead of downloading tarballs

[2019-08-08 14:30] Devious2 commented on #867
Thank you @azat

[2019-08-08 17:27] #867 closed

[2019-08-09 09:31] #865 closed

[2019-08-09 10:13] Devious2 commented on #867
Hi Azat, i am getting issue related to ```
Linking C executable bin/https-client
/usr/local/ssl/lib/libcrypto.a(dso_dlfcn.o): In function `dlfcn_globallookup':
[code]

[2019-08-09 12:01] azat commented on #867
This is not related to python version anyhow, let's discuss this on [gitter](https://gitter.im/libevent/libevent) and please use proper markdown or do not use it at all (since it is very hard to read such messages)

[2019-08-09 18:09] damonearp opened #872 "Persistent Timer w/ Immediate Activation"
I'm looking to run some code every N seconds, including immediately after dispatching the event base. Naturally `event_active` to the rescue! And indeed the callback is immediately called, however the second invocation of the callback is delayed for 2 times the timeout.

##### Test Case -- Debian 9.9 -- v2.0.21

[code]

##### Output
[code]

As you can see by using `event_active` I guarantee the se

[2019-08-09 20:38] refi64 opened #873 "Release tarball doesn't contain Uninstall.cmake.in"
This causes the following build error:

[code]

[2019-08-10 02:12] ygj6 commented on #873
There is a bug in `release-2.1.11-stable`. Please build it via `autotconf/automake` instead of `cmake`, the commands are:
[code]
If you really want to use `cmake`, you should download the [Source code](https://github.com/libevent/libevent/archive/release-2.1.11-stable.tar.gz) or  clone the git repository  instead of `libevent-2.1.11-stable.tar.gz`.

It already fixed in #863

[2019-08-10 02:41] refi64 commented on #873
Ah sorry for the noise, can't believe I missed that previous bug report...

On Fri, Aug 9, 2019, 9:12 PM yuangongji <notifications@github.com> wrote:

[2019-08-10 04:20] #873 closed

[2019-08-10 13:22] zfl9 opened #874 "Is it possible to call `bufferevent_write()` to write data immediately after a successful call to `bufferevent_socket_connect()`?"
After I successfully call the `bufferevent_socket_connect()` method, is it allowed to call `bufferevent_write()` immediately to write tcp data? Or, I have to wait until `event_cb`'s `BEV_EVENT_CONNECTED` is triggered before calling `bufferevent_write()` to write data?

Of course: I understand that a successful return of `bufferevent_socket_connect()` simply means that the tcp connection is in prog

[2019-08-10 13:25] zfl9 commented on #874
Do I have to wait until event_cb's BEV_EVENT_CONNECTED event fires before I can call bufferevent_write()?

[2019-08-10 17:20] azat commented on #874
No, you shouldn't, you can call bufferevent_write() at any time

Actually it will just append data to buffer, and the buffer will be drained to fd once it will be possible

[2019-08-10 23:28] zfl9 commented on #874
So, after I create the bufferevent object, I can call bufferevent_write() to write the data at any time. No matter if the underlying connection is already established, libevent will send the data after the connection is established and writable, right?

[2019-08-11 05:16] azat commented on #874
Yes

[2019-08-11 05:17] zfl9 commented on #874
thanks.

[2019-08-11 05:17] #874 closed

[2019-08-12 03:00] hhb1029 opened #875 "How to set underlying socket fd option when use evhttp"
Hi，

I'm trying to use http.h for an http client. I use `bufferevent_socket_new(base, fd, BEV_OPT_CLOSE_ON_FREE)` to new `struct bufferevent` with my own fd, so I can set fd option by `setsockopt`, however it seems doesn't work.

This fd set in `struct bufferevent` will be close when make connection by function `evhttp_connection_reset_`

https://github.com/libevent/libevent/blob/1c573ab3a9037c560

[2019-08-12 10:47] linxingyang opened #876 "cross compile skipping incompatible libc.so.6"
hi
i have two cross compile tool chain, and i using them to compile libevent, one is success, but another is fail.

[code]

the information about libc.so.6
[code]

[2019-08-12 21:57] azat commented on #875
Right now there is no ability to do this cleanly.
There is #795 but there are some caveats.

[2019-08-12 22:00] azat commented on #876
Hm, and how this is related to libevent? Looks like linker issue.

What is the difference between them?

[2019-08-12 22:17] azat commented on #872
Yep, looks like a bug, I will take a look, many thanks for the reproducer!

[2019-08-13 08:03] azat commented on #872
A little introduction on how timeouts works, once you schedule adds the event with the timeout the event's deadline is calculated, this is when the event should be called if it did not triggered before. And if the event timedout, and this is persistent event (`EV_PERSIST`), then another **timeout interval added to the current event's deadline** (now current time).

So, once event with `EV_TIMEOUT|

[2019-08-13 11:25] hhb1029 commented on #875
Is it possible to trigger a callback before establishing a connection just like trigger `evcon->closecb` before close fd ?

[2019-08-13 11:53] ugenehan opened #878 "complie error in windows with vs2017"
compile version 2.1.10 is successful with command cmake -G "Visual Studio 15 2017" ,while errors have occured with version 2.1.11.
CMake Warning at CMakeLists.txt:1492 (message):
  The doxygen target will not support since doxygen command was not found!
/cmake/Uninstall.cmake.in does not exist.
CMake Error at CMakeLists.txt:1498 (configure_file):
  configure_file Problem configuring file

[2019-08-13 12:43] linxingyang commented on #876
the two complie tools are using for different linux CPU type -- arm arago ( complie fail）and arm nuvoton.

i was think it's linker issue, but both two cross compile tool chain works fine when i using them to comile other libs, like json-c.

i've trying compile libevent2.1.8 and libevent2.1.11, both has the same problem

maybe the compile chain do has problem...

[2019-08-13 13:48] damonearp commented on #872
Didn't occur to me to just pass a `0`, oh well. Thanks for the analysis, and I'll leave it to youall to determine the best course forward. Thanks for this great tool!

[2019-08-13 22:23] azat commented on #876
Libevent do not has any tricky libc usage

This is not fatal error I think, and of course linker should skip this library since this is x86 library

So, does libevent failed to compile or you just got this message? If it fails (no libraries after `make`) please upload logs somewhere (gist for example)

[2019-08-13 22:26] azat commented on #875
If you are asking about callback between `socket()` and `connect()`, than no, there is no such callback right now.

What socket options do you need?

[2019-08-13 22:28] azat commented on #878
Please take a look at https://github.com/libevent/libevent/issues/863#issuecomment-517917989

P.S. and please use the search before posting new issues

[2019-08-13 22:28] #878 closed

[2019-08-14 01:43] hhb1029 commented on #875
I want to set `TCP_NODELAY` to turn off Nagle’s Algorithm.

When I use `bufferevent_openssl_socket_new` for https test, I found http message will be sent separately from the http header and the http body. However the http server does not reply ack immediately after receiving the http header. The client does not send the http body until the server responds with ack after 40ms timeout.

This will af

[2019-08-14 02:08] linxingyang commented on #876
this is full libevent make log [make.log](https://github.com/libevent/libevent/files/3499461/make.log)

if i just ignore make message, and still make install
[code]

but when i compile xfrpc(relay on libevent), it's fail, and this is the log [xfrpc-make.log](https://github.com/libevent/libevent/files/3499499/xfrpc-make.log)

is this means after libevent make install, although report that message(.

[2019-08-15 08:27] azat commented on #876
[code]

And hence:

[code]
*(since they are provided by libc.so.6)*

[2019-08-17 13:20] wyzhou1206 opened #880 "How to build libevent for ubuntu"
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /bin/mkdir -p
checking for gawk... no
checking for mawk... mawk
checking whether make sets $(MAKE)... yes
checking whether make supports nested variables... yes
checking whether make supports nested variables... (cached) yes
checking for style of inc

[2019-08-17 16:27] ploxiln commented on #880
Which version of ubuntu are you using, ubuntu 18.04?
Which version of libevent did you download, was it the official release tarball `libevent-2.1.11-stable.tar.gz`, or did you clone the git repository?

I think what may have happened is that you ran `./autogen.sh` to generate the configure script yourself, but you didn't have libtool-related autoconf macros installed. You may just need to `sudo a

[2019-08-20 11:23] sclei commented on #315
Hello, @azat,  I also encountered the same problem in 2.1.11.
I opened **a new thread** to process the http request in the callback function, and used the evhttp_send related function or the replay function to reply to the client in this new thread.  **Sometimes I run into this problem, usually when the client's request is sent fast.**
I want to know if the evhttp module does not support calling e

[2019-08-20 13:04] ygj6 commented on #705
I found that the default version of openssl in Ubuntu 18.04 (Bionic Beaver) is 1.1.1, and travis can now run projects on it.
https://github.com/ygj6/libevent/commit/ad9edb49bb15fb725cc6ba0391900a0957ede08c

[2019-08-20 18:24] rbalint opened #881 "Please clarify the license of event_rpcgen.py"
The license says "All rights reserved" but I assume it is under 3 clause BSD.

[2019-08-21 01:45] sclei opened #883 "I use evhttp as the http server, and when the client repeatedly requests it, I get an event_errx error, version 2.1.11."
Hello, @azat,  I also encountered the same problem in 2.1.11.
I opened **a new thread** to process the http request in the callback function, and used the evhttp_send related function or the replay function to reply to the client in this new thread.  **Sometimes I run into this problem, usually when the client's request is sent fast.**
I want to know if the evhttp module does not support calling e

[2019-08-21 02:04] sclei commented on #883
I have already written the demo to reproduce this problem，and reproduced almost every time.
Env : CentOS 6.8 x64 libevent-2.1.11-stable
demo : https://github.com/sclei/libevent/tree/demo_rep_event_errx_evhttp
![image](https://user-images.githubusercontent.com/24380548/63396319-3d0c4c80-c3f9-11e9-8784-6a4908afc28c.png)

[2019-08-21 07:53] azat commented on #881
I'm pretty sure that your assumption is correct, @nmathewson objections?

[2019-08-21 07:58] #705 closed

[2019-08-21 07:58] azat commented on #705
@ygj6 indeed, applied thanks!

[2019-08-21 08:27] azat commented on #883
Hi @sclei, many thanks for the reproducer!

You need to create thread-safe bufferevent in this case for http layer, so here is the [patch](https://github.com/libevent/libevent/files/3524283/0001-Create-thread-safe-bufferevents-for-http-server.patch.txt) for your example.

[2019-08-21 11:32] sclei commented on #883
Thanks for your patch, it works, but it requires me to move "evhttp_set_bevcb" to the front of "evhttp_bind_socket_with_handle".
I will learn how it works.

[2019-08-22 03:36] Goujay opened #884 "例子中的 http-connect 该传啥参数能起来呢。"
我是这么传的http://localhost:9995/index.html http://localhost:9995/index.html

[2019-08-22 04:22] Goujay commented on #884
![QQ截图20190822122204](https://user-images.githubusercontent.com/24580849/63485842-79ae7580-c4d7-11e9-806e-4c92fe14db72.png)

[2019-08-22 06:09] azat commented on #884
Please write in English your question.

[2019-08-22 12:31] heaven-hq commented on #884
@Goujay Suggest you upload a link that can be opened, and described in English.

[2019-08-23 13:25] #884 closed

[2019-08-25 05:29] #883 closed

[2019-08-27 22:29] azat commented on #880
Closing due to inactivity, @wyzhou1206  please reopen if you still did not resolve this

[2019-08-27 22:29] #880 closed

[2019-08-27 22:29] azat commented on #876
@linxingyang did you deal with this?

[2019-08-27 22:35] azat opened #887 "ABI checker on CI"

[2019-08-29 14:26] gladsnow opened #889 "Can the asynchronous http requests based on libevent be implemented?"
Recently I  use the libevent's http functions to implement the  asynchronous http client.
I have tried some methods，but the results are unsatisfactory. Is there a better way to achieve the asynchronous http client? Thanks in advance.

[2019-08-29 14:38] ygj6 commented on #782
I found some issues related to the doxygen documentation:
- Documentation for `bufferevent_compat.h` and `rpc.h` is not generated since the `@file` command is missing. It can be fixed by adding `@file` in file comment block.
- The briefs of buffer.h,bufferevent.h and some other files are missing. Adding `@brief` command can fix it.
- The parameters in the function declaration are different from th

[2019-08-29 20:01] azat commented on #889
Can you share some code and describe what the problem is?

[2019-08-29 20:08] azat commented on #782
@ygj6 applied, thanks! (also I added missing link to the watch.h into event.h)

[2019-08-30 05:11] gladsnow commented on #889
Sorry,I couldn't share the code because of the code is belong to my company. I can talk about my ideas.
1.I create an event loop by using a thread , and add a socket connection to the loop.
2. I use the connection to make many requests by calling evhttp_make_request() repeatedly.
3. When the http server can't work, I  still make many requests by calling evhttp_make_request() . I find that the memo

[2019-08-30 07:26] azat commented on #889
It is better to schedule requests from the same thread and also only after previous one finished

So IOW you just need to stop making requests if the server did not respond? Then you just need to write it.

[2019-08-30 15:35] gladsnow commented on #889
I mean that when the http server suddenly stop responding, the http client doesn't know the http connection is broken. In the case, the http client  continues to send requests to the http server.
According to my business requirements，no matter what state the http server is in，I need to allow the http client to send asynchronous requests. So what shoud I do for implementing the http requests based

[2019-09-01 11:03] Jingzhao123 opened #890 "warning: sysctl is not implemented and will always fail"
Hi,
When i build the libevent, there is always a warning. Just like that:
[code]
I check the document carefully. I found that the official doc does not suggest using the "sysctl" function:
http://man7.org/linux/man-pages/man2/sysctl.2.html
They suggest that "Glibc does not provide a wrapper for this system call; call it using syscall(2)."
Is any one encounter this problem ?
Configurations:
OS:Ubun

[2019-09-01 16:18] ploxiln commented on #890
It's a fallback that is typically never attempted on linux:

[code]

So if `/dev/urandom` is accessible, or if `/proc/sys/kernel/random/uuid` is accessible, it doesn't actually try the sysctl libc call. So if you can ignore the compiler warning, it's fine :)

Anyway, that sysctl strategy should probably be replaced by `getrandom()` if available.

[2019-09-02 05:01] tim-le opened #891 "EV_READ keep triggering when input buffer reaches highmark, behavior is different from 2.1.8-stable, seems a bug?"
with 2.1.8-stable,  let's say, a client socket has a input buffer with highmark 10 bytes,  when 10 bytes or more data are arrived,  input buffer has now got 10 bytes, then a event of EV_READ is triggered , and assume that we are busy doing something, **did not remove any data from input buffer**,   even though，EV_READ will not be triggered again.
however with release-2.1.11-stable,   EV_READ  will

[2019-09-02 11:09] tim-le commented on #891
[https://github.com/libevent/libevent/commit/5a455acd3bdf9a0117f909450ac7ea693ca93912#diff-12c22fbded898944263268524bf00419](url)
related commit.

[2019-09-02 19:56] azat commented on #889
Before you wrote:

So AFAICS the problem is that you do not re-create connection, and once
the connection will be reseted the *current* request will fail, but
if there will be more requests pending an attempt to establish
connection will be made again (see also evhttp_connection_set_retries(),
but this is only for connection stage)

You can use evhttp_request_set_error_cb() to detect failures, and

[2019-09-02 20:31] azat commented on #891
Indeed, the attached patch changes the behaviour, because it causes
stalls.

If you are not reading the data from the callback in place when you are
planning to do this? Are you have some kind of proxy that has some
relations for the bufferevent that will drain the buffer after?

Of course you can disable EV_READ for bev, but let's figure this down.

[2019-09-02 21:53] #890 closed

[2019-09-02 21:53] azat commented on #890
Replaced with `getrandom`, @ploxiln thanks for the suggestion and @Jingzhao123 thanks for the report!

[2019-09-02 21:56] azat commented on #859
Closing, due to lack of details

[2019-09-02 21:56] #859 closed

[2019-09-02 21:56] azat commented on #876
Closing, due to lack of details

[2019-09-02 21:56] #876 closed

[2019-09-02 21:58] azat commented on #862
@YongtaoS any update?

[2019-09-02 22:09] ploxiln commented on #890
very nice, thanks @azat

By the way, OpenBSD and MacOS have a `getentropy()` syscall that is very similar, and I just noticed that glibc also offers this function, for which it uses `getrandom()` underneath: http://manpages.ubuntu.com/manpages/bionic/man3/getentropy.3.html

But `arc4_seed()` is probably fine as-is if the bsd sysctl method still works fine on those OS anyway.

[2019-09-02 23:52] tim-le commented on #891
yep, for avoiding high cpu problem, I am now have to disable EV_READ.
this issue came from a proxy server based on libevent,recently I updated it with 2.1.11-stable, then found this problem.
I was downloading a file on chrome browser through proxy,  once I click pause, the proxy server got high cpu, because proxy couldn't send data to client side,the input buffer of target side quickly reached hig

[2019-09-03 05:55] YongtaoS commented on #862
no, i was quite busy at the moment, but will be back to the topic after that and update the results here. So i close the issue first.

[2019-09-03 05:55] #862 closed

[2019-09-03 07:20] azat commented on #890
There are some issues on osx sierra at least (see #398), so let's keep it as-is for now, to avoid introducing yet another build switch.

[2019-09-03 13:22] gladsnow commented on #889
I get it. Thank you very much.

[2019-09-03 13:23] #889 closed

[2019-09-05 10:11] QbsuranAlang commented on #854
The issue is still there in 2.1.11-stable.

My situation is:
First use a bufferevent(not a SSL filter) on a socket, the connection is established and client is sent a "Client Hello". I only detect "read event" that let me know client sent something, then do another function. When done, I allocated a SSL filter bufferevent with `bufferevent_openssl_filter_new()` to handle client SSL accept event.

[2019-09-05 10:50] caiqinghua opened #893 "evmap_io_active_ CPU 100%"
1. version: libevent-2.1.11-stable
2. problem: evmap_io_active_ CPU 100%
3. perf top info
Samples: 79K of event 'cpu-clock', Event count (approx.): 12176596951
Overhead  Shared Object          Symbol
  91.09%  libevent-2.1.so.6.0.2  [.] evmap_io_active_

[2019-09-05 14:58] ygj6 commented on #887
I came out of a solution for adding ABI checker on CI, but Step1, Step2, and Step3 may need your help. I can provide some code for Step4

Solution
Step1: We need a brand new git branch gh-pages for storing documents.
Step2: Use github to generate a personal access token, referencing: [generate token](https://help.github.com/en/articles/creating-a-personal-access-token-for-the-command-line)
	   The

[2019-09-05 20:40] azat commented on #893
Can you please attach somewhere output of the following:
`strace -ffqq -p <pid> |& head -n1000 >| log` or `perf trace -e -p <pid>`

And also describe your use case

[2019-09-05 20:44] ramestica commented on #231
from where can I grab your public gpg key to verify downloads from links like those shown above?

[2019-09-05 20:47] azat commented on #887
I don't like the idea of creating separate branch for this, and even though I don't see any possibility to overcome this for now, I want to be 100% sure that we cannot avoid this (I was thinking about separate repository). And personally I, want to integrate all this information to libevent.org website.

And actually I think that for now simply checking ABI compatibility and fail the pipeline will

[2019-09-05 20:57] azat commented on #231
On public GPG key server, `gpg --verify /path/to/.asc`/`gpg --list-packets` will show you the key with which the file is signed.

For example this particular (2.0.22) is signed with [this](https://pgp.key-server.io/search/0x910397D88D29319A) key.

[2019-09-06 05:09] caiqinghua commented on #893
1. os: 4.15.0-48-generic #51-Ubuntu SMP Wed Apr 3 08:28:49 UTC 2019 x86_64  GNU/Linux
2. use case: client has a conn
void Client::runThreadWriteSocket() {
  LOG(INFO) << "start libevent write socket thread";

  sleep(5);
  while (running_) {
          usleep(1000);
          char buf[32];
          memset(buf, 0x55, 32);
          conn->bufferevent_write(bev_, buf, len);
  }
}

bool Client::init()

[2019-09-06 05:37] caiqinghua commented on #893
And if i change bufferevent_write interval from 1ms to 1s, problem haven't occur until now.

[2019-09-06 09:25] caiqinghua commented on #893
If we change

[2019-09-06 09:25] #893 closed

[2019-09-06 11:27] azat commented on #893
[code]

This bit does not looks sane, if you use event-driver programming, then it is better to write to the socket only when it is available for reading

[2019-09-07 19:23] n690rp opened #894 "eventcb not called on socket close..."
I am using 2.1.11, though appears to be the same case in 2.1.8 also.

Test setup;
1. Open a bev, set the callbacks
2. connect to the port and disconnect

No call to evenctb, when I expect BEV_EVENT_EOF

Oddly, that socket gets an eventcb w/ BEV_EVENT_ERROR on the next connection attempt.

[2019-09-07 20:09] n690rp commented on #894
I don't get a readcb of 0 bytes either, but this code looks suspicious, as if BEV_EVENT_EOF won't ever be set
Seems like it was meant to be
if (res < 1) {

so the else if would pick up the 0 length read...

bufferevent.c:194
	if (res < 1) {
		int err = evutil_socket_geterror(fd);
		if (EVUTIL_ERR_RW_RETRIABLE(err))
			goto reschedule;
		if (EVUTIL_ERR_CONNECT_REFUSED(err)) {
			bufev_p->connection

[2019-09-07 20:10] n690rp commented on #894
sorry
if (res < 0) {
} else if (res == 0) {
}

[2019-09-07 20:44] #894 closed

[2019-09-07 20:45] n690rp commented on #894
Total pilot error, in the famous words of Emily Letella, "nevermind"
mixed old patch files

[2019-09-08 11:48] azat commented on #782
Refs: 0546744503d36c19324d10ca772728288264441b

[2019-09-08 19:37] #782 closed

[2019-09-08 20:39] azat commented on #887
@ygj6 so I rebased your patch, and there is no packages for archlinux, so I will need sometime to add them, in the mean time can you take a look at does abi-monitor is required? I thought that we should pass versions from tags, no?

[2019-09-10 16:23] ygj6 commented on #887
This line got an error.
The purpose of the original line is to copy the master branch into the `current` directory.
[code]
 The code in the `current` directory will be compiled to libraries that will be analyzed and compared to the latest version.
Now I think I don't need to exclude `ABI`.  Just copy all files to the `current` directory.

By default, there are no required packages in travis CI. Bu

[2019-09-10 20:42] azat commented on #887
I didn't check it, but in my version there is `find`+`xargs`

Then why not just use `git archive`?

I do plan, but they can be installed via `addons.apt` (and AFAICS mostly all of them are packaged by ubuntu and debian)

Besides even these packages won't be there, it is better to create [docker image (building at this moment, so not available yet)](https://hub.docker.com/r/iamazat/lvc-debian) inst

[2019-09-11 08:19] Harrison-2019 opened #895 "Android O crashed because of seccomp prevented call to disallowed arm64 system call 0"
with latest libevent, compiled with NDK-R20, Android O crashed because of seccomp prevented call to disallowed arm64 system call 0. I found syscalls in epoll_sub.c
[code]
could you please fix this problem?

[2019-09-11 14:14] ygj6 commented on #887
`git archive` does work, but you should perform an extra step to unzip the output file.

It's a good idea since travis supports `docker pull`.

`abi-monitor/abi-tracker` can do the same thing as `abi-dumper/abi-compliance-checker`. You can use either of these two combinations .  Sometimes, `abi-dumper/abi-compliance-checker` is more flexible and can give you more individualized results, even if mo

[2019-09-11 20:39] ploxiln commented on #895
Many libc provided functions are wrappers for syscalls. All processes use syscalls to get data into or out of the process, via files or network or whatever.

These things here are fallbacks which are used in the case that the libc which is present does not have the epoll functions, but was built with linux headers that have the epoll syscall numbers defined ... this is probably a very historical c

[2019-09-11 22:49] azat commented on #895
Please answer the following questions:
- which one? commit sha, tag, ...
- which build system did you use, cmake/autotools? (for cmake epoll_sub is not used and for autotools we check epoll availability)
- so it is likely that you uses autotools, can you verify the same [sample](https://github.com/libevent/libevent/blob/095c8ae11121c302f0bd9a896be6ff0a84b7c51f/configure.ac#L595-L611), did seccomp

[2019-09-11 22:55] azat commented on #887
but `cp` will copy lot's of stuff, like files generated by build system, and I don't see any problem in piping `git archive`, i.e. `git archive HEAD | tar -tf-` or `git archive HEAD | tar -xf- -C /new/path`

I need to take a closer look I guess

[2019-09-11 23:50] azat commented on #887
Besides from image on [docker hub](https://hub.docker.com/r/iamazat/lvc-debian/tags), I also added image on the [github package registry](https://github.com/azat/docker-images/packages/21812?version=latest) via github actions (actually github actions can replace travis-ci, but not now, since they are in beta)

[2019-09-12 01:54] Harrison-2019 commented on #895
Sorry, I cannot provider the exact backtrace. I first use libevent-2.0.21 for compiling, but failed when running on Android O device, crashed because of seccomp filter.  I found this filter on Android device has a whitelist of syscalls, and epoll functions like epoll_create with arm64 architecture is not listed. I guess that's why it returns system call 0. The compile toolchain I used is from NDK-

[2019-09-12 02:55] ploxiln commented on #895
From `SECCOMP_BLACKLIST_APP.TXT`:

`SYSCALLS.TXT` contains `epoll_create1`, `epoll_ctl`, and `__epoll_pwait` for "all" architectures.
The BLACKLIST files do not contain any epoll related functions. `SECCOMP_WHITELIST_APP.TXT` contains `epoll_create` for 32-bit x86, arm, mips.

Presumably, programs compiled for 64-bit should be recent/modern enough to use `epoll_create1`. The libevent Changelog say

[2019-09-12 06:32] Harrison-2019 commented on #895
thank you, I've already tried 2.1.11, but the problem happened again. I found the toolchain's epoll.h do not have a function like
 int __epoll_pwait:epoll_pwait(int, struct epoll_event*, int, int, const sigset64_t*, size_t)  all
. It seems this funtion was an unique function in Android System, I cannot find a solution to solve this problem, I wonder if I can use some other ways instead of syscalls

[2019-09-16 09:28] barrycool opened #897 "how to use evrpc?"
please show me a evrpc demo code, I can not find it every site!

[2019-09-16 21:19] azat commented on #897
You can take a look at [regress_rpc.c](https://github.com/libevent/libevent/blob/master/test/regress_rpc.c)

[2019-09-17 01:21] barrycool commented on #897
@azat
Hi Azat,
    Thanks for your help! Please improve libevent document about evrpc, without your help I can't find how to use it.

[2019-09-17 01:21] #897 closed

[2019-09-22 09:48] X-Crack opened #900 "The timer cannot be triggered immediately for the first time?"
This is a project based on libevent.

https://github.com/X-Crack/evcc/blob/master/source/event/event_timer.cc

In the use of timers, I found that the timer was created and waited for a timeout before triggering the second time.

If you set it up for a long time, you have to wait a long time.

Is there a way to trigger the first time a timer is created?

Thanks very much. I hope my friends can help

[2019-09-22 11:02] azat commented on #900
And what are you expecting?

[2019-09-22 11:14] X-Crack commented on #900
@azat

Forgive my English level.   ^_^

Timer, triggered immediately after creation, rather than waiting for a specified time.

But this situation is limited to the first time.

[2019-09-22 11:28] azat commented on #900
Can you give a reproducer (50-100 lines of code that shows the problem
without your wrappers)?

[2019-09-22 11:56] X-Crack commented on #900
This is not a mistake.

And I'm asking you for a way to trigger the timer immediately after it's created.

There's no problem with libevent itself!

I think it's my own problem.

[2019-09-22 12:10] X-Crack commented on #900
@azat

`
#include <event-internal.h>
#include <event2\event.h>
#include <event2\event_compat.h>
#include <event2\event_struct.h>
#include <event2\listener.h>
#include <event2\util.h>
#include <event2\thread.h>

void timer_printf(int fd, short flags, void* v)
{
	std::cout << "Hello World!\n";
}

int main()
{
	event_config* cfg = event_config_new();

	struct event_base * event_base = event_base_new_

[2019-09-22 12:11] azat commented on #900
Got it, you can use `event_active(ev, 0)` for this (see also #872)

[2019-09-22 12:13] X-Crack commented on #900
event_active

The method, though, can respond immediately.

But the second time will wait for ms*2

[2019-09-22 12:14] azat commented on #900
This looks hackish and there is no (and should not be) such method for this.

You can manually set timeout to TIMEOUT*2 and once the really EV_TIMEOUT will be triggered change the timeout

[2019-09-22 12:25] X-Crack commented on #900
You misunderstood me.

The event_activity method can activate the event immediately.

However, for the second execution, the time to wait for the previous execution*2

That's 60 seconds before you can actually output the second time.

[2019-09-22 12:38] azat commented on #900
- `event_active(ev, 0, 0)` will trigger event and the next time it will be triggered after timeout
- `event_active(ev, EV_TIMEOUT, 0)` will trigger event and the next time it will be triggered after timeout*2

The devil is in details, when event trigered with `EV_TIMEOUT` another timeout slice added unconditionally, whether it is triggered by real timeout or via `event_active`.

[2019-09-22 12:42] azat commented on #900
[code]

[code]

[2019-09-22 12:44] azat commented on #900
And here are some notes for your example:
- never use internal incudes (only if you 100% sure what you are doing)
- keep include list short (you only need `<event2/event.h>`)
- use `event_new` over `new`/`malloc`, to not depends on ABI changes (i.e. `sizeof(struct event)`)
- you do not need cfg there
- you do not need `event_base_set` there

[2019-09-22 12:45] X-Crack commented on #900
Thank you very much for your help. I understand it thoroughly.

[2019-09-22 12:58] #900 closed

[2019-09-22 15:47] azat commented on #872
Let's keep it as-is, to avoid behavior changes.

[2019-09-22 15:47] #872 closed

[2019-09-22 15:47] #881 closed

[2019-09-23 09:08] changchengx opened #901 "Does libevent only support socket type fd event under epoll method?"
In below program, the event_root will be NULL if EV_FEATURE_FDS is set in event_cfg.
Does libevent only support socket type fd event  under epoll method?

[code]

[2019-09-23 09:43] azat commented on #901
EV_FEATURE_FDS is supported only by the following methods:
- devpoll
- kqueue
- select
- poll

EV_FEATURE_ET is supported only by:
- kqueue
- epoll

And since you are on linux, you will not have any available method.

epoll do not support it internally regular fds, from `epoll_ctl(2)`:

[code]

[2019-09-23 09:53] changchengx commented on #901
I'm not sure this is right or not.
In Ceph storage project, a regular file is also changed by epoll_ctl
https://github.com/ceph/ceph/blob/master/src/msg/async/EventEpoll.cc#L72

[2019-09-23 09:55] changchengx commented on #901
@azat
So, If I want to select using epoll & monitor regular file (not socket file), It's not better to use libevent, right?

[2019-09-23 09:58] azat commented on #901
are you sure that it is called for regular files?

This is not about libevent, it is about epoll, epoll internally do not allow this.

[2019-09-23 10:05] changchengx commented on #901
Sorry, not exactly.
It use eventfd API to "eventfd  object" and then changed the attribute by epoll_ctl
Could I also register the "eventfd object" created by eventfd to libevent to monitor it?

[2019-09-23 10:21] azat commented on #901
Yes, you can register any fd that is supported by backend, and epoll supports it.

[2019-09-23 10:29] changchengx commented on #901
Thanks a lot.

[2019-09-23 10:29] #901 closed

[2019-09-23 12:52] fragileeye opened #902 "bufferevent_free problem"
Hello, I've got a problem with bufferevent_free , here is my issue.
     I've used libevent to handle file-upload with multi-thread. In main thread, I make an event_base to loop with read_cb, error_cb, where read_cb only receives task requests, and encapsulates them with buf_evt, and then post them into ringbuffer; While another thread fetch them to handle the task, and make a response with callin

[2019-09-23 21:01] timwoj opened #903 "Time basis for timers? Artificial time counting?"
I’m working on the Zeek project (https://github.com/zeek/zeek) and we’re investigating switching from our internally-written event loop over to use something like libevent. One of the features of our existing hand-written loop is that we can trigger it using an artificial time base, which allows us to move time forward based on the timestamps of packets in a packet capture. Timers can then fire ba

[2019-09-23 22:32] azat commented on #902
so do you have one bufferevent in main thread, and a bufferevent per task?

so if you have one thread then `BEV_OPT_THREADSAFE`+`evthread_use_pthreads` should be enough:

[code]

[2019-09-24 04:36] fragileeye commented on #902
Hi @azat , thanks so much for your help.

Actually I've used multi-thread mechanism supported by libevent, and  used a bufferevent for per connection from client, so if I call bufferevent_free to free buf_evt in main thread, there is a remaining task associated with the connection(so called ``encapsulates them with buf_evt``), while another thread's ready to handle this, i.e calling bufferevent_wr

[2019-09-24 05:50] X-Crack commented on #903
@timwoj
Yes, you can easily use timer

[2019-09-24 08:04] azat commented on #902
IIUUC then you have classic use-after-free.

And in this case there is only one pattern that you can use, except for classic (that requires you to proper create objects with correct lifetime), you can use separate bufferevent pair (`bufferevent_pair_new`), subscribe to it in the main thread that will know do it need to pass the buffer further and write to unconditionally from the task thread.

[2019-09-24 08:12] azat commented on #903
IIUUC, you have smth like this:
- now=10
- p1 rel_time=1
- p2 rel_time=2

And you need to trigger p1 in now+1, and p2 in now+2, than you just use `event_add(ev, tv=packet.rel_time)`

If you have absolute times, you need to convert them into the relatives and do the same.

[2019-09-24 09:11] fragileeye commented on #902
Okay, thanks again for your reply. I need to consider it deeply, the issue should be closed.

[2019-09-24 09:11] #902 closed

[2019-09-24 17:38] timwoj commented on #903
Perhaps I'm misunderstanding what you mean, but that still means the timers will fire somewhat relative to the wallclock time. The problem is that I need time to advance as we get new packet data in. Just setting a timer based on the relative time difference between current wallclock time and the last packet we received doesn't guarantee that the timer will always fire at the same time as if the p

[2019-09-24 23:49] azat commented on #903
Hm, maybe I misunderstood you, but instead of changing the time you can change the timeout, no?

I guess that you are not talking about timers error here, can you give an example?

[2019-09-25 03:45] joker9566 opened #904 "When using evhttp, the URI followed by "//" causes the server to go down"
![image](https://user-images.githubusercontent.com/46672751/65567716-cb8c6480-df89-11e9-9cb7-8dfb458c239e.png)
![image](https://user-images.githubusercontent.com/46672751/65567727-d3e49f80-df89-11e9-9ac3-3195971e5c75.png)

Is there some setting missing?

[2019-09-25 03:54] joker9566 commented on #904
Does not trigger any registered callback functions

[2019-09-25 04:04] joker9566 commented on #904
![image](https://user-images.githubusercontent.com/46672751/65568499-af3df700-df8c-11e9-9a11-580170bb0ad0.png)

[2019-09-25 05:53] #904 closed

[2019-09-27 17:44] ploxiln commented on #903
I think timwoj wants to run a sort of simulation at faster-than-real-time, by occasionally causing the "clock" to jump forward X seconds in an instant, which effectively causes all pending events with timeouts to have X seconds subtracted from their timeout (and some of them may become active immediately).

For example: the program reads some input from a trace with timestamp included, and sees th

[2019-09-29 14:59] ygj6 commented on #814
Indeed, UNIX domain socket can be used on Win10.
I only found that it can be used in the `evutil_ersatz_socketpair_` function:
https://github.com/ygj6/libevent/commit/f1a5df06a9d4852bc8314d14c1bf178b16ecd0ab

[2019-09-30 16:56] ygj6 commented on #814
Indeed, UNIX domain socket can be used on Win10.
I only found that it can be used in the evutil_ersatz_socketpair_ function:
https://github.com/ygj6/libevent/commit/7353356a54d23f316e404b840a0f095d2cdac5f2

After applying this patch, the test case `regress listener error` in `regress_listener.c` failed. The reason is that the AF_UNIX file descriptor is passed to the `evconnlistener_new` function.

[2019-09-30 20:17] azat opened #906 "Fix CI status for PRs"

[2019-10-01 08:25] azat commented on #903
Well triggering timers from the event loop will always have some delay (and it depends on factors like callback speed), so if this must be close to real-time, then event loop is not a great idea.
But if it is not the case, then all you need to do is just substract delta from all pending events.

@timwoj if it will not takes too much time can you send us a patch?
Or you can show what you have now i

[2019-10-02 15:10] laanwj opened #907 "HTTP client with UNIX socket"
I noticed that 737d1beb14423dc212b0c53edf536b3172c87571 added the ability to bind the HTTP server to a UNIX socket.

Is there a way to do the same but for the client?

A long time ago I submitted a PR (#479) for some code I used to make HTTP requests over a UNIX socket, but this wasn't accepted. Maybe my approach was wrong, but I'm still looking for a way to do this.

[2019-10-04 18:23] timwoj commented on #903
Sorry for a bit of a delay on getting back to this.

That's effectively it, yes. The packet data has timestamps in it, and I want to set the time based on those timestamps.

This is pretty rough, but it gets the point across: https://gist.github.com/timwoj/4d4d4d156f598036e6ce43316bd022ce

Included is the patch and a simple driver that reads from a pcap file and updates the time based on the incom

[2019-10-09 11:32] leanme opened #912 "Window10 x86 issue vs 2015, bufferevent_write() in other thead，client recv nothing"
Pseudocode：
Version: libevent-2.1.11-stable
[code]
#### case 1:
send any data to server,but nothing return with `write_cb` printed.

#### case 2:
send any data to server,recv `123` and `321` both!

Any problem with my implement,thank you!

[2019-10-09 12:41] ygj6 commented on #814
Now, I don't think it's necessary to check `afunix.h` in `configure.ac`. I removed it and only kept the cmake-checking part.
Here is the new patch: https://github.com/ygj6/libevent/commit/25379fdc3faf28efbfc0698c6b55ba88af06eee8
@azat Is it ok? could you give me some ideas?

[2019-10-09 12:46] ygj6 commented on #814
Besides,  the testcase `regress_listener_error` in `regress_listener.c` failed, the backtrace is:
[code]
`new_accepting_socket()` does't support `AF_UNIX`, see this:
[code]
Therefore, I disabled this testcase on Win10

[2019-10-09 22:02] azat commented on #814
Can you please send this as a PR, to have CI runs on it (since I don't like to run windows vms)

So, can you fix new_accepting_socket() ? That will be useful feature I guess

[2019-10-09 22:03] azat commented on #814
Indeed

[2019-10-09 22:06] azat commented on #814
Looked briefly and everything looks good, but listener support for the AF_UNIX on windows will be great!

[2019-10-09 22:12] azat commented on #912
You don't need to manually lock the bev, it will be done automatically, but only if the locking is enabled, for this you need to call `evthread_use_windows_threads()` (once at the beginning, before using any libevent API) and use `BEV_OPT_THREADSAFE`

*(same for the read)*

Sorry, but I did not understand this, can you share 100-200 lines of working code so I can take a look?

But at least this co

[2019-10-09 22:57] azat commented on #906
Fixed

Refs: https://github.com/travis-ci/travis-ci/issues/9440#issuecomment-378707440

[2019-10-09 22:57] #906 closed

[2019-10-10 03:12] leanme commented on #912
`evthread_use_windows_threads` can solve my problem,thank you @azat
This is my first time to use libevent as net layer of  my rpc framework,thank you again.

[2019-10-10 10:37] azat commented on #912
In this case I would recommend you to avoid multi threading for now and add it only if it is required

[2019-10-10 10:37] #912 closed

[2019-10-11 04:20] azat commented on #412
Fixed (refs: 72d140c2e15dc4865f2f74429aacc5549701cff8)

[2019-10-11 04:20] #412 closed

[2019-10-14 21:37] #814 closed

[2019-10-18 03:23] tan00 opened #914 "cmake error libevent-2.1.11-stable"
The release   `libevent-2.1.11-stable.tar.gz`   miss file  `Uninstall.cmake.in` , and cmake get error

[release    tar link](https://github.com/libevent/libevent/releases/download/release-2.1.11-stable/libevent-2.1.11-stable.tar.gz)

[code]

[2019-10-18 03:24] tan00 commented on #914
Fixed  by add  `Uninstall.cmake.in`   copy from github

[2019-10-18 07:00] azat commented on #914
Thanks for the report, it has already been fixed in upstream in f05ba6719, and it will be backported to the future releases.

[2019-10-18 07:00] #914 closed

[2019-10-26 11:30] Barricade opened #919 "CMake, static library is not built, bug?"
`cd "$LIBEVENT_CMAKE_PATH" `
`cmake -DCMAKE_INSTALL_PREFIX:PATH="$LIBEVENT_BUILD_PATH" "$LIBEVENT_PATH"`
`cmake --build "$LIBEVENT_CMAKE_PATH" --target install --config Release`
`ls "$LIBEVENT_BUILD_PATH/lib" # contains only dylib files (should contain static libraries too?)`
Mac OS

[2019-10-26 11:39] Barricade opened #920 "CMake, at installation @rpath in install_name is always replaced with absolute path, bug?"
At installation `@rpath` in install_name is replaced with absolute path. How can I prevent this?
`cd "$LIBEVENT_CMAKE_PATH"`
`cmake -DCMAKE_INSTALL_PREFIX:PATH="$LIBEVENT_BUILD_PATH" "$LIBEVENT_PATH"`
`cmake --build "$LIBEVENT_CMAKE_PATH" --target install --config Release`
`otool -D "$LIBEVENT_BUILD_PATH/lib/libevent-2.1.7.dylib"`
`Result: /Users/barricadenick/build/libevent-2.1.11-macos/lib/libev

[2019-10-26 12:06] Barricade commented on #920
Why do we need this line?
https://github.com/libevent/libevent/blame/master/cmake/AddEventLibrary.cmake#L100
It seems to break this behavior.

[2019-10-26 12:38] Barricade commented on #919
Seems to be fixed in https://github.com/libevent/libevent/commit/236762a30d3e49bde8256876758539be4b4788a8

[2019-10-26 12:38] #919 closed

[2019-10-26 13:45] ygj6 commented on #920
If use `@ rpath`, downstream users must also passively set it up, which can cause trouble for people.
It is considered that install the libraries to the *standard* path (e.g. `/usr/local/`) mechanically and don't move it to other path, and then, `@rpath` is not needed.

P.S. I installed `zlib`, `libpng` and `SDL` with brew on Mac, and test them with `otool -D`,  there is no `@rpath` in shared libr

[2019-10-26 14:07] Barricade commented on #920
If I build and install SDL 2.0.10 and libpng 1.6.37 from source with cmake (3.15.4), then there is @rpath in them. zlib 1.2.11 uses old cmake, so I'll have to pass CMAKE_POLICY_DEFAULT_CMP0042=NEW, to make it with @rpath too.
I agree that in standard path it must be without @rpath in it. But I would like to have a way to install it with @rpath and without it.

[2019-10-26 14:58] ygj6 commented on #920
Have you tried `install_name_tool`?  It should  be able to change `@rpath` manually.

[2019-10-26 15:12] Barricade commented on #920
Yes, I know this tool

[2019-10-26 17:13] Barricade commented on #920
There already exists the flag in cmake to control replacement of @rpath with full path: MACOSX_RPATH, but setting INSTALL_NAME_DIR manually overrides the effect of MACOSX_RPATH.

[2019-10-27 14:06] azat commented on #919
Does not looks correct, since this is a fix for MSVC only, and it's doing exactly opposite thing, but if you do not observe the issue using libevent from upstream let's consider this as fixed

[2019-10-27 19:25] Barricade opened #922 "It is ok to call libevent functions again after libevent_global_shutdown?"
It is ok to call libevent functions again after libevent_global_shutdown?

[2019-10-27 19:29] azat commented on #922
Yes, since `libevent_global_shutdown` should initialize some globals to default state, hence they will be initialized again once you call appropriate functions (and don't forget to call initialize functions again if you need the functionality that they enable, i.e. `evthread_use_pthreads` for threading support)

[2019-10-27 19:29] #922 closed

[2019-10-28 07:04] ygj6 commented on #920
If really want to set `@rpath`, I suggest you set it with the following command:
[code]
then use `otool -L xxx.dylib` to check if the command works.

When using xxx.dylib in your project, the following error will occur if you do nothing on `rpath`:
`dyld: Library not loaded: @rpath/xxx.dylib`

There are two options to fix it:
- add `-Wl,-rpath /path/containing/xxx.dylib` to `LDFLAGS`
If build with

[2019-10-29 18:06] nritsche commented on #733
Thanks @azat for the recommendations. I am trying to implement your suggestion, but it's not working and I'm not sure if I am doing it right. Can you please point me at an example?

[2019-10-29 21:28] azat commented on #733
So everything works after `bufferevent_flush()`?

It should have any buffering, maybe you enable some watermarks? can you share the code?

[2019-10-29 21:43] nritsche commented on #733
I could get around manually flushing. It was the same issue as this: https://github.com/libevent/libevent/issues/642

[2019-10-29 21:50] azat commented on #733
Sorry, type `s/should/shouldn't`, so bufferevent do not have any buffering, unless watermark is enabled.

That issue is about

So the read callback was the root cause.
If you have the same, then I'm suggesting you to simply fix it.
If no, please share the reproducer, or at least some details

[2019-10-30 00:14] nritsche commented on #733
Thanks a lot @azat .
The fix after your suggestions is in https://github.com/kotekan/kotekan/commit/60ac1992bb4179866e41d6943666be14848ae1f1

[2019-10-31 01:23] johnsalmon opened #924 "Regression test failures on CentOS6 (glibc-2.12)"
This is  very similar to issue #749.

I compiled the latest master on CentOS6 and ran regressions.   I get 8 failures, all similar to:

[code]

It looks like glibc-2.12 has similar characteristics to MacOS in #749:  It doesn't return EAI_SYSTEM when its sytem calls fail with EMFILE.  I confirmed as much the test program below.  Note though, that in the test below, the value returned is -2 (EAI_NON

[2019-10-31 06:22] azat commented on #924
Thanks for the report and details!
That was the regression (so not a great idea to simply remove the test), but the expected error can be relaxed, see 4436287.

[2019-10-31 07:09] #924 closed

[2019-10-31 09:03] l-w-p commented on #403
Is there any progress about this issue? Looking forward to libevent early support asynchronous openssl。

[2019-11-04 18:38] Ezyweb-uk opened #925 "CentOS 6.10 yum no package libevent-devel available"
Trying to update Cpanel from v11.82 to v11.84 and it fails with the message: `libevent is needed by cpanel-perl-528-DNS-Unbound-0.09-3.cp1180.x86_64`

Tried:
`yum install -y libevent libevent-devel`
but got the messages:
`No package libevent available.
No package libevent-devel available`

Any solutions please?

[2019-11-04 19:21] azat commented on #925
According to the [pkgs.org](https://pkgs.org/download/libevent-devel) it is available.

Can't verify this using this `centos:centos6.10` docker image, since it is too old:

[code]

Okay, found kernel without `CONFIG_LEGACY_VSYSCALL_NONE=y`:

[code]

That said that something wrong with your env, maybe you do not have some standard repos?

[2019-11-05 23:57] Ezyweb-uk commented on #925
CentOS and epel repos were found to be disabled.
@azat thanks for your help!

[2019-11-05 23:57] #925 closed

[2019-11-06 06:48] igordarkmatter opened #927 "Application closes on Android when I try to run callback from timer/io event in the different thread"
Please see my question here https://stackoverflow.com/questions/58724399/does-libevent-allow-to-run-callback-for-timer-io-in-a-different-thread

[2019-11-06 10:17] #927 closed

[2019-11-07 04:06] Hujinyong opened #928 "Dead loop in event_base_loop after some period of time"
After running of some period of time (2-12 hours) a thread can get stuck consuming 100% cpu, this behavior  is 100% reproducible on 2.1.8-stable version.

Following are logs with EVENT_DEBUG_ALL enabled.

win32select.c: select returned 1
win32select.c: select returned 1
event_active: 02C54F90 (fd 588), res 2, callback 0F452640
event_active: 02C73C68 (fd 656), res 2, callback 0F452640
event_process

[2019-11-07 07:29] azat commented on #928
Hi!

There is a "similar" report, #911 but your looks different, at least by the following reasons:
- you have windows, and `win32select.c` is used
- you don't have bad fd error

So, back to your issue, there are always two active events (EV_READ), and this means that you do not read from them, and they will be always reported until you will read all data from the fds. Do you have any idea what th

[2019-11-09 01:52] Hujinyong commented on #928
Create an eventlistener as:

struct evconnlistener* _create_evlistener(struct event_base *base, void *ctx, int port, evconnlistener_cb cb)
{
    struct evconnlistener *listener;
    char local_ipport[128] = {0};

    sprintf(local_ipport, "0.0.0.0:%d", port);

    struct sockaddr_storage listen_on_addr;
    memset(&listen_on_addr, 0, sizeof(listen_on_addr));
    int socklen = sizeof(listen_on_addr

[2019-11-09 07:54] azat commented on #928
What I missed in the previous log is that it is multi threaded, do you enable multi-threading support in libevent?

i.e.

[code]

And also create listener with the following flag `LEV_OPT_THREADSAFE` (just in case, since I don't know a lot about your program)

Hm, interesting, can you add a breakpoint on it and check will it be called or not? (it should according to "event_process_active", but it

[2019-11-12 17:26] wrowe opened #930 "Unexpected cmake build config failure of libevent 2.2-dev on Windows with LLVM"
Attempting to configure a ninja clang-cl x64 build of libevent (2.2-dev master) on Windows with Ninja 1.8.2, cmake 3.15.0-rc2, Visual Studio 2019, clang-cl 8.01;

We are unable to work out which of libevent's CMakeFiles.txt configuration, cmake, ninja or llvm is causing the injection of /machine:X86 into the configured libevent LINKER flags, and would appreciate any hint or pointers you could offe

[2019-11-12 17:30] wrowe commented on #930
I was able to reproduce the problem from other sources, so it is clear that this isn't libevent's current CMakeFiles.txt scripts that are interfering.

[2019-11-12 17:30] #930 closed

[2019-11-14 04:04] Hujinyong commented on #928
Yes, multi-threading is enabled by calling evthread_use_windows_threads(), and listener is created with LEV_OPT_THREADSAFE flag.

[2019-11-24 21:37] irov opened #931 "[CMakeLists] add option EVENT__EXTERNAL_OUTPUT_DIRECTORY"
add option settings like EVENT__EXTERNAL_OUTPUT_DIRECTORY

[code]

Thanks!

[2019-11-24 21:55] azat commented on #931
Can you elaborate the purpose of introducing this?

[2019-11-25 02:06] PugalendranDell commented on #225
@azat @nmathewson @provos - I am seeing the same problem as discussed in this mail thread in latest debian stretch.

Latest debian stretch uses 2.0.21-stable libevent. Do you guys have any plan to patch this change to libevent2.0.x ? In my code base, moving to latest libevent 2.1.x is not possible now, do you guys have any other way to get these changes in latest stretch debian ?

[2019-11-25 16:15] irov commented on #931
Hello,
i build dependence for project [hummingbird](https://github.com/irov/hummingbird) and current project setup this OUTPUT directory.

[code]

but libevent CMakeLists.txt redirect my OUTPUT directory

[2019-11-25 20:01] azat commented on #931
libevent's variables should be visible only inside libevent, can you show the chain of your includes? or post the minimal `CMakeLists.txt` that will show the issue

[2019-11-25 20:10] azat commented on #225
Can you provide **minimal** reproducer (100 lines of code or similar)?

2.0.x has a lot of other issues, and it is already kind of EOL, but I will take a look if you will provide normal reproducer.

Just out of curiosity what are the issues do not allows you to use 2.1.x?

[2019-11-26 11:50] irov commented on #931
[code]

[2019-11-26 13:20] RokerHRO opened #932 "How to send/receive data after evttp_send_reply() ?"
I've registered a callback function via `evhttp_set_cb()`. Inside of the callback function I create and send the reply via `evhttp_send_reply(…)` but how can I keep the connection open and read from and send to the peer after that?

(I am implementing a simple WebSocket server, so the connection might be open for a quite long time)

[2019-11-26 18:41] azat commented on #931
`CMAKE_RUNTIME_OUTPUT_DIRECTORY` is not overwritten for me, are you sure that you are have exactly this? which cmake version?

[code]

[2019-11-26 19:16] azat commented on #932
Do you send `Connection: close` or use `HTTP/1.0`?

You can use http layer of the libevent only to handle initial handshake (parse input headers, send response), but after you will need to switch to binary protocol, for this you will have to "steal" fd from the `evhttp_connection`, and this is not possible yet (since this fd is cached, see #795, in the connection and you cannot do it that simple,

[2019-11-26 19:46] RokerHRO commented on #932
Thank you for you quick reply!

I set the header "Connection: Upgrade" as required by the WebSocket protocol spec.

I'll try it. :-)

I found https://github.com/caosiyang/websocket but – albeit the source have .cpp extension and it uses C++ std::string – it looks quite low-level C-style and, to be honest, I very like that evhttp does the whole HTTP protocol stuff (that I use in my server process a

[2019-11-26 19:57] azat commented on #932
So I guess that the server does not close the socket?

Clean API is another task, and at first glance I think that simply adding upgrading to websocket should not be that hard (but will requires some coding), want to try?

But to be honest libevent's HTTP API should be revisited at least/replaced (refs #261) to make it optimal first (and hence I'm not sure that such API should be added, but at lea

[2019-11-26 20:15] RokerHRO commented on #932
I don't know. At the moment the callback function does `evhttp_send_reply()` and has a big `//TODO: get the connection object and transfer it to the WebSocket event loop` and returns.

I don' t know what evhttp does in this case. ;-(

Sure I'll try. But I need the low-level connection object (or anything I can read from/send to).
What can I do inside the evhttp callback function – or after leaving

[2019-11-26 20:17] azat commented on #932
I was talking about patching libevent to add this

You need to detach the fd (and most likely buffers, since there can be pending data already) from the http and use it for websocket operations.

[2019-11-27 22:43] irov commented on #931
I set this setting before adding libevent [ADD_SUBDIRECTORY]. Now we are building a library. We will not see the assembly in the expected place. Because libevent/CMakeLists.txt redirected the assembly to another location. If we look at other projects and assemblies, this options is not set or is hidden under the cmake option

[2019-11-30 12:52] azat commented on #931
I was thinking about your library, not libevent, got it now, sorry, will be fixed shortly.

[2019-11-30 13:01] #931 closed

[2019-12-02 17:15] PugalendranDell commented on #225
@azat - This fix is available only in latest libevent 2.1.11 which is not a "release candidate"  right ?

I am working on the reproducer. will get back soon

[2019-12-02 17:16] PugalendranDell commented on #225
I am okay to use libevent 2.1.7. But this fix is not available.

[2019-12-03 07:52] azat commented on #225
The patch in upstream is  0b4b0ef.

[code]

Why you are using 2.1.7-rc instead of 2.1.11-stable?

[2019-12-04 01:01] PugalendranDell commented on #225
@azat - Thought only release candidate is advisable to use, will use 2.1.11-stable version. Thanks

[2019-12-06 17:39] XeroChen opened #933 "release-2.1.11-stable cmake broken"
here is the content from CMakeLists.txt

BUT There is no `cmake/Uninstall.cmake.in` in released `release-2.1.11-stable.tar.gz`

[2019-12-06 17:40] azat commented on #933
Fixed in f05ba671931e2b4e38459899f6f63f79f99869fe, but there is still no release with that patch included, will think about this

[2019-12-06 17:40] #933 closed

[2019-12-12 09:05] ymantijunk opened #935 "evbuffer customization"
I'd like to change following in evbuffer, any suggestions?

1. maintain all the chains of the same size, say 32K each.
2. the chain to be full before filling data to the next chain. Currently, if the first chain has N bytes free and the new space is request for > N bytes, it seems to be allocating new chain rather than using N bytes from the previous chain.

Also, what are the function needs to be

[2019-12-15 19:36] azat commented on #935
Hi!

The easiest way will be to wrap `evbuffer_*` functions to limit the data to 32k, and use [`evbuffer_set_max_read()`](http://libevent.org/doc/buffer_8h.html#ac5441fc0ce576ad997bf1a869f8c4ba9) in addition to number of bytes read from fd.

Althoug you can modify [`evbuffer_chain_new()`](https://github.com/libevent/libevent/blob/ea12428db66a2c82b57c12afaf5fb5d1a0935f3c/buffer.c#L159), and it's ca

[2019-12-23 09:30] anatol commented on #933
I see the same issue. Thank you @XeroChen for filing the ticket.

[2019-12-23 14:06] darksylinc commented on #666
I am having this exact same problem.

Registering for evhttp_connection_set_closecb only gets called when *I* close the connection, but it does not get called when the client remotely closed the connection.

I will explain in simple terms. [Longpolling](https://en.wikipedia.org/wiki/Push_technology#Long_polling) is a 'hack' on HTTP protocols to support real time communications with realtively low

[2019-12-23 15:03] darksylinc commented on #666
Update:

If enable EV_READ, the close callback gets called. Eg. performing:
[code]

Now _closeCallback gets correctly called when remote terminates the connection.
I am calling evhttp_connection_set_closecb while inside evhttp_set_gencb

I have everything needed to make a small repro, I just need a bit more time

[2019-12-23 23:27] azat commented on #666
Actually the problem is pretty clear, and there is a patch already, it does not applied, because I wanted to look around, and at least write a test, I will come back once I will sort this out

[2019-12-23 23:37] azat commented on #666
But if you have time/interest please came back with the reproducer! And thanks for details!

[2019-12-23 23:40] darksylinc commented on #666
The main "breaking" issue I can see is that an application that does not register to a close callback may attempt to continue to use an evhttp_request whose internal evhttp_connection has already been closed, without noticing.

In the current release, applications have the "guarantee" that evhttp_request can only be closed from the app side.

So far I detect no abnormal behavior from trying to use

[2019-12-23 23:43] azat commented on #666
Simply chunked request + close of the fd in the callback does not triggers the issue for me, /me digging

[2019-12-23 23:47] azat commented on #666
How? If you are caching the evhttp_request that I agree (but in this case you will have other problems too without care)

Well the connection should not be destructed without EOF, so the connection on the server side is still exists even though the client closed it, so that's why you do not get any UAF (use-after-free) and so on (I guess you are talking about this kind of things)

[2019-12-23 23:59] darksylinc commented on #666
Yes, that's the thing about longpolling: We have to hold on to the evhttp_request (via evhttp_request_own) sometimes for minutes, so that we can reply whenever there's something to report (and that "something" usually comes from _another_, independent evhttp_request).
And that means being careful about leaks and use-after-free

Yes, that was exactly my concern.

[2019-12-24 00:56] thefallentree opened #936 "How to flush writes during an long callback?"
So I have an situation where in an event callback where I execute an function synchronously,  during the execution some output will be generated (the output will be written to 1 or more buffevent), and I want it flush it out to the users. what's the best way to do it?  I want this to be writing only, don't actually want to accept user input at the time or handling socket closure even.

[2019-12-24 07:16] azat commented on #936
bufferevent writes the data via the event loop (it waits `EV_WRITE` and only after this it can write to fd), so first of all you need to make sure that the callback is not executed from the same thread as the thread that executes event loop for that bufferevent, if this is true than this should work (otherwise it is not possible, by obvious reasons)

You just need to disable EV_READ, i.e. `buffere

[2019-12-24 08:51] thefallentree commented on #936
Well, The whole program is an single thread, so it  didn’t matter which
thread I am on, I am always on the wrong thread it seems :-D

I think what I need is an way to flush an bufferevent ,  that is, try to
write to underlaying socket once, if it is writable then write as much as
possible, if not then just ignore it.

On Mon, Dec 23, 2019 at 11:16 PM Azat Khuzhin <notifications@github.com>
wrote:

[2019-12-24 09:29] azat commented on #936
Actually this can be done even with one thread, but you need to yield your calback, i.e. calling periodically `event_base_loop(base, EVLOOP_NONBLOCK)` within your callback, but this will process not only write but other events too (timers, signals, ...)

[2019-12-24 09:59] thefallentree commented on #936
Yeah that won’t work for me. Because I need to only process writes.  BTW
Why does socket based bufferevent flush does nothing?

Another option I can think of is that I can run bufferevents ‘s base in an
dedicated network thread and schedule callbacks on to main event loop .
That way network thread is always running , meaning whatever we write has
an chance of going out soonish.

On Tue, Dec 24, 20

[2019-12-24 10:55] azat commented on #936
It writes only when EV_WRITE is possible, to avoid blocking, hence it
does nothing.

Indeed, and I think that this is correct way to go (of course if you
do not want to yield from your callback periodically, you can use
"event_base_once(base, -1, 0, callback, some_context, timeout)" to
trigger it again after some timeout)

Ignore this suggestion, this will not work, since you cannot call
event_bas

[2019-12-24 16:59] HLXEasy opened #937 "How to build libevent and openssl at the same time?"
I'm trying to build libevent and openssl beside other modules using CMake in one shot together with our code. So on main CMakeLists.txt I'm including the directories, where libevent and openssl is located:

[code]

I'm using the [CMake version of OpenSSL](https://github.com/viaduck/openssl-cmake) from ViaDuck.

But the problem is, that libevent is trying to find openssl during configuration step a

[2019-12-24 19:37] azat commented on #937
After looking into this viaduck version, this can be done using the following cmake rules:

[code]

Also if you do not need openssl support in libevent you can turn it off, using `-DEVENT__DISABLE_OPENSSL=ON`

[2019-12-24 19:52] azat commented on #935
If you have any other questions, please reopen or create new issue

[2019-12-24 19:52] #935 closed

[2019-12-24 19:52] azat commented on #936
Do you have any other questions? If no, can you please close the issue? Thanks

[2019-12-24 19:54] azat commented on #932
Closing, please reopen/create-new-one if you have any other quetsions

[2019-12-24 20:41] RokerHRO commented on #932
Huh? Why closed? The problem is still not solved. I still have no official way to send data or use the connection (or socket?) to process the WebSockets protocol after the HTTP reply. :-(

[2019-12-24 22:16] thefallentree commented on #936
thank you! I will try to adopt the dedicated network thread way.

[2019-12-24 22:16] #936 closed

[2019-12-25 05:12] azat commented on #932
Ok, reopening, but it can take awhile...

[2019-12-25 08:40] HLXEasy commented on #937
Hi @azat,

thx for the very fast response!

I applied your changes from [3802696](https://github.com/azat/libevent/commit/380269690699adae9c35dea1da8628c01dcaa88b) onto release [2.11.1](https://github.com/libevent/libevent/releases/download/release-2.1.11-stable/libevent-2.1.11-stable.tar.gz) but still got the error:

[code]

Is this working on HEAD only or is there something else to modify on the

[2019-12-25 09:00] azat commented on #937
I tested without this patch, but

The reason it works for me is that I have openssl installed system-wide, hence I only substituted libraries, while it still cannot find them, will come back later

[2019-12-25 19:19] RokerHRO commented on #932
Thank you. It is okay when it takes some time, but it should not be forgotten. :-)

[2019-12-26 23:43] ploxiln commented on #932
It's possible to use something like https://github.com/nodejs/http-parser to manually manage parsing from a libevent bufferevent or raw tcp connection fd, and then it's easy to "take over" the connection for your own websockets implementation.

It is also possible to use [libwebsockets](https://github.com/warmcat/libwebsockets) with libevent: https://libwebsockets.org/lws-api-doc-v3.2-stable/html/

[2019-12-30 08:29] ygj6 opened #940 "Test cases failed because sleep function is too slow on Mac"
There are many test cases related to nanosleep/usleep function. They test the performance of timing roughly similar to the following code:
[code]
This code runs successfully on my own computer (Linux, Windows and Mac).
On travis-CI, it only succeeded on Linux and Windows, but not on Mac(The `diff` is likely to be greater than 120000).
In travis [result](https://travis-ci.org/libevent/libevent/jobs

[2019-12-30 12:52] stalchuk opened #941 "Tests issues on linux 2.6.24.4/ARM926EJ"
**Linux**: 2.6.24.4
**CPU**: ARM926EJ-S (armv5tejl)
**gcc**: 7.2.0
**uclibc**: 1.0.27

zlib-1.2.11
openssl-1.1.1d
libevent-2.1.11-stable

[code]

**Actual Result**: test/test-fdleak: endless loop of '[warn] Too many events reading or writing on fd 0'

Seems to be a platform specific issue.
Thank you for the help in advance.

**P.S.**
libevent-2.0.22 built with ```CPPFLAGS="-fPIC -DCLOCK_MONOTONIC=

[2019-12-30 21:46] azat commented on #940
Same here, and there is not not too much we can do, but here are some thoughts:
- timers bias can be calculcated to overcome this (like in 8a34869984c470fb243fc9587c469b316add2f7e for `test-ratelim`)
- I tried github actions and they looks ok, and AFAIR there is macos support, so we can give it a try (or other CI platforms)
- Investigate travis-ci a little bit more (although I think that this is a

[2019-12-30 21:56] azat commented on #941
I will take a look, in the mean time can you do a git bisect to find the culprit commit?

[2019-12-31 17:26] imzhuli opened #942 "possible memory leak on evdns_getaddrinfo when dns resolving failed to finish before last event_base_loop"
Libevent Version: 2.1.6
System: ubuntu 18.04 LTS (Desktop)

as title mentions, after evdns_getaddreinfo is called, I free its base object by calling evdns_base_free(evdns_base, 0)  before it get a result.  it might leaks some memory (according to vg detection):

sample codes:

	#include <event2/dns.h>
	#include <event2/event.h>
	#include <event2/thread.h>
	#include <cassert>
	#include <cstdlib>
	#

[2019-12-31 19:47] imzhuli commented on #942
I did some further tests , and it shows the defered callback logic in evdns can cause more disaster:
case 1: change the upper case like this:
. add evdns_getaddrinfo_cancel(request); after calling evdns_getaddrinfo, with a non-number host name so that evdns_getaddrinfo won't callback immediately and return an pointer to a request.
. call event_base_loop only after evdns_base_free.
. Wala....... le

[2020-01-01 17:14] stalchuk commented on #941
Happy New Year!
Thank you for the prompt reply!

I got the following output:
[code]

[2020-01-01 18:20] stalchuk commented on #941
[code]

endless loop...

[2020-01-02 16:13] eriklax opened #943 "SSL_shutdown in libevent for non-blocking sockets"
I'm trying to find out how to do a `SSL_shutdown()` and why there isn't a `int bufferevent_ssl_shutdown(struct bufferevent *bev);` function (triggering a DISCONNECTED event similar to CONNECTED). The underlying socket I'm using is non-blocking.

I'm trying to understand the following sentence from the OpenSSL manual in the context of being used with libevent

https://www.openssl.org/docs/man1.1.1/

[2020-01-03 11:22] YongtaoS opened #944 "How to shut down evhttp more nicely?"
Hey there and happy new year,

Consider a user case of a HTTP download server which provides downloads of a large file, by using `evhttp_send_chunk_reply()`. Assume that you want to shut down the server for the maintenance. During the shutdown the server is still serving some active downloads and many requests may still be coming.
Is there any a nice way to deny the incoming requests, and to store

[2020-01-04 08:07] stalchuk commented on #941
Attached is the output log of:
[code]

[out.log](https://github.com/libevent/libevent/files/4021671/out.log)

[2020-01-04 18:04] azat commented on #941
bisect result is not helpful, since it fails due to autotools issues not becaues of `test-fdleak` endless loop

You need to run something like this:

[code]

Also you can prefer `cmake` since it is cleaner:

[code]

*I hadn't tested the commands above, so it may requires some tweaking*

Looks like it stuck somewhere in the loop (i.e. it do not executes tons of syscalls), can you attach with gdb fe

[2020-01-05 11:52] azat commented on #944
You simply need to stop accepting new connections, which initialized with [`evhttp_bind_socket_with_handle`](http://libevent.org/doc/http_8h.html#a5cb57564c8af123b17e8330d2f104a1d) (or related helper) and can be stopped with [`evhttp_del_accept_socket`](http://libevent.org/doc/http_8h.html#a565c02c3469c28c1c043cb4a1e3b242c)

It will exit after it will process currently pending events, and this is

[2020-01-05 12:17] azat commented on #943
I guess the answer is - nobody needs that before.

IIUC `select()` should be used to wait the socket ready for read/write

This is not sufficient, since in case the socket is non-blocking then you need to read until `SSL_ERROR_ZERO_RETURN` (with `SSL_read`), even after `SSL_shutdown` since the later closes only write end.

Basically IIUC `SSL_shutdown` simply send `close_notify` changes the state

[2020-01-05 13:59] azat commented on #941
*FWIW: I cannot reproduce the problem*

[2020-01-05 15:26] azat commented on #937
Here you go - https://github.com/azat-archive/libevent-openssl-cmake

Basically all you need to do is provide correct `FindOpenSSL.cmake`

[2020-01-05 16:25] azat commented on #937
[PoC](https://github.com/azat-archive/libevent-openssl-cmake/runs/374548398)

*Note that right now it uses my fork of libevent, since it contains some fixes that removes usage of deprecated openssl API*

[2020-01-05 21:31] stalchuk commented on #941
Hi Azat,

The issue is 100% platform specific.
I've tried to compile and test `libevent-2.1.11-stable` on `x86_64` and it works fine, while it is not the case for my platform.

Unfortunately, `cmake, ninja, perf` are not available for me - they need to be compiled from source with all dependencies, which can take some days or more.  `perf` appeared since linux-2.6.31 (mine is linux-2.6.24.4)

Here

[2020-01-06 09:45] stalchuk commented on #941
Hi Azat,

below are some GDB backtrace:

[bt.out1.log](https://github.com/libevent/libevent/files/4025514/bt.out1.log)
[bt.out2.log](https://github.com/libevent/libevent/files/4025515/bt.out2.log)

[2020-01-07 19:50] azat commented on #937
And here is [passed build](https://github.com/azat-archive/libevent-openssl-cmake/commit/99a688ba451b5ad6af70ed200504e49d5f066bea/checks?check_suite_id=388682917)

*Closing this for now, feel free to reopen if something left*

[2020-01-07 19:50] #937 closed

[2020-01-07 19:52] azat opened #945 "Convert travis-ci/appveyor to github actions"
#### Pros:
- windows/osx/linux in one place
- may fix tests under osx
- can be used to build docker images
- according to [doc](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/about-github-actions#usage-limits) allows **20 concurrent jobs** (although only **5 for osx**), while [travis-ci](https://travis-ci.com/plans) allows only **3 concurrent jobs** and **no parall

[2020-01-07 20:21] azat commented on #941
This is interesting:

Why the stdin fd? Okay, it may be closed, but I don't think that this is the case.

Here is also `fd=0` (`sock=0`).
Maybe some issues with `accept4` wrapper?

So since you have 2.6.24 you do not have accept4.

What glibc version do you have?

Ok, according to you strace output, you have uclibc.

Hm, autotools build wraps `test/test-fdleak` into script that adds `LD_LIBRARY_PA

[2020-01-08 07:39] ygj6 commented on #940
I wrote the project [`github-actions-example`](https://github.com/ygj6/github-actions-example) to test sleep functions in github actions. Unfortunately it also failed on Mac. The result is [here](https://github.com/ygj6/github-actions-example/runs/378887791).

[2020-01-08 09:45] stalchuk commented on #941
Hi Azat,

Thank you very much for your time and help!

From what I can see:
uClibc version is 1.0.27
bash version is 4.4.12.

Here is the GDB output with adding a breakpoint to `evutil_accept4_` :
[gbd.out3.log](https://github.com/libevent/libevent/files/4034510/gbd.out3.log)
[gdb.out4.log](https://github.com/libevent/libevent/files/4034511/gdb.out4.log)

You were absolutely right: there was an is

[2020-01-08 11:22] azat commented on #941
This is not enough (there are useless `next` and no `print` statement), you need smth like this:

[code]

But you can ignore this already, since you found the culprit.

It does support accept4 via socketcall[^1] or directly via accept4

Since there is no `accept4` it should use `socketcall` (available since [1.0](http://man7.org/linux/man-pages/man2/syscalls.2.html))

[code]

In linux 2.6.24.4 we

[2020-01-08 11:53] chenjianjian opened #946 "http-connect.c not working"
http-connect.c not working, the 'connect_cb' function only be called in timeout.
The libevent version is 2.0.21
The wireshark packets :

CONNECT 172.28.79.3:9209 HTTP/1.1
Host: 172.28.79.3:9209
Proxy-Connection: keep-alive

HTTP/1.1 200 Connection Established
Proxy-agent: nginx

[2020-01-08 12:16] azat commented on #946
Can you post `strace.log` after running `strace -s1000 -o strace.log http-connect ...` ?

Can you switch to 2.1.x?

[2020-01-08 16:59] Su1c1d0 opened #947 "cmake uninstall target interferes with other projects"
I'm building libevent as ExternalProject along with GLFW and it so happens, that GLFW has already defined an uninstall target prior to adding libevent. (https://github.com/glfw/glfw/blob/master/CMakeLists.txt:364)
If I swap the two it works fine. However, it would be a good practice if libevent checks for the existence of an uninstall target prior to creating one and doesn't break configuration st

[2020-01-08 17:39] azat commented on #947
Sure, do you want to submit a PR?

[2020-01-08 17:52] Su1c1d0 commented on #947
Sure

[2020-01-08 18:47] #947 closed

[2020-01-09 01:42] chenjianjian commented on #946
I switch to 2.1.11. The debug log:
[debug] Attempting connection to 112.49.37.56:5906

[debug] evhttp_add_header: key: Host val: 172.28.79.3:80

[debug] evhttp_add_header: key: Proxy-Connection val: keep-alive

[debug] event_del: 0x1b6d840 (fd -1), callback 0x7f82bbd38f30
[debug] event_del: 0x1b6d8c0 (fd -1), callback 0x7f82bbd39120
[debug] event_del: 0x1b6d840 (fd -1), callback 0x7f82bbd38f30
[de

[2020-01-09 11:49] azat commented on #946
Does it works via, say, `curl`? Smth like this `curl --proxy http://172.28.79.3:9209 libevent.org` (untested)

Ok, but this is not an `strace` log, can you provide it?

`strace -s1000 -tt -o strace.log http-connect`

*added `-tt`, will help a little*

[2020-01-09 11:50] stalchuk commented on #941
Hi Azat!

Thank you for the prompt reply & help!

- > You can run the test under strace to get the syscall where it will oops:

`strace test/regress --no-fork --verbose evbuffer/add_file_sendfile`
[strace_sendfile.log](https://github.com/libevent/libevent/files/4039749/strace_sendfile.log)

`EVENT_DEBUG_LOGGING_ALL=1 test/regress --no-fork --verbose evbuffer/add_file_sendfile`
[debug_sendfile.log]

[2020-01-09 12:02] azat commented on #946
Never mind, I guess I found the problem - it should not read any body for CONNECT response, will be fixed soon.

[2020-01-09 12:14] azat commented on #941
#### strace_sendfile.log

[code]

I have an idea, let's try to remove [`unlink`](https://github.com/libevent/libevent/blob/f0e79bafd8823aedf535e9b344d4cf9a4f9747e5/test/regress_main.c#L141)

#### priority_inheritance

Can run in under `strace` too?
And also can you get the breakpoint where the assertion failed? (run via `gdb` or analyze core dump after a crash)

[2020-01-09 16:16] YongtaoS commented on #944
Thank you for the reply!

looks good, will try it.

Ok. It looks like that the only solution is to complete the handling of downloads first, and then to call  `event_base_loopexit()`.

In my case, one single thread is used.
I don't get "issuing http requests not inplace".  Could you give me an example?

[2020-01-09 16:27] azat commented on #944
If you want to finish-them-all, then it is better to remove events one-by-one, in this case event loop will exit once there will be no events.
But in real life everything has a timeout, so not a great idea per se.

This is interesting, can you provide a reproducer or at least backtrace?

#### inplace:

[code]

#### not inplace:

[code]

*Untested, but should show the difference*

[2020-01-09 19:11] thefallentree commented on #936
@azat  is it possible to change bufferevent_flush behavior on socket based buffervent to write at least once, and if write returns EWOULDBLOCK it simply doesn't do anything?

[2020-01-10 07:36] azat commented on #936
Yes, I guess should not break any existing code, would you mind to contribute this functionality?

It should have:
- flush for sock
- flush for openssl
- flush for async
- unit tests

[2020-01-10 10:01] stalchuk commented on #941
Hi Azat,

[code]

[code]

[code]

[code]

[code]

[strace_priority_inheritance.log](https://github.com/libevent/libevent/files/4045004/strace_priority_inheritance.log)

[code]

[gdb_priority_inheritance.log](https://github.com/libevent/libevent/files/4045019/gdb_priority_inheritance.log)

[2020-01-10 18:01] azat commented on #941
No need to run under gdb, simply run it, i.e.:

[code]

*FYI: to avoid `SIGALRM` pass `--timeout 0`*

[2020-01-10 18:04] azat commented on #941
Does not helps, please try the following:

[code]

[2020-01-10 18:26] azat commented on #941
[code]

Hm, let's try the following patch 66a18574

*Also can you post `strace` output for the `thread/basic` test*

[2020-01-10 18:29] stalchuk commented on #941
[code]

[2020-01-10 20:16] stalchuk commented on #941
[code]

[code]
[strace_priority_inheritance_66a1857.log](https://github.com/libevent/libevent/files/4047752/strace_priority_inheritance_66a1857.log)

[code]
[strace_thread_basic_66a1857.log](https://github.com/libevent/libevent/files/4047753/strace_thread_basic_66a1857.log)

[2020-01-11 15:14] stalchuk commented on #941
[code]

[code]
[gdb_priority_inheritance_66a1857.log](https://github.com/libevent/libevent/files/4049461/gdb_priority_inheritance_66a1857.log)

[2020-01-11 20:44] azat commented on #941
can you try the patch 6e33b7c1, actually I have a branch for this issues, you can simply use it:

    git@github.com:azat/libevent.git issue-941

If this will not help, then in addition to the backtrace I will need the content of the `lock` structure, the following should work:

[code]

(Please play with the command above if it will not print the `debug_lock` structure.)

FWIW the `lock` is not `d

[2020-01-11 20:51] azat commented on #941
https://github.com/libevent/libevent/issues/941#issuecomment-573152499

So it looks to me like `sendfile` is simply broken in your kernel, can you verify this with a simple example, that will have the following sequence of syscalls:

[code]

[2020-01-12 12:36] #946 closed

[2020-01-12 12:37] azat commented on #946
@chenjianjian can you verify libevent from the upstream? (and you need to compile the library too, since not only http-connect had been changed)

[2020-01-12 15:45] azat commented on #942
This is not that easy to fix, but as a quick fix you can call `event_base_loop(event_base, EVLOOP_NONBLOCK)` before `evdns_base_free()`

[2020-01-12 16:22] azat commented on #940
@ygj6 can you also check [appveyor](https://www.appveyor.com/docs/macos-images-software/) ?

[2020-01-12 16:49] azat commented on #940
[Failed](https://ci.appveyor.com/project/azat/osx-timers/builds/30057939) too

[2020-01-12 16:58] stalchuk commented on #941
[code]
[code]
[code]
[gdb_priority_inheritance_6e33b7c.log](https://github.com/libevent/libevent/files/4050862/gdb_priority_inheritance_6e33b7c.log)

[2020-01-12 17:04] azat commented on #941
Ok, can you please [ull from the `issue-941` branch, up to 3338e22e, and run again.

Also the gdb command is a little bit incorrect (missing dereference, and what worries me is that `lock == 0xdeadead`, hm), this is one should be correct one:

[code]

[2020-01-12 19:13] stalchuk commented on #941
[code]
[code]

[gdb_priority_inheritance_3338e22.log](https://github.com/libevent/libevent/files/4051144/gdb_priority_inheritance_3338e22.log)

[2020-01-12 19:34] stalchuk commented on #941
Hi Azat,

Well, old kenel what to do... Should I use
[code]
to disable this function?

[2020-01-12 19:56] azat commented on #941
This will work

[2020-01-12 19:58] azat commented on #941
Hm, by some reason the stack is corrupted there, can you provide output of the following gdb command on failure too (just add another `-ex` to the command before `--args`): `thread apply all bt`

[2020-01-12 20:01] azat commented on #941
FWIW: I tried 2.6.18 stock kernel (debian etch) and sendfile works there without problems

[2020-01-12 20:11] stalchuk commented on #941
[code]

[gdb_priority_inheritance_3338e22_2nd_run.log](https://github.com/libevent/libevent/files/4051353/gdb_priority_inheritance_3338e22_2nd_run.log)

I have an idea to try tomorrow.
Btw, is `/tmp` folder size capacity and permission important for the test to pass?

[2020-01-12 20:13] azat commented on #941
size - no, permissions - shouldn't matter, but nice catch, what is your `/tmp` is (filesystem, mount options)?

[2020-01-12 20:14] azat commented on #941
You forget the quotes

[2020-01-12 20:48] azat commented on #941
Also I checked [openwrt](https://app.vagrantup.com/mcandre/boxes/vagrant-openwrt-cmake-amd64) uclibc 0.9.33.2 + linux 3.18.23, and all tests passed there

[2020-01-12 21:17] azat commented on #941
Also for the priority_inheritance test I need the reason of the pthread_cond_wait failure, I added temporary assert in 34e5a18f (just pull the branch, this is the latest commit there) so once you will run with this patch the program will bail in that place, and you will be able to obtain the return value `r` and `errno` (by using `print` gdb command), can you do this?

Also running test under stra

[2020-01-12 22:23] #895 closed

[2020-01-12 22:24] #928 closed

[2020-01-12 22:25] #70 closed

[2020-01-13 13:09] ygj6 commented on #945
I plan to write the following files in `.github/workflows`:
- linux.yml   (build and test on linux)
- windows.yml (build and test on windows)
- mac.yml (build and test on mac)
- doxygen.yml (generate documentation with doxygen on linux)
- coverage.yml (generate coverage report on linux)

[2020-01-13 13:13] azat commented on #945
Ok, great, thanks!

FWIW: Looks like [I found](https://github.com/azat-archive/osx-timers/commit/03795ae74d5148ba4be2937b1b0762efc87a6887) how to fix issue under osx

And AFAICS osx vms on github actions anyway works better (at least scheduled faster) then on travis-ci

[2020-01-13 13:13] ygj6 commented on #940
I still failed: https://ci.appveyor.com/project/ygj6/github-actions-example

I will try later.

[2020-01-13 13:13] azat commented on #945
I will finish with patches with timers for libevent and leave github actions to you

[2020-01-13 15:20] stalchuk commented on #941
[code]

Looks like `/tmp` is on `/dev/md0` partition with 80Mb free space available.
If it is not enough, I can changed it to `/DataVolume` which is on `/dev/md2` with about 1Tb of free space:
[code]

Today I've tried to configure libevent and compared the results :

1. Vendor toolchain + kernel headers (gcc v3.4.3 [released in 2005]; linux-2.6.24.4)
2. Optware-ng toolchain + kernel headers

The `

[2020-01-13 15:39] boytm commented on #421
I have finished a prototype just now.  Currently, only tested with a simple https client.
https://github.com/boytm/libevent/commit/4e393b027ba05fab87bbd087278a3360059a4088

[2020-01-13 16:02] azat commented on #945
@ygj6 are you planning to do this in the nearest feature?

[2020-01-13 18:16] stalchuk commented on #941
https://github.com/libevent/libevent/issues/941#issuecomment-573458151

Probably I'm not doing it correct:
[code]
[gdb_priority_inheritance_34e5a18.log](https://github.com/libevent/libevent/files/4055042/gdb_priority_inheritance_34e5a18.log)

[code]
[strace_priority_inheritance_34e5a18.log](https://github.com/libevent/libevent/files/4055043/strace_priority_inheritance_34e5a18.log)

[2020-01-13 18:57] azat commented on #941
And `df -hT` ?

Definitely.

Does not affect sendfile code,

[2020-01-13 19:00] stalchuk commented on #941
[code]

[2020-01-13 19:07] azat commented on #941
Kind of, okay, simply pull from the `issue-941` up to 75806d85 and simply run the test, i.e.:

[code]

Also note that you should not run `regress` binary from the `.test` directly, i.e.

Since `test/regress` installs `LD_LIBRARY_PATH`, without this step system wide libevent libraries will be used instead (but maybe you installed `LD_LIBRARAY_PATH` manually and run `test/.libs/regress` to avoid ext

[2020-01-13 19:12] azat commented on #941
Ok, so `rootfs == initial ramfs`, can you firstly mount `tmpfs` as `/tmp/`, i.e.:

[code]

You can check the fs after:

[code]

*And note that this will hides all content of the `/tmp` until `umount /tmp`, so if you need some of files from `/tmp` for your system to work, take some actions firstly*

And retry running the test:

[code]

[2020-01-13 19:34] azat commented on #421
Great! Nice to hearing from you!

I will take a look at your patch

[2020-01-13 20:39] #940 closed

[2020-01-14 04:59] YongtaoS commented on #944
How to safely remove events one by one? Is `send_reply_end()` sync or async?
Will it be a problem if I do something like this:
[code]
Or do I have to set a callback for connection close, and then call `event_base_loopexit()` once all callbacks have been done?

**libevent assertion issues**:
According to your example, I think I just issued http requests in-place.
I integrated the usage of evhttp ac

[2020-01-14 08:04] azat commented on #944
This is not one-by-one you are still breaking the loop manually.

One-by-one means that once you want to exit you need to delete all other events (listener, signals but not connections/requests they will be removed from the http layer) and wait until it will exit.

But again this is not a great idea, since this can take too long, calling event_base_loopexit with timeout is better.

So, the asserti

[2020-01-14 08:44] stalchuk commented on #941
https://github.com/libevent/libevent/issues/941#issuecomment-573820973

Got it)

[code]

[code]

[2020-01-14 09:00] azat commented on #941
Doh, this is another assert, okay, can you pull up to aba5c42b and run it again

[2020-01-14 09:02] stalchuk commented on #941
I'm sorry.

[2020-01-14 09:08] stalchuk commented on #941
https://github.com/libevent/libevent/issues/941#issuecomment-573822983

[code]

[code]

[add_file_sendfile_75806d8.log](https://github.com/libevent/libevent/files/4058258/add_file_sendfile_75806d8.log)

[2020-01-14 09:51] azat commented on #941
So now it reports EINVAL over SIGSEGV, I don't think that there is much I can do with this

*Anyway your setup is pretty specific*

[2020-01-14 10:24] stalchuk commented on #941
[code]

[2020-01-14 10:54] stalchuk commented on #941
In this case no errors from dmesg outpup.

Yes, completely agree with you.

[2020-01-14 11:59] azat commented on #941
Sigh, forget that event_errx_ do not includes errno, please re-run with 1da71c30

[2020-01-14 13:13] stalchuk commented on #941
[code]

[2020-01-14 13:51] ygj6 commented on #945
I have written these files and am still debugging.

[2020-01-14 13:59] azat commented on #941
Basically the problem is in PI (priority inheritance), but I can't find the evidence of this in `strace` (I guess that this is because of the "fast" nature of futex, which does not go to the kernel if there is "no contention", but it still does not explains why the problem is on unlock, maybe this is related to uclibc code) output (that's why I constantly asked you to dump this and that).

But [se

[2020-01-14 16:54] stalchuk commented on #941
Hi Azat,

It's completely fine with me.

After checking the vendor specification I've found out, that the kernel had been built against [uClibc-0.9.29](https://git.uclibc.org/uClibc/tree/?h=0_9_29), while I'm trying to compile `libevent-1.2.11-stable` using `uClibc-1.0.27` provided in a newer toolchain from optware-ng project.

Just a single match of `mutex` in uClibc-0.9.29 repository :(
[code]

[2020-01-14 17:24] azat commented on #941
Kernel does not need libc, I guess you are talking about some toolchain stuff, anyway it should work or fail with an error

That was fun! :)