[2016-06-23 09:43] azat commented on #364
@ellzey I've finished this one, do you have any objections from merging it?

[2016-06-23 11:04] azat opened #368 "tests. false-positive"

[2016-06-25 00:56] ellzey commented on #363
Lot's of CLOSE_WAIT's mean that sockets are not being close()'d.

I wonder if `evhttp_connection_free` isn't being called for some reason.

[2016-06-25 01:10] ellzey commented on #313
stupid fix applied here https://github.com/libevent/libevent/commit/17cc6362239469638a4afc971314ab12ad4ea624

[2016-06-25 01:10] #313 closed

[2016-06-25 01:13] endfighting opened #369 "when I compile my code, I get this error:field ‘ev1’ has incomplete type"
[code]
when I compile my source code with "gcc -o main demo.c -levent", I got this:
demo.c:4:18: error: field ‘ev1’ has incomplete type
     struct event ev1;
                  ^
demo.c:5:18: error: field ‘ev2’ has incomplete type
     struct event ev2;

Then I simplify it
[code]
I got this:
demo.c: In function ‘main’:
demo.c:4:28: error: invalid application of ‘sizeof’ to incomplete type ‘struct

[2016-06-25 01:18] ellzey commented on #369
struct event is no longer exposed, this is legacy. Please use `struct event * ev1 = event_new(..);` instead.

Legacy apps can still `#include <event2/event_struct.h>` for backwards compatibility, but do not assume this will be a valid (matching the internal `struct event;`) for the future.

[2016-06-25 01:23] endfighting commented on #369
Ok, I think I got it, think you ellzey.

[2016-06-25 22:59] #340 closed

[2016-06-25 23:00] azat commented on #340
@adamel are you okay with the fix (latest attached commit -- a3f4ccd)?

Regards,
Azat.

[2016-06-26 08:41] #369 closed

[2016-06-26 17:44] smarek opened #370 "Stable 2.0.22 - Android with r11 and r12 NDK - missing arc4random_addrandom"
Hi,

i had to solve the issue, where arc4random_addrandom is not checked to be available, when building https://github.com/smarek/android-unbound-dns for Android with NDK versions r11 and r12 (this function was effectivelly never implemented, but was falsely visible as available in r10 and lower)

Would you consider adding this in the 2.0.23 stable, if it will be ever released?
Original patch file

[2016-06-26 18:15] ellzey commented on #370
I will look over this tonight.

[2016-06-28 08:12] vyan opened #371 "libevent coredump in calloc"
[code]

we use libevhtp

[2016-06-28 09:01] azat commented on #371
Hi @vyan, so why don't you fill the issue for `libevhtp`, but anyway, which version of libevent do you use? Can you provide a reproducer? Can you run under valgrind?

[2016-06-28 17:21] ellzey commented on #371
also `valgrind --tool=helgrind` since it seems to be using threads. But errors from calloc are rare, that is, unless you're out of memory.

[2016-06-28 17:53] ellzey commented on #368
Most of the current false positives are around the rate-limiting regression tests.

Time skew can play a big factor in this, as well as general load (these are all VMs).

It irks me a bit to see everything but one or two out of 382048023402 builds fail for that test.

[2016-06-29 00:52] ellzey commented on #371
please plop this ticket into libevhtp, I can take it from there.

[2016-06-29 00:52] #371 closed

[2016-06-29 07:00] kubeguy commented on #336
Hi ellzey,
We are setting it by calling evhttp_set_bevcb, but when callback is called, we failed to allocate "bev" due to memory constraint and the callback returned NULL.
In this case, just because bev returned from (*http->bevcb) was NULL, the NULL value is passed to evhttp_connection_base_bufferevent_new and connection proceeds.
Thanks.

[2016-06-29 08:00] azat commented on #371
I think that it is more likely that there is some memory corruption
(some of malloc states).

[2016-07-07 09:25] lanyuliuyun opened #374 "core dumped in evhttp_uri_get_query() after feeding evhttp_uri_parse() a string containing blank chars"
It's libevent-2.0.22-stable.
the following code piece will cause a segment fault in evhttp_uri_get_query()
[code]

In fact, the fatal blank chars can be placed in the query part like the following
[code]

And my compiler and OS is
gcc version 4.8.5 20150623 (Red Hat 4.8.5-4) (GCC)
Linux cloud2 3.10.0-123.el7.x86_64 #1 SMP Mon Jun 30 12:09:22 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

[2016-07-07 10:24] azat commented on #374
On Thu, Jul 07, 2016 at 02:25:08AM -0700, lanyuliuyun wrote:

Hi,

I guess that this is because evhttp_uri_parse() return's NULL, for such
urls (the one that doesn't properly encoded) you can use
EVHTTP_URI_NONCONFORMANT flag for evhttp_uri_parse_with_flags().

Regards,
Azat.

[2016-07-08 10:45] fade2black opened #375 "input and output buffers"
I posted this question to stackoverflow 15 days ago but got no answer so far. So, sorry if this is not the right place to as such questions.

I am trying to figure out the design logic behind the libevent. The only source about this library is this book. In particular my question is about bufferevents. The documentation says that

Every bufferevent has an input buffer and an output buffer. These a

[2016-07-08 13:32] mark-chromium opened #376 "libevent erroneously detects kqueue bug on macOS 10.12"
On macOS 10.12, libevent issues this warning and refuses to use kqueue:

[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0

This detects an old bug in Mac OS X 10.4, fixed in 10.5. It would be surprising if that same bug resurfaced in 10.12.

The test for the bug is checking struct kevent::flags == EV_ERROR, but it should check struct kevent::flags & EV_ERROR.

We worked this

[2016-07-08 14:11] lanyuliuyun commented on #374
@azat Thanks for your answer !
evhttp_uri_parse() does return NULL with that bad url and the segment fault is caused by the misuse of evhttp_uri_parse().

[2016-07-08 14:11] #374 closed

[2016-07-12 13:42] azat commented on #375
q1: it doesn't have any other intermediate buffer, then output buffer. IOW the buffer where you writes your data is intermediate buffer, it will drain from it when it will write part of data to the underlying socket.
q2: yep

[2016-07-12 13:43] azat commented on #375
As for SO, personally I don't have enough time to monitor it

[2016-07-12 17:07] #376 closed

[2016-07-14 09:52] kenpingliu opened #378 "bufferevent+openssl will crash on iOS / macOS"
Versions 2.0.2x ~ 2.1.x and the master all have this issue.

I fund this issue while use bufferevent_openssl_socket_new() to connect a validated host and its invalidated port, like as 127.0.0.1:344.
But if I use bufferevent_socket_connect_hostname() at first, and then use bufferevent_openssl_filter_new() after TCP connected sucessful, It will work fine.

After debug with source code, fund the cras

[2016-07-14 10:07] azat commented on #378
@kenpingliu thanks for the report! I will take a look. Also if you have time can you add a unit test for this particular case? (`test/regress_ssl.c`)

[2016-07-15 02:53] kenpingliu commented on #378
@azat  thanks for your replying, here is my code.
this code can work fine on Android/Windows/Linux, it will output
`test_ev_bevcb[0x1edfba0] 20(01RD|02WR|10EF|20ER|80CN)`
But not on iOS/macOS, it will directly exit while i connect to 127.0.0.1:344, And if i debug my program in Xcode, Xcode could display a crash stack.

I needs bufferevent_openssl_socket_new() because of watermark. I fund the water

[2016-07-19 04:03] bitkevin opened #380 ""Segmentation fault" when writing data with bufferevent_write()"
I write a simple long time connection tcp server with bufferevent. Sometimes it's crach when writing data:

[code]

I havn't use write_callback function, just call bufferevent_write() to write data, should I use write_callback function wait for a write event than call bufferevent_write()?

[code]

libevent version: `libevent-2.0.22-stable`

[2016-07-19 11:13] azat commented on #380
Hi Kevin,

Which version of libevent do you use?
Can you try latest from git?
Can you produce a reproducer?
Can you run under valgrind (maybe there was some memory corruption before)?

Thanks,
Azat.

[2016-07-20 03:28] tangwuquan opened #381 "What's the minimum time interval for evtimer_add()?"
if I set the second parameter of evtimer_add() as:
struct timeval tv1 = {0, 1};
Can the timer be triggered after 1/1000000 second?

[2016-07-20 07:13] azat commented on #381
On Tue, Jul 19, 2016 at 08:28:55PM -0700, tangwuquan wrote:

Yep, but note that it can vary a little.

[2016-07-20 16:05] azat commented on #378
@kenpingliu can you try not to link this binary with `ssl`/`crypto` libs manually, just `libevent_openssl`?

[2016-07-21 05:45] tangwuquan commented on #381
thanks

[2016-07-21 05:45] #381 closed

[2016-07-21 07:22] kenpingliu commented on #378
@azat if I just link with libevent_openssl like as follows
`g++ test_evconn.cpp -I ./inc lib/macos_x86_64/libevent.x86_64.a lib/macos_x86_64/libevent_openssl.x86_64.a lib/macos_x86_64/libevent_pthreads.x86_64.a -lpthread -o tev`
It will fail with many errors, like as:
`"_BIO_clear_flags", referenced from:
      _bio_bufferevent_write in libevent_openssl.x86_64.a(bufferevent_openssl.o)
      _bio_b

[2016-07-21 07:44] kenpingliu commented on #378
@azat thanks for all, I fund a problem, if i add the code
`signal(SIGPIPE, SIG_IGN);`
before call any libevent function. It will work fine.
But can not work in iOS/macOS Xcode project, when i add this code in main() function for main.m, the app will crash too.

[2016-07-25 17:15] azat commented on #378
Thanks for the info (didn't noticed this before, because github doesn't send emails on updates/edits)! I will take a look. BTW which version of osx do you have?

[2016-07-25 17:18] azat commented on #378
Also according to that link `You can handle this in **one of two** ways` so I'm still confused about this, do you have multi-threaded app?

[2016-07-26 01:44] kenpingliu commented on #378
My OSX version is 10.11.6 (15G31), And this issue exists under iOS also, but not Android/Linux/Windows. It occurs in only Apple's OS.
Yeah, My app is a multi-threaded app, and the same code will be compiled and port for run in Android/iOS/Linux/macOS/Windows.

[2016-07-26 07:07] azat commented on #378
Can you try to reproduce this in single-thread/thread-less?

[2016-07-27 00:12] cpeterso opened #382 "µchex warnings: some pointers are null checked after they have already been dereferenced"
These warnings in libevent were reported by µchex, a static analysis tool described in the paper ["How to Build Static Checking Systems Using Orders of Magnitude Less Code"](https://web.stanford.edu/~mlfbrown/paper.pdf) (Fraser Brown, Andres Nötzli, Dawson Engler):

That these pointers are null checked suggests null is a valid value and µchex warns that the pointers are dereferenced _before_ the n

[2016-07-27 04:04] kenpingliu commented on #378
Hi @azat, here is my test code.
1. use 'brew install libevent openssl'
It will install livevent 2.0.22 and openssl 1.0.2h
2. compile with: g++ test_evconn.cpp -I ./inc -lssl -lcrypto -levent -levent_openssl -levent_pthreads -lpthread -o tev
3. run with gdb: sodu gdb tev

(gdb) r
Starting program: /Users/kenping/Downloads/libeventopenssl/test/tev
test_ev_ssl_connect 127.0.0.1:344, single_step=1
set

[2016-08-03 03:13] rhc54 opened #384 "Libevent perturbs application calls to rand()"
The OpenMPI community has received several complaints recently about applications whose use of rand() is being perturbed by our library. Investigation found that libevent is, among others, calling rand() internally. This perturbs the application.

We found a workaround whereby we can define rand to point to our own function, which generates a random number using a solution other than the standard

[2016-08-03 13:55] jsquyres commented on #384
If you care, here is the alternative to rand(3) that we use:

https://github.com/open-mpi/ompi/blob/master/opal/util/alfg.c

We can then call `opal_srand()` and `opal_rand()` instead of `srand(3)` and `rand(3)`.

[2016-08-04 08:37] azat commented on #384
On Tue, Aug 02, 2016 at 08:13:48PM -0700, rhc54 wrote:

Simple grep through sources and I can't find any of the following:
- rand
- rand_r
- srand # only in test-ratelimit.c
- random

Can you share some callers of rand() in libevent?

Thanks,
Azat.

P.S. Also we have arc4random.

[2016-08-04 09:15] azat commented on #378
Hi @kenping, thanks for the effort!

Actually event_use_pthreads() does not create any threads, it just
installs appropriate callbacks for locks/conds, to make it's structures
thread-safe (against user threads), so I guess that you had
single-threaded app before too (of course if you not omit some part of
sources).

It is better to test latest libevent, but of course this shouldn't
change anything

[2016-08-04 14:04] jsquyres commented on #384
You are correct!  I don't see any calls to `rand()` in the current libevent code base, either.

We are using an older version of libevent that still has calls to `rand()`.  Sorry for the noise!

[2016-08-04 14:34] jsquyres commented on #384
When I replied earlier, I did a git clone from https://github.com/libevent/libevent, confirmed what you said (no calls to `rand()` and friends), and then looked at the libevent version in `configure.ac`, and saw that it is set to `2.1.5-beta`.  We're using v2.0.22 in Open MPI, and I assumed "whoops; we must be using an old version in Open MPI."

But @rhc54 just pointed out to me that libfabric.org

[2016-08-07 13:06] azat commented on #384
Well, we are trying to push releases ASAP (see #348, #285), and it will be fixed only in *2.1.x* (I don't sure that backporting this to *2.0* will be easy). Sadly, but I can't tell more precisely about *ETA*.

[2016-08-07 13:08] azat commented on #384
Fixed in e86af4b7e56ed5b7050cb4f41ae534f54748598c

[2016-08-07 13:08] #331 closed

[2016-08-07 13:18] azat commented on #382
1) covered with `target`, though it is not readable

[2016-08-07 13:19] azat commented on #382
2) covered with https://github.com/libevent/libevent/blob/df6f99e5b51a3c0786f54cb9822604ec63385400/evrpc.c#L871

[2016-08-07 13:24] azat commented on #382
Ops, you are reporting about that they are redundant, okay, they will be eliminated.

[2016-08-07 13:25] azat commented on #382
Thanks for you report (with details about lines and links to them)!

[2016-08-09 12:57] #364 closed

[2016-08-09 21:37] azat commented on #354
Fixed by:
- https://github.com/libevent/libevent/commit/dc95823cd79d32be8154e94f64f30e61a90850e2
- https://github.com/libevent/libevent/commit/050bfc7fc657e8408336edd23f08b4d080a38ea4

[2016-08-09 21:38] azat commented on #355
Hm, I'm not sure that ReleaseChecklist talking about `cmake`but anyway fixed (see #354).

[2016-08-09 21:38] #355 closed

[2016-08-09 21:47] azat opened #385 "solaris build issues (autotools, without running autogen.sh)"
[code]

[2016-08-09 21:49] azat opened #386 "solaris build issues (autotools, running autogen.sh)"
[code]

[code]

[2016-08-09 21:56] azat opened #387 "sometimes "main/fork" test hung on solaris"

[2016-08-09 22:00] azat opened #388 "freebsd: some tests fails"
- [x] bufferevent/bufferevent_connect_fail_eventcb_defer (passes with `--verbose`, some timing -issues?)
- [x] bufferevent/bufferevent_connect_fail_eventcb (passes with `--verbose`, some timing issues?)
- [ ] http/cancel_by_host_server_timeout
- [ ] http/cancel_server_timeout

[2016-08-09 22:22] azat commented on #354
Actually there is bug that was hidden from me, because I already had a dirty patch, so reopened

[2016-08-10 08:15] #354 closed

[2016-08-11 08:33] azat commented on #387
Seems that https://github.com/libevent/libevent/commit/ab14f7 related

[2016-08-11 14:19] #387 closed

[2016-08-12 02:53] joyhope opened #389 "whether missing connect error indicate"
In the 2.0.22 code, it seems  HOOK_CONN_RUN is manually disabled. I think the macro needs to be called in the  _evhtp_connection_error_hook.

Am I right?

static inline evhtp_res
_evhtp_connection_error_hook(evhtp_connection_t * connection, evhtp_error_flags errtype) {
    if (connection == NULL) {
        return EVHTP_RES_FATAL;
    }

    if (connection->request != NULL) {
        _evhtp_error_h

[2016-08-12 05:46] azat commented on #389
You should open this issue in [libevhtp](https://github.com/ellzey/libevhtp)

[2016-08-12 10:57] #389 closed

[2016-08-23 13:44] jmillan commented on #225
Hi,

I don't know how to accomplish the regression test. Any help is very welcome.

The issue is reproduced for the following scenario, considering the next actions happen in chronological order.

[code]

[2016-08-23 18:36] kaushik90 opened #390 "libevent: Reading all bytes from buffer"
I have following read callback function `readcb` which is invoked on read event. My issue is, `bufferevent_get_input` is reading only 4096 bytes from the underlying buffer. How can I make it to read all bytes. I have used a variant also, given below as `readcb_variant`. It also reads only 4096 bytes and exists with n = 0, means no more bytes to read.

[code]

[2016-08-23 19:59] ploxiln commented on #390
You need to return from the function to let the event loop run, so it can read more into the bufferevent's buffer. Your callback will be called multiple separate times with more bytes.

[2016-08-24 04:57] kaushik90 commented on #390
Found this` #define EVBUFFER_MAX_READ   4096` in `buffer.c`. I was not aware of this enforced limit. Closing the issue

[2016-08-24 04:57] #390 closed

[2016-08-29 02:20] Sweetkubuni opened #393 "issue compiling on windows with CMAKE Visual Studio 2014"
the EVENT__DISABLE_OPENSSL is default OFF instead of ON. not really sure if it is a big deal. lol

[2016-08-31 09:48] raybellis opened #394 "Consider setting IPV6_V6ONLY on IPv6 sockets to prevent automatic dual-stack binding"
Using the HTTP server under Linux, the `evhttp_bind_socket()` function with a host parameter of `::` will by default on many distributions make the socket dual-stack, meaning that a subsequent attempt to `bind()` to `0.0.0.0` will fail.   On other O/S it's necessary to bind the IPv4 and IPv6 sockets separately.

In my `evldns` package I avoid this by calling `setsockopt(s, IPPROTO_IPV6, IPV6_V6ONL

[2016-08-31 20:37] adamel commented on #340
Yes, looks fine to me.

[2016-08-31 22:06] azat commented on #340
@adamel cool, thanks!

[2016-09-16 22:36] gpaulsen commented on #384
It looks like there has never been a stable 2.1.x release, even though 2.1.1 had it's first unstable release on 2012-04-03.
Does this mean that the ETA for a stable 2.1.x release is 4 or more years away?

[2016-09-18 07:08] azat commented on #384
2.1.1 had it's first unstable release on 2012-04-03.

away?

Sadly but it looks like this, we are working hard to release 2.1 stable,
but for now only 2.1.6 beta, though it is pretty stable from my POW, but we
need some time to validate this.

[2016-09-21 15:59] gpaulsen commented on #348
IBM is interested in a new stable libevent also.

[2016-09-22 18:39] gpaulsen commented on #384
Thanks for the reply.
So, can you comment on what's required for a stable release?  Tests to pass at a certain level?  I'm trying to gage how long we should delay our release of our own Open MPI based MPI, or when we can pickup libeven 2.1.x which has some fixes our customers are requesting.

[2016-09-24 09:03] rainwolf opened #398 "Configure misidentifies clock_gettime and getentropy on macOS Sierra/XCode8 when compiling for iOS 8"
libSystem.dylib provides clock_gettime from iOS 10 onward but not below but the configure script does not detect that. Even with the `-Wl,-no_weak_imports` linker flag. The only way I managed to compile for iOS8 and iOS9 on macOS Sierra with XCode8 was to patch out detection of clock_gettime from the configure script. This is less-than-ideal but the only fix I know.

This is the patch I used
[code

[2016-09-25 16:05] azat commented on #384
Sorry for the delay.

pass at a certain level?

Yeah, and also a lot of configurations to test on:
- os
- disable/enable some functionality at compile time

You can take a look at
https://github.com/libevent/libevent/wiki/ReleaseChecklist

For more information

MPI based MPI, or when we can pickup libeven 2.1.x which has some fixes our
customers are requesting.

2.1.6-beta is already available, yo

[2016-09-26 15:21] gpaulsen commented on #384
Okay, Thanks for info, and link.  This week, IBM Spectrum MPI (based on Open MPI v2.x) will add the beta for some internal testing, and feedback any issues we find.

[2016-09-26 16:14] jsquyres commented on #384
@gpaulsen @jjhursey It would be great to see a pull request on Open MPI with the beta libfabric.  😄

[2016-09-27 02:09] gpaulsen commented on #384
A) This is libevent. :)
B) I don't know that we want Open MPI to use beta libfabric.  We'll know more after some testing.  Perhaps the beta in the master, but wait for upgrading a release branch until it releases?

[2016-09-29 21:55] Shchvova opened #399 "libevent built on macOS 10.12 Sierra is not portable to older OS"
I have an app which uses `libevent`. Since macOS 10.12 Sierra it has `clock_gettime`. Problem is, older versions of OS X doesn't have it, so when I build library on my mac, clients of older OS would get crash with `Symbol not found: _clock_gettime`.

I solved the problem by deleting `clock_gettime` from `configure.ac`, but I don't think this is a proper solution.

Can we have a flag or a switch to

[2016-09-29 22:38] Shchvova commented on #399
I believe this option would be crucial to anyone using macOS and delivering applications to users, so I created an option to configure, so now I build `libevent` for my app like follows:
[code]

[2016-10-02 13:01] Shchvova commented on #398
I made a pull request, adding new option `--disable-clock-gettime` #400

[2016-10-02 21:26] DigiAngel opened #401 "Compile against non-system ssl?"
Topic says it...I have libressl in /opt/libressl.  I've tried passing flags, but pkg-config always points to the system ssl.  How do I compile libevent against /opt/libressl?  Thank you.

[2016-10-02 23:20] azat commented on #393
Hi @Sweetkubuni

Well actually you can compile it with *openssl*, you can take a look at [https://ci.appveyor.com/project/nmathewson/libevent/build/job/ajt5r1tcc46jf1nx](successful story) and it's [https://github.com/libevent/libevent/blob/master/appveyor.yml](setup)

And the only reason for me to make *openssl option* is backward compatibility.

So I'm closing this one, if you have other thoughts

[2016-10-02 23:20] #393 closed

[2016-10-02 23:25] azat commented on #401
I guess you can change next lines:
- https://github.com/libevent/libevent/blob/master/m4/libevent_openssl.m4#L13
- https://github.com/libevent/libevent/blob/master/m4/libevent_openssl.m4#L20

Or add some switch for `autoconf`

[2016-10-02 23:28] azat commented on #360
@luckypoem / @lifejuggler  any progress?

[2016-10-02 23:31] azat commented on #398
So let me close this one, and take a look at #400

[2016-10-02 23:31] #398 closed

[2016-10-02 23:57] azat commented on #399
@Shchvova thanks for the report and the patch, let me close this one at take a look at #400

[2016-10-02 23:57] #399 closed

[2016-10-03 00:01] azat commented on #378
@kenpingliu so everything good with *2.1.6*?

[2016-10-03 00:15] DigiAngel commented on #401
Thanks....got this figured out with the below:
[code]

then drop a file with that contains "/opt/libressl/lib" in /etc/ld.so.conf.d/, do an ldconfig, and away you.  Thank you.

[2016-10-03 00:15] #401 closed

[2016-10-03 00:36] azat commented on #394
@raybellis thanks for the report!

One thing that bother me is that some users can already depends from the old behavior, very unlikely I guess, but still.

[2016-10-03 00:38] azat commented on #375
@fade2black closing this for now, if you will need more info on this you can always reopen it.

[2016-10-03 00:38] #375 closed

[2016-10-03 00:39] azat commented on #363
@BrentHuang any news?

[2016-10-03 00:52] DigiAngel opened #402 "Fails to compile with openssl-1.1.1"
Here's the output..thank you:
[code]

[2016-10-03 00:57] azat commented on #402
@DigiAngel , can you please try to backport #397 ?
Or even better use *2.1.6* instead of *2.0.x*

[2016-10-03 00:59] DigiAngel commented on #402
Oh cool yea...I'll have that a shot and report my findings thank you.

[2016-10-03 01:05] DigiAngel commented on #402
And from the latest libevent git:
[code]

Thanks....this is actually compiling off the latest openssl git as well.

[2016-10-03 01:12] azat commented on #402
And for latest version you need to apply #397

[2016-10-03 01:14] azat commented on #402
Or you can just download tarball from here:
https://github.com/libevent/libevent/archive/a39254c25f32850acbb598936a957982738b68e3.zip

[2016-10-03 02:48] DigiAngel commented on #402
Perfect...that worked like a champ...thank you so much!

[2016-10-03 02:48] #402 closed

[2016-10-03 19:49] lifejuggler commented on #360
adding the flag worked for me. I dunno about luckypoem

[2016-10-05 07:50] azat commented on #67
@pulsar-git closing this one for one, please reopen if you think that it is still actual with latest libevent.

[2016-10-08 06:06] kenpingliu commented on #378
@azat sorry for the later response. The issue exists in 2.1.6 beta also. If i remove the following codes, the applications will crash also.
`
#	if defined(SO_NOSIGPIPE) && !defined(MSG_NOSIGNAL)
    	// Ignore SIGPIPE for every connection
    	int value = 1;
    	evutil_socket_t fd = bufferevent_getfd(bev);
    	if ( fd>0 && setsockopt(fd, SOL_SOCKET, SO_NOSIGPIPE, &value, sizeof(value))==-1 )

[2016-10-10 12:33] slokhorst commented on #261
@nschloe I don't think that this is needed for IPv6 support in Tranmission. See [Transmission#59](https://github.com/transmission/transmission/issues/59).

[2016-10-10 15:24] ddiss commented on #261
Any updates on the integration plan here? I'm still looking forward to seeing a 2.2 release, preferably with HTTP client functionality similar to 2.1.

[2016-10-10 19:00] azat commented on #261
@ddiss firstly we need release *2.1 stable* (I hope that this will be in a month) and then we will work on *2.2*

Plus as @ellzey wrote:

[2016-10-11 07:28] armman475 opened #403 "Libevent support openssl async mode?"
Openssl 1.1.x added ASYNC support. I want to know libevent need to do to modify it?
  Thanks.

[2016-10-11 08:53] gj12 commented on #403
If I understand this correctly, OpenSSL async support is async network IO with events?
https://www.openssl.org/docs/man1.1.0/crypto/ASYNC_start_job.html

[2016-10-11 14:14] azat commented on #403
@armman475 it should implement support for `SSL_MODE_ASYNC`/`SSL_ERROR_WANT_ASYNC`/`SSL_get_async_wait_fd()`/`SSL_waiting_for_async()`

(But actually libevent openssl support already async of course).

Refs: openssl/openssl#433

[2016-10-11 14:18] azat commented on #403
@gj12 AFAICS it is just async jobs, it doesn't restricted to network IO.

[2016-10-11 20:13] sburke56 opened #404 "cmake version looks wrong"
This is what I see when I run cmake.  I'm guessing the major, minor, & patch revisions are not set correctly?  And this is causing an error when I try to "make event".

How am I supposed to fix this correctly?

[code]

Error after running make event

[code]

[2016-10-11 21:48] azat commented on #404
How did you change it?
Anyway here is the sample from cmake rules:
[code]

And all of this variables (`EVENT_VERSION_*`) should be int

[2016-10-12 02:36] armman475 commented on #403
@azat  The following is my understanding:
If my program needs to use openssl asynchronous mode, set SSL_MODE_ASYNC?
If not set SSL_MODE_ASYNC, my program  will use the synchronous mode？

[2016-10-12 09:18] azat commented on #403
Do you need "openssl async mode" or just non blocking behavior?

If you use libevent bufferevent ssl, than it is already non blocking,
regardless SSL_MODE_ASYNC, and plus libevent doesn't support it for now, so
you will break bufferevent if you will set it.

[2016-10-12 10:17] fquinner opened #405 "Is library name during Cmake alpha build on windows correct?"
If I run the following in a build subdirectory inside the source tree of the 2.1.6 beta release (tarball downloaded from site):

[code]

It seems to create `event.lib`, `event_core.lib` and `event_extra.lib` rather than the traditional `libevent.lib`, `libevent_core.lib` and `libevent_extra.lib`. Is this intentional or an oversight? I.e. will it look like this going forward?

[2016-10-12 10:34] armman475 commented on #403
I want to use openssl async mode.
If libevent is not supported right now, is there a plan to add this feature?

[2016-10-12 16:50] azat commented on #403
Yes sure, and this isn't complicated (As far I think for now).

[2016-10-12 23:44] azat commented on #405
Hm, interesting, `add_library()` does this [in purpose](https://cmake.org/cmake/help/v3.4/command/add_library.html).

I guess that this is how it suppose to work on win32 (but this is just a guess).

If you need this "lib" prefix you can try adding next hunk into `CMakeLists.txt`
[code]

[2016-10-13 06:23] armman475 commented on #403
Thanks.
In addition ,how to get the progress of libevent?

[2016-10-13 10:08] azat commented on #403
I will mention this issue in patch set.
But if you want you can try do it by yourself and send a pull request/patch.

[2016-10-14 08:13] gonzus opened #408 "libevent ignores body received for method GET and others"
Function evhttp_method_may_have_body() is used to determine which methods may include a body. The standard is not very clear about how to deal with bodies in GET, but many other languages / frameworks / implementations allow it. Probably too for other methods.

[2016-10-15 11:02] azat commented on #408
Hm, looking through [rfc2616](https://www.ietf.org/rfc/rfc2616.txt), and cannot find nothing about body for GET, but I guess that that fact that GET request doesn't adds any meaning for request-body (according to 4.3) that we SHOULD ignore it.

Well and here is [so[(http://stackoverflow.com/a/983458) answer that thinks just like this.

But tested `php` builtin server:
[code]

`php -S 0.0.0.0:8080

[2016-10-16 08:47] azat commented on #384
So, can you/we close this?

[2016-10-16 12:44] jsquyres commented on #384
Yes, I think this can be closed.

[2016-10-16 13:47] #384 closed

[2016-10-17 01:12] hepengfei commented on #370
This solve problem for me. Thanks @smarek

[2016-10-17 01:24] ploxiln commented on #408
The popular ElasticSearch database started the odd trend of accepting a query description in the body of a GET request. But these requests can be POST requests instead, because many libraries and tools understandably do not expect to ever include a body in a GET request. [doc](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html)

IMHO it's fine for libevent to

[2016-10-17 07:40] gonzus commented on #408
As I mentioned when I opened the ticket, there seems to be no universal
agreement on this. As a counterexample, take a look at what Go does with
GET bodies:
http://stackoverflow.com/questions/17676334/how-to-parse-http-get-request-body-in-a-go-http-server

I would argue more on the "why not" side. If the client wants to send a
body with a GET request, why not accept it? And leave the "business
log

[2016-10-17 15:31] raybellis commented on #394
@slokhorst that's right - you have to call `setsockopt()` before the `bind()` call happens.  I don't use libevent's own socket creation functions myself, but I still think making this change is the right thing.  It's much easier for people whose systems rely on this behaviour to add an explicit IPv4 and/or IPv6 binding than to remove one that's automatically created for you by the library.

[2016-10-18 19:52] kerneljake commented on #360
The following worked for me with 2.0.21-stable on El Capitan 10.11.6 :
$ CPPFLAGS=-I/opt/local/include ./configure --prefix=/opt/local
$ make

[2016-10-18 22:30] azat commented on #360
Okay, I guess this can be closed.

[2016-10-18 22:30] #360 closed

[2016-10-21 07:03] pulsar-git commented on #67
Hi,

Sorry for the big delay...It looks like the bug is still there. Maybe I am just missing some point in libevent but my assumption is that if I don't write anything to a bufferevent then I should not get any write_timeout .

Function filter_check (line 97) makes a bufferevent_filter with read & write timeouts but doesn't try to write anything there but we get a BEV_EVENT_WRITING error in errorc

[2016-10-24 13:41] symbolix opened #410 "Build fails on OSX El Capitan 10.11.6 with openssl"
Hi,

I am trying to build `libevent` with `openssl` support. The build process fails with the following errors:

[code]

Here is my environment:

[code]

Also I have `openssl` on my path.

[2016-10-24 14:59] ploxiln commented on #410
What version/branch of libevent are you trying to build? Only master branch, past any release, is currently compatible with openssl-1.1.x - for any released version you'll have to use openssl-1.0.x

[2016-10-24 16:16] azat commented on #410
@symbolix wow, you are using 2.0.22, can you give libevent 2.1 from git a try? (since you need #397 which was merged recently and only into 2.1)

[2016-10-24 18:00] symbolix commented on #410
Hi, thanks for looking into this. If I want to stick with `2.0.22` does that mean I need `openssl-1.0.x`? And for `2.1`, `openssl-1.1.x` is good?

[2016-10-24 19:10] symbolix commented on #410
Trying `libevent-2.0.22` with `openssl-1.0.2j`. `openssl` compiled as **x86_64**. When I pass the following flags to `libevent-2.0.22` configure:

export CPPFLAGS="-arch x86_64 -I/Users/me/apps/Darwin64/openssl-1.0.2j-clang-800.0.38/include"
export CFLAGS="-arch x86_64 -I/Users/me/apps/Darwin64/openssl-1.0.2j-clang-800.0.38/include"
export LDFLAGS="-arch x86_64 -L/Users/me/apps/Darwin64/openssl-1.

[2016-10-25 18:44] azat commented on #410
On Mon, Oct 24, 2016 at 11:00:38AM -0700, symbolix wrote:

You can backport that patch to 2.0, or wait for a while, since I guess
that you are not the only person why needs this.

But yes for now it is:
- 2.0.22: openssl < 1.1
- 2.1 (3e9e0a0d46e4508e8782ec3787c6d86bab63046d)  any openssl version (more or less)

[2016-10-25 21:09] azat commented on #410
As for static libs, I will take a look later, can you try shared libraries for now?

[2016-10-25 21:20] azat commented on #243
Closing this one for now

[2016-10-25 21:20] #243 closed

[2016-10-25 21:22] azat commented on #177
@CruiseYoung Closing this one for now, if it still fails with latest (from git) version, please reopen

[2016-10-25 21:22] #177 closed

[2016-10-25 21:24] azat opened #411 "win32: cmake VS autotools regression tests"
[build](https://ci.appveyor.com/project/nmathewson/libevent/build/2.1.6.271)

So tests passes without [ssl](https://ci.appveyor.com/project/nmathewson/libevent/build/2.1.6.271/job/ykn5gyq4lcl3l026) but not under [cmake](https://ci.appveyor.com/project/nmathewson/libevent/build/2.1.6.271/job/wvy2jp7uojcut5cx)

[2016-10-25 21:26] azat opened #412 "win32: regress with ssl"
autotools:
- [ok without ssl](https://ci.appveyor.com/project/nmathewson/libevent/build/job/typ19v6cv038b9qw)
- [fails with ssl](https://ci.appveyor.com/project/nmathewson/libevent/build/job/ujfe3q8aswdrga0c)

[2016-10-25 21:34] azat commented on #38
Closing this one, if somebody thinks that this must be fixed in *2.0*, please reopen!

[2016-10-25 21:34] #38 closed

[2016-10-25 21:40] azat commented on #380
@bitkevin closing this one for now, please reopen once you will provide details.

[2016-10-25 21:40] #380 closed

[2016-10-25 21:49] ploxiln commented on #410
homebrew is able to build both static and dynamic libevent-2.0.22 against homebrew-built openssl-1.0.2j. There does not appear to be anything special in the homebrew formula for libevent, but of course the openssl formula is rather complicated.

I downloaded the libevent-2.0.22 tarball and built it against the homebrew-built openssl-1.0.2j:

[code]

So, the complicated part is, how to build openss

[2016-10-25 21:59] azat commented on #411
[code]

[2016-10-25 22:34] azat commented on #178
I'm going to rebase mentioned patch a little bit and merge it, since that `unsigned short -> ev_uint16_t` is already started in 6bf1ca78.

[2016-10-26 10:13] #178 closed

[2016-10-26 10:13] #411 closed

[2016-10-30 23:26] azat opened #413 "testing with vagrant"

[2016-10-31 21:40] azat commented on #413
Closed with 9585338

[2016-10-31 21:40] #413 closed

[2016-10-31 21:43] azat commented on #385
I guess that `python` was missing, closing this one.

[2016-10-31 21:43] #385 closed

[2016-10-31 21:45] azat commented on #388
After 9585338, I verified that it passes sometimes, hm

[2016-10-31 21:57] azat commented on #405
So I guess that this is the correct behavior otherwise I don't think that `find_library` can find this library without help.

@fquinner what do you think?

[2016-10-31 22:04] fquinner commented on #405
Thanks for the good answer and another good question :). Yeah I think on windows, bare makes more sense, its something I'm struggling with myself on other projects too but on balance if cmake has it as a default, its probably a pretty sensible default.

[2016-10-31 22:07] azat commented on #405
Same here, thanks!

[2016-10-31 22:07] #405 closed

[2016-11-01 15:22] azat commented on #403
So I looked into openssl async more verbose, and AFAICS there is almost no reason to add it's support into libevent **for now**, since only one engine support async (well 2 actully, but `dasync` doesn't count, since it is dummy and normal init for it has been removed in openssl/openssl@8d00e30f96fb86b20bc992f626b188c3548fc58c and now you can load only using `ENGINE_by_id()`) - `afalg` but it is ve

[2016-11-02 02:19] armman475 commented on #403
Thank you for your patience.
Now we use ssl accelerator card, in order to enhance the acceleration effect, so need to use asynchronous mode.
Our program depends on libevent and openssl,  openssl already support asynchronous mode in the new version, so we also need libevent to achieve this feature.

[2016-11-07 10:13] fettliu opened #414 "listener.c 853 line memory leak"
lev->accepting = mm_calloc(lev->n_accepting, sizeof(struct accepting_socket *));

I found 32bytes memory leaks on my os(windows) that using IOCP.

[2016-11-07 10:20] FettLuo opened #415 "evthread_use_windows_threads memory leak"
![image](https://cloud.githubusercontent.com/assets/14716316/20054117/67771612-a516-11e6-92b4-1fef30890f56.png)

Perhaps not a problem. But I do not know how to release it!

[2016-11-07 12:21] FettLuo commented on #414
#define _EVENT_VERSION "2.0.22-stable"

[2016-11-07 12:21] FettLuo commented on #415
#define _EVENT_VERSION "2.0.22-stable"

[2016-11-07 15:05] azat commented on #415
Can you try next:
- libevent 2.1.7-rc
- `libevent_global_shutdown()`

?

[2016-11-07 15:06] azat commented on #414
Refs: #257

[2016-11-08 02:56] FettLuo commented on #415
nice

[2016-11-08 02:56] #415 closed

[2016-11-08 07:42] Windeal opened #416 "Creash in nameserver_ready_callback"
I meet a crashed in libevent when I use it for nameserver resolves.
Crashed log as below:
`signal 11 (Address not mapped to object) at address 0x130 [at wspx:0x30fc0]
module=/data/data/com.cncn.xunjia/files/wspx.rm (deleted) pc=0x30fc0 evdns.c:1485 nameserver_ready_callback
module=/data/data/com.cncn.xunjia/files/wspx.rm (deleted) pc=0x246e3 event.c:1347 event_process_active_single_queue`

[2016-11-08 09:13] azat commented on #416
@Windeal can you try 2.1.7-rc?

[2016-11-08 16:03] azat commented on #414
@FettLuo I guess you tried `2.1.7-rc` and don't see any leak there?

[2016-11-09 01:02] FettLuo commented on #414
I am not running 2.1.7-RC.
But I did not see free Lev->accepting in the listener.c, except err_free_accepting in the iocp_listener_disable_impl().

[2016-11-09 02:07] Windeal commented on #416
@azat  I am so sorry for having no test environment to retest this issue.  My libevent version is 2.0.19-stable. I will try to compare it with 2.1.7-rc.   Could you give me some more advice？

[2016-11-09 02:13] ploxiln commented on #416
2.0.20 was released in 2012 and has an evdns segfault fix.
2.0.22 has additional evdns fixes and was released in 2014.

[2016-11-09 07:47] Windeal commented on #416
@ploxiln Thank you for your reference
I think [e8fe749](https://github.com/libevent/libevent/commit/9f39c8875683d12f64cfe2c9d32d9c15982a1f33#diff-10cf121c57f11a2e1ceadf7cef0c935aL3981) ,the evdns fix in 2.0.22 in 2014, may be related to my crash. But I am not sure.

My program crashed at `EVDNS_LOCK(ns->base);` in `nameserver_ready_callback`.
[code]

Do you think my crash is caused by the issue fi

[2016-11-10 06:54] azat commented on #416
@Windeal if you don't shutdown evdns than - no.

[2016-11-12 19:22] pprindeville opened #420 "Need user-triggered events"
I'd like to see truly native user-triggered events that aren't a subversion of timers.

I'm happy to implement this myself, but was hoping for some high-level guidance before I start coding this.

[2016-11-13 00:17] ghost opened #421 "Support mbedtls"
I'd like to request support for mbedtls (https://tls.mbed.org/) or information on how to integrate with libevent.

We have to use mbedtls (for... reasons)

[2016-11-13 15:37] nmathewson commented on #420
Does constructing an event and then calling event_active() on it not work for you?

[2016-11-13 22:59] azat commented on #421
Basically all you need is to make new `bufferevent_openssl.c` -- `bufferevent_mbedtls` (but please do not just copy-paste it and then substitute `SSL_*` to `mbedtls_*` analogs) + some changes to `cmake`/`autoconf` so that it can detect which openssl library is.

[2016-11-14 12:08] nuuman opened #422 "Support port unification"
An increasing number of server supports regular traffic and SSL traffic on the same port (especially prevalent in the Java space)

This means, detect SSL hello packet, then move to SSL.

Would this be hard to implement in libevent? I suppose you need to put the hello packet back on the "read queue" so that the ssl api starts with the hello packet.

Ideas?

[2016-11-14 21:27] pprindeville commented on #420
How, specifically?  I was looking at the one example I have from an email that Bill Vaughn sent out, where he says:

[code]

So are we talking about adding a timer event with immediate expiration?  Or is there a better way to do things than this?

[2016-11-14 21:57] azat commented on #420
Here is a simple [example]
(https://gist.github.com/azat/d76de36a8980b888e111a267666b1794)

Is it what you want to do? @pprindeville

[2016-11-14 22:52] pprindeville commented on #420
@azat thanks for that example.  In fact, the EV_READ doesn't seem to be necessary, you can pass 0 per the header file comments:

[2016-11-15 07:48] azat commented on #420
Indeed, you don't even need `EV_READ`

So can you close this?

[2016-11-15 17:45] pprindeville commented on #420
Not yet.  I was thinking about adding a dedicated type.  I've done a little work and can do a PR, but that's for sharing purposes so far.  It's still a work-in-progress.

[2016-11-18 07:35] JandunCN opened #424 "What results in build error `util.h:139:26: error: operator '==' has no left operand #elif EVENT__SIZEOF_LONG == 4`?"
I built libevent via `cmake xxxxx; make; make install` on Centos7.2_x64, but I encountered many errors like the following tip:

 #error "No way to define ev_uint64_t"
  ^
libevent/include/event2/util.h:139:26: error: operator '==' has no left operand
 #elif EVENT__SIZEOF_LONG == 4

**./cmake --version**

**gcc --version**

[2016-11-18 08:17] azat commented on #424
@JandunCN can you send commit hash (just in case)?

[2016-11-18 18:03] azat commented on #424
Checked on `centos/7` with latest upstream and it works with:
[code]
[code]
[code]

[2016-11-19 12:12] JandunCN commented on #424
@azat Thank you for your reply. It had nothing to do with my gcc version.  I built the latest version just now with gcc6.2.0, but failed either.  My latest build is based on `ca591c5b1b8c4506c258a96e1fd5d8dafdb6234f`. So what's the the point?

[2016-11-19 12:21] azat commented on #424
Okay, than since it works for me (as you can see I've added centos/7 vagrant box, and I'd tested on it - and it works, and even passes all tests), can you post:
- CMakeCache.txt
- full cmake output
- full make output

[2016-11-19 12:23] azat commented on #424
And it is wrong to build with `cmake & make & make install` since it run all this commands in parallel, i.e. `cmake &` `make` & `make install`.
But I guess that you have `cmake && make && make install` since otherwise it should fail earlier, since there will be no `Makefile` for `make`

[2016-11-19 13:35] JandunCN commented on #424
My `cmake & make & make install`  means cmake, then make, then make install. I should use `cmake; make; make install` instead.

My VPS provider has something wrong now, I can't get `CMakeCache.txt, full cmake output, full make output` right now. I will upload them to my 'github repo' as soon as possible for your reading.

Thank you again.

[2016-11-19 13:43] JandunCN commented on #424
Yeah. There is no need to upload to my github repo.
[CMakeCache.txt](https://github.com/libevent/libevent/files/601461/CMakeCache.txt)
[cmake.output.txt](https://github.com/libevent/libevent/files/601462/cmake.output.txt)
[make.output.txt](https://github.com/libevent/libevent/files/601463/make.output.txt)

[2016-11-19 15:09] azat commented on #424
This is not the full output for `cmake`, you need to clean cache first, so can you reattach all 3 files after cleaning cache? (simply run `cmake ..` from another build directory)

[2016-11-19 15:11] azat commented on #424
Hm, most of `TRY_COMPILE` fails, can you please attach `CMakeFiles/CMakeError.log` too

[2016-11-19 15:13] azat commented on #424
Maybe you will have some cmake warnings for some changes in it's policy

[2016-11-19 15:17] azat commented on #424
Can you also upload the whole folder for the next simple `cmake`?

[code]

[2016-11-22 03:48] JandunCN commented on #424
@azat Thanks for your detailed tutorial. I will rebuild with your tips and analyse the errors carefully. I will update the result if I succeed. I am busy with my work nowadays.

[2016-11-22 05:09] azat commented on #424
Plus your can try to use autoconf/automake instead.

[2016-11-22 07:28] lastorder opened #425 "win32 https server: all ssl connection failed after run some hours."
**I use libevent and openssl to start a https server, and I used SSL_CTX_set_verify to verify the client cert。
I start 8 event_base run in 8 thread.
usually after run some hours, the server is DoS.**

**in the abnormal logs, after verify the client cert, the 'event_callback_finalize_many_' is called before hand the request to the 'evhttp_set_gencb' callback fuction.
I found this problem in windows

[2016-11-22 07:32] lastorder commented on #425
the log 'event_add: event 0C944DF8, timeout in 375757 seconds 125000 useconds, call 0FDDB3B0]' is abnomal .   But the DoS has noting to do with it.

what the num 375757 and 125000?

the time out num I set is 'timeout_next: event: 0C944DF8, in 1800 seconds, 0 useconds]'

[2016-11-24 08:53] azat commented on #425
Timers subtracted every time *poll/select/kqueue* calls, since some even can return earlier then your timer (because some fd is active).

[2016-11-24 08:56] azat commented on #425
Can you send (before DoS and after);
- `thread apply all bt` (in gdb)
- `lsof -np PID`

And plus it will be good to know what do you mean by DoS, after some period of time server doesn't answer anybody? maybe some deadlocks? Did you enable lock/thread-safe for libevent/bufferevents?

[2016-11-25 03:08] lastorder commented on #425
Thanks for your help!

after some period of time , all request is respond 'ssl cipher not match ' error. It respond very quickly, cannot be timeout.

There is no deadlocks, after the DoS ,every request will go in 'SSL_CTX_set_verify' call back fuction, and print the log '[X509 cert common name:dongyu]'.   But not call the 'evhttp_set_gencb' call back.

I just enable lock/thread-safe in 'evhttp_set

[2016-11-25 08:04] azat commented on #425
You need two bits:
- `evthread_use_pthreads()`
- `BEV_OPT_THREADSAFE`

So if it respond with an error "ssl cipher not match", then why it should call your callback?

[2016-11-25 14:03] ghost opened #426 "Time to release v2.0.23"
Version 2.0.23 has been a Release Candidate for 5 months now without changes.

Isn't it time to make this an actual release?

[2016-11-26 06:29] lastorder commented on #425
The problem is why it return 'ssl cipher not match' after run some hours?  I don't change anything.

[2016-11-26 07:57] kiler129 opened #427 "Custom HTTP methods support"
While strict HTTP prohibits custom method many implementations in the wild are using them. I've seen many implementations slightly bending HTTP protocol by adding custom methods (e.g. Apple proprietary HomeKit uses `EVENT` method).

Sadly I'm not proficient enough in C to suggest any solutions or even look at the possibilities of custom methods implementation. Is it even possible without breaking

[2016-11-26 15:43] azat commented on #425
Maybe some corruption? Can you provide a reproducer? Or/and run your program under:
- `vaglrind --tool=drd`
- `vaglrind --tool=memcheck`

[2016-11-26 15:46] azat commented on #427
@kiler129 take a look at #327

[2016-11-26 15:48] azat commented on #426
Indeed, see #348 for the reference.
But let me ask a minor question, could you use 2.1 instead (when it will be released)?

[2016-11-26 18:19] kiler129 commented on #427
@azat: Thank you for the reference. I see it's marked as 2.2, but we're not even at 2.1 and PR itself wasn't updated for almost a year :(

I can rebake it onto current master and use, but I'm not sure if this API will change or will it stay as is.

[2016-11-27 09:48] a168290 commented on #426
My primary interest is in using it with Tor.  Is/will v2.1 be compatible with the current Tor versions?

[2016-11-27 16:44] JandunCN commented on #424
I just want to know why. Maybe I have much work to do, such as cmake basis. In fact, the first build error is something like the following code snippet shows.
[code]
Maybe it just has something to do with one gcc flag that I have no idea.

PS: I upload the whole folder hoping that you can figure something out.
[CMakeFiles.zip](https://github.com/libevent/libevent/files/614806/CMakeFiles.zip)

[2016-11-27 18:22] azat commented on #424
@JandunCN it doesn't work because you need to include `<event2/event-config.h>`

Also can you please provide *output of the cmake* and the *whole cmake folder* for [this](https://github.com/libevent/libevent/issues/424#issuecomment-261719640) minimal example, since that archive is too large, it will be better to have minimal amount.

[2016-11-27 18:24] azat commented on #424
Plus, that `CMakeFiles` is a little bit icky, since there is no `Makefile` there is only:
- `Makefile2`
- `Makefile.cmake`

[2016-11-27 18:29] azat commented on #426
@nmathewson ?

[2016-11-27 18:39] azat commented on #427
Yeah we are working on 2.1 stable release, and only after this we can start with 2.2.

If you need this API then you have to compile libevent by yourself. Yes this API **is not stable** but I don't think that it will be changed, maybe some minor hunks, anyway I'm sure that it shouldn't be a problem for you if you can compile libevent by yourself (i.e. some projects depend on what distros provides,

[2016-11-27 19:02] kiler129 commented on #427
Looking at the 2.1 milestone it doesn't look far away, so I will follow your suggestion and I'll just use custom version for my app ;)

I think since we have #327 this issue is a duplicate, so it can be closed.

[2016-11-27 19:02] #427 closed

[2016-11-28 07:39] lastorder commented on #425
I found this problem in windows.
Now I set BEV_OPT_THREADSAFE and evthread_use_windows_threads.
I need to test a long time to confirm whether effective.

Thanks.

[2016-11-28 09:19] bravekingzhang commented on #330
thanks you

[2016-11-30 03:50] lastorder commented on #425
The problem is still exist.

[2016-11-30 16:17] azat opened #428 "bufferevent openssl with filters doesn't work"
Introduced-in: https://github.com/libevent/libevent/commit/da52933550fd4736aa1c213b6de497e2ffc31e34

[2016-12-02 09:17] spartucus commented on #410
@azat Does it perform well on Windows? I build the latest version (2.1.6-beta) with openssl-1.1.0c, failed with error like:
 `error C2037: left of 'init' specifies undefined struct/union 'bio_st'  --bufferevent_openssl.c
`

- Libevent: 2.1.6-beta

- OpenSSL: 1.1.0c

- OS: Windows 10

- Visual Studio: 2015

[2016-12-02 09:36] azat commented on #410
2.1.6-beta doesn't includes this patch, can you try 2.1.7-rc?

[2016-12-02 09:45] spartucus commented on #410
ok, I will let you know the result after I tried.

[2016-12-02 10:31] spartucus commented on #410
@azat It works, thank you.

--
Type my process here in case anyone searched here.

To build libevent with openssl:

1. build openssl. I used `openssl-1.1.0c`.

2. download `libevent-2.1.7-rc`, use cmake, `LIB` means libcrypto, and `SSL` means libssl. Generate sln.

3. use VS open the `libevent.sln` , build event, event_core, event_extra. build INSTALL (several test failed, just ignore them).

4. D

[2016-12-06 22:54] azat commented on #425
I'm not sure but if there are some re-connects then connections can fail, fixed in 86fa00706686d83bac627823543970fed27cf15b, so you can try compile latest libevent from sources and give it a try.

If this will not help, can you provide please some debug info from [this](https://github.com/libevent/libevent/issues/425#issuecomment-262722649) or [this (replace valgrind with some win32 tool)](https:/

[2016-12-06 22:57] azat commented on #420
Closing this one in favor to #423

[2016-12-06 22:57] #420 closed

[2016-12-07 08:47] lastorder commented on #425
thanks.  I will try.

[2016-12-09 02:40] lastorder opened #429 "win32: http server asynchronous hand, the first request will be block until other request in."
I create a thread in "evhttp_set_gencb" callback to hand the evhttp_request.
In win32, the first request will be block until other request in. The thread in the callback was ran normally, and called evhttp_send_reply.

If I use openssl to set https server in win32, there is no block.

In solaris, both http and https is OK.

[2016-12-09 06:20] azat commented on #429
Can you provide a reproducer?

[2016-12-09 08:03] lastorder commented on #429
I cannot up load the code file in my office area.

        if (bAsynMode)
        {
            evhttp_set_gencb(http_tmp, asyn_reply_hand, this);
        }
        else
        {
            evhttp_set_gencb(http_tmp, server_reply_cb, this);
        }

void httpsServer::asyn_reply_hand(struct evhttp_request *req, void *arg)
{
    NETSTAR_AGENT_TRACE_D("asyn_reply_hand in !");
    struct reply_agr

[2016-12-09 08:23] lastorder commented on #429
void httpsServer::server_reply_cb(struct evhttp_request *req, void *arg)
{
    ......

    httpsServer *ptr = (httpsServer *)arg;
    HTTP_RESPOND resp = ptr->handRespond((NetStarHttpOpt)type,strPath,mapParam,payload);
    evbuffer_add_printf(evb,"%s",resp.second.c_str());

    evhttp_add_header(evhttp_request_get_output_headers(req),
        "Content-Type", "application/json");

    evhttp_send_r

[2016-12-10 14:57] azat commented on #429
This doesn't make anything clearer, so I will try to take a look somehow (but firstly I need to create env for this).

P.S. **please use markdown for code**

[2016-12-12 02:02] lastorder commented on #425
I compile latest libevent and run two days, this problem doesn't occur.

[2016-12-12 05:24] azat commented on #425
Thanks! I will wait a little bit more and will close this issue after.

[2016-12-14 13:05] mannol opened #431 "Dead loop in timeout_process()"
Sometimes my process hangs (CPU goes to 100% and cannot receive events from the event_base anymore) in timeout_process function with following backtrace:
[code]
Happens always after some time.

I add my events like so:
[code]

[2016-12-14 20:47] mannol commented on #431
Just tested by using memset(0,...) everytime I event_del the instance and it still ends up in the same place.

[2016-12-15 09:06] azat commented on #431
- which version of libevent do you use? can you try latest (i.e. from git)?
- can you try with `event_enable_debug_mode()` ?

[2016-12-15 09:58] mannol commented on #431
OH, wow... Forgot to call evthread_use_pthreads()... Sorry for your time.

[2016-12-15 09:58] #431 closed

[2016-12-19 18:28] a168290 commented on #426
Please don't let this topic languish due to lack of response by nmathewson.

[2016-12-19 20:11] azat commented on #426
I was asking about tor, current priority for me is 2.1.
Are you waiting some bug to be fixed in the next 2.0 release, if so, what bug?

[2016-12-21 08:33] lastorder commented on #429
I changed  event_base_loop
to
    while(1)
    {
        (void)event_base_loop((struct event_base *)arg,EVLOOP_NONBLOCK|EVLOOP_NO_EXIT_ON_EMPTY);
        ACE_OS::sleep(ACE_Time_Value(0, 10000)); //暂停10毫秒
    }

the problem will be ok.

[2016-12-22 05:15] kenpingliu commented on #378
My final codes to avoid this issue
`#if defined(SO_NOSIGPIPE)
    evutil_socket_t fd = bufferevent_getfd(bev);
    if ( fd<1 && (fd=socket(AF_INET, SOCK_STREAM, IPPROTO_TCP))>0 )
    {
        bufferevent_setfd(bev, fd);
    }
    int option = 1;
    if ( fd>0 && -1==setsockopt(fd, SOL_SOCKET, SO_NOSIGPIPE, (const void *)&option, sizeof(option)) )
    {
        // Log error
    }
#endif

    if (

[2016-12-29 07:20] lysu opened #433 "How to close fds/resources registered in event_base during destroy"
Hi~

I’m writing an application that support hot-reload logic(just..load some module and unload some module on the fly without restart program)..

So, I try to destroy event_base use `event_base_free()' during unload logic, but the document said “this function will not close any fds or free any memory passed to event_new as the argument to callback.”

http://www.wangafu.net/~nickm/libevent-2.1/dox

[2016-12-29 09:09] azat commented on #433
So, IOW you don't store all events somewhere and you want to extract them from libevent?
Then you can use `event_base_foreach_event()`.
To get fd you can use `event_get_fd()`.
For argument passed to `event_assign()` use `event_get_callback_arg()`

[2016-12-29 12:03] lysu commented on #433
oh~ thx @azat

I have store events in other place, and do loop on it, before see your reply - -~~

and I also notice that `event_base_foreach_event` must not modify event base, but we maybe need that in future..so we choose store events in other place finally.

thank azat~ ^ ^

[2016-12-29 12:03] #433 closed

[2016-12-30 09:56] mountainzhang commented on #403
Hi everyone:
   Is there any progress about this issue? I have the same problem with armman475?
Thank you.

[2016-12-30 22:31] hhakimi53 commented on #426
Thanks first of all the work that's put in for the libevent.

Is there a timeline for release stable candidate for 2.1? 2.1.7 seems to much better for SSL functionality as compared to 2.0.22. Thanks

[2016-12-30 22:33] hhakimi53 commented on #285
Thanks first of all the work that's put in for the libevent.

Is there a timeline for stable release candidate for 2.1? 2.1.7 seems to much better for SSL functionality as compared to 2.0.22. Thanks

[2016-12-31 07:45] azat commented on #285
@hhakimi53 yep, something like
https://github.com/libevent/libevent/milestone/1

[2017-01-03 08:22] spartucus opened #434 "Https Server with Mixed Content Security warning"
os: Windows 10 x64
env: libevent-2.1.7rc, openssl-1.1.0c, chrome-55, self-signed CA certificate

I implemented a https server with libevent. and listened on a local port 8421, when browser made request, such as "https://127.0.0.1:8421", server send a reply. Browser recieved response and display it.

When reply message is simple, everything went well cause I add Root certificate of 127.0.0.1 to sys

[2017-01-03 09:22] ploxiln commented on #434
This has nothing to do with libevent, this is caused by the html content.

It has a link to http://s1.bdstatic.com/... probably for an image or css file. A page loaded over https:// with a link to http:// is mixed content. This can be a complicated topic, it depends on the browser, the version of the browser, the type of resource, the way that it was referenced, javascript logic, etc. In any case,

[2017-01-03 12:24] azat commented on #434
[Indeed](https://developers.google.com/web/fundamentals/security/prevent-mixed-content/what-is-mixed-content)

[2017-01-03 12:24] #434 closed

[2017-01-03 13:06] spartucus commented on #434
@ploxiln Thanks a lot.

[2017-01-03 13:07] spartucus commented on #434
@ploxiln Thanks a lot

[2017-01-03 15:58] hhakimi53 commented on #285
@azat thanks for the response. so are these all the blockers that needs to be resolved before a stable release?

[2017-01-05 01:48] #348 closed

[2017-01-05 02:46] tg0428 opened #435 "How to set socket's property to TCP NO_DELAY on a evhttp_connection?"
i want to disable Nagle algorithm on TCP socket, but i didn't find a interface in http.h. Is there having a method to solve this problem?

[2017-01-05 23:18] azat commented on #435
There is no API for this, but you can do something like this:

[code]

*P.S. Totally untested.*

[2017-01-05 23:18] #435 closed

[2017-01-05 23:30] azat commented on #285
Yep, a few blockers, and a bunch of testing

[2017-01-06 06:09] tg0428 commented on #435
@azat i think this method just suits for the situation which you have excuted "evhttp_make_request" API before,  so here is another problem , how to make sure the socket without Nagle  algorithm for the first time when you make request to remote server?

[2017-01-06 06:14] tg0428 commented on #435
@azat i modify the source code.
`/* Create a non-blocking socket and bind it */
/* todo: rename this function */
static evutil_socket_t
bind_socket_ai(struct evutil_addrinfo *ai, int reuse)
{
	evutil_socket_t fd;

	int on = 1, r;
	int serrno;

	/* Create listen socket */
	fd = socket(ai ? ai->ai_family : AF_INET, SOCK_STREAM, 0);
	if (fd == -1) {
			event_sock_warn(-1, "socket");
			return (-1);

[2017-01-06 11:23] azat commented on #435
Indeed, you don't have `fd` after `evhttp_connection_base_new()`, but here is another solution:

[code]

[2017-01-06 12:32] tg0428 commented on #435
@azat thanks a lot, however it seems not work, at the first time , libevent attempts  to connect to remote server, fd will be covered by the new fd. see evhttp_connection_connect
[code]

[2017-01-11 00:14] jeffsaremi opened #436 ""invalid integer constant expression" when building on Windows 64"
I followed the instructions in the read me and created a Solution file like below. Howver the solution fails to build immediately because of lines like this in util.h:
#elif EVENT__SIZEOF_VOID_P <= 4
which produces the error in the title.
Below is some notable output from Cmake:

[code]

[2017-01-11 06:12] azat commented on #436
Hi @jeffsaremi

Can you post full clean cmake? I.e.:
[code]

And also full error message?

[2017-01-11 06:43] jeffsaremi commented on #436
Guys I'm embarrassed. Please close this issue.
As i was trying to reproduce the issue I noticed that I had not opened the right VS command window.
The right window to try for a 64bit build is "VS2015 x64 Native Tools Command Prompt". Once I did that, the resulting sln compiled without a glitch.

[2017-01-11 06:43] #436 closed

[2017-01-11 16:39] std-vector opened #437 "Extremely high latency when network gets busy, TCP"
In our C/S based online game project, we use TCP for network transmission. We include Libevent, utilise a bufferevent for each connection to handling with the network I/O automatically.

It works well before，but the lagging problem comes to the surface recently. When I do some stress testing to make the network busier, the latency becomes extremely high, several seconds or more. The server sinks i

[2017-01-11 18:37] ploxiln commented on #437
This is why action games use UDP instead of TCP. The waiting and rate control is in the operating system kernel - one unlucky packet loss during one tiny fraction of a second can cause a second or so of delay due to TCP ack / retransmit / window mechanisms. It's mostly not avoidable.

[2017-01-13 15:14] rvandermeulen commented on #370
This is something we have to workaround in Mozilla code too. Would be great if this could be included in 2.1.x eventually.

[2017-01-15 15:21] slokhorst commented on #394
@azat (or any other libevent folks), do you have any suggestion how to handle this in the meantime? I need to be able to support this usecase:
[code]
(Bind on all IPv6 addresses, but just a single IPv4 one. This is currently not possible.)

Is the only solution to implement `evhttp_bind_socket()` myself?

[2017-01-15 21:22] azat commented on #394
@slokhorst there is `sysctl` for this:

[code]

You can set it to TRUE as a solution, but I agree that libevent should support this somehow.
But there is little issue with this, we can break backward compatibility if we will change behaviour of `evhttp_bind_socket()`, and besides there is also other similar API's (like `evconnlistener_new_bind`)

[2017-01-15 21:30] azat commented on #370
Refs: android-ndk/ndk#48

[2017-01-15 21:43] azat commented on #370
Can somebody post here detailed reports? For [latest libevent](26f416c1a5b9b39782e89b9670c796fa182bc011)

And in the mean time I will try to create env with android ndk to test it by myself.

[2017-01-15 23:22] azat commented on #428
That patch breaks BSD'ism (when `connect()` returns immediately - /me digging)

[2017-01-16 19:19] rvandermeulen opened #438 "Add libevent to oss-fuzz"
Google is offering free fuzzing of widely-used open source projects with their OSS-Fuzz initiative.
https://github.com/google/oss-fuzz

Given that libevent is widely used, I think it would make sense to take advantage of that offer and see what they find? :)

[2017-01-17 06:20] azat commented on #438
Good idea, I will take a look as soon as 2.1 will be released. Thanks!

[2017-01-19 15:32] azat commented on #386
Fixed by 336f3b11e5b9f2823ffe669eb1c55f50f0c04ca4

[2017-01-19 15:32] #386 closed

[2017-01-19 15:33] azat commented on #388
`*server_timeout` tests was [disabled](26f416c1a5b9b39782e89b9670c796fa182bc011), let's ignore them for now, since they fail even on linux sometimes.

[2017-01-19 15:33] #388 closed

[2017-01-19 15:34] azat commented on #424
@JandunCN any news?

[2017-01-19 15:54] azat commented on #410
Everything looks good, so closing it, if anybody has issues with this, please reopen!

[2017-01-19 15:54] #410 closed

[2017-01-20 07:52] azat opened #439 "parallel test harness (automake)"
We should convert [test.sh](../blob/master/test/test.sh) into automake somehow, so it can parallelize it

And after this we can use parallel-tests in automake, so our travis-ci builds will not take 4 hours.

### ctest/cmake
[code]

### automake
[code]

Refs: 21c92581a0fdd83a75f64d59c04bde267e6d38dd

[2017-01-20 13:30] azat commented on #439
[code]

[2017-01-20 14:02] azat commented on #439
https://travis-ci.org/azat/libevent/builds/193746045

[2017-01-21 11:10] van491018 opened #440 "Problem with http client + filter"
Hi, I tried to create a special http client with libevent-2.1.7-rc but it doesn't work. I need to wrap http protocol within some proprietary protocol so I implemented this proprietary protocol as a filtering bufferevent and called evhttp_connection_base_bufferevent_new() with this bufferevent as argument. I used netcat as server for debugging purpose and no header sent from my program. After some

[2017-01-21 23:31] azat commented on #440
Yep, it is a bug, and it definitely should be fixed, though there [talks](#361) about merging libevhtp, but it is for 2.2

[2017-01-22 00:56] #428 closed

[2017-01-22 01:15] #439 closed

[2017-01-22 01:26] van491018 commented on #440
Thank you!

[2017-01-24 16:48] osktgui commented on #330
Thanks you

[2017-01-26 06:43] liudf0716 opened #441 "Does libevent support TCP_FASTOPEN?"
it seems libevent does not support TCP_FASTOPEN.

[2017-01-26 07:09] azat commented on #441
@liudf0716 not yet

[2017-01-28 00:26] fornwall opened #443 "Building with Cmake does not install pkg-config files"
Could something like https://mailman.videolan.org/pipermail/x265-devel/2013-October/001697.html be added?

[2017-01-28 18:56] jbeich opened #447 "--enable-gcc-warnings build fails with GCC 7.0"
[code]

[2017-01-29 13:55] azat commented on #447
Yeah, gcc7 requires `/** fallthrough *//` comment (already faced with this), will fix it later.

[2017-01-29 15:03] #447 closed

[2017-01-29 19:06] azat commented on #285
[Here it is!](http://archives.seul.org/libevent/users/Jan-2017/msg00003.html)

[2017-01-29 19:06] #285 closed

[2017-01-29 21:41] azat commented on #443
Certainly! Right now cmake is [not the for production](https://github.com/libevent/libevent/#cmake-windows-1) but we definitely want it to be it.

Ugh, I guess that this can be unnoticed, we should make it more obvious (also `README` looks a bit huge).

P.S. I've added a milestone for `cmake`

[2017-01-29 21:42] azat commented on #404
@sburke56 any news?

[2017-01-29 22:06] azat commented on #363
I'm closing this issue, since there was no reply for half a year.
@BrentHuang if you still need help, please reopen.

[2017-01-29 22:06] #363 closed

[2017-01-29 22:14] azat commented on #429
@lastorder Do you mean that the problem goes away?

[2017-01-29 22:19] jbeich commented on #447
Alas, the fix [broke](http://sprunge.us/hKGA) build at least with Clang 3.4:
[code]

[2017-01-29 22:40] azat commented on #447
Hm, I tested under clang:
- 3.6
- 3.9
- 4.0
- 5.0

everything was fine, but indeed 3.4 doesn't work.

Maybe this is because of [this](http://releases.llvm.org/3.5.1/tools/clang/docs/ReleaseNotes.html):

Not sure. Will fix right now.

[2017-01-29 23:09] jbeich opened #448 "test: --enable-gcc-warnings vs. time_t on 32bit platforms"
FreeBSD i386 and powerpc define `time_t` as `int32_t`:
[code]
but FreeBSD armv6 defines `time_t` as `int64_t`:
[code]

[2017-01-29 23:12] jbeich opened #449 "sample/dns-example: --enable-gcc-warnings vs. -funsigned-char platforms"
Building on FreeBSD armv6 or aarch64 may show:
[code]

[2017-01-29 23:18] azat commented on #447
Tested next code at [godbolt](https://godbolt.org/) (sharing didn't work for me):
[code]

What do you think?

[2017-01-29 23:48] jbeich commented on #447
023fcdc84794 fixes build ([log](http://sprunge.us/WYGJ)) on FreeBSD 10.x shipped with Clang 3.4 by default. Other FreeBSD versions use Clang 3.8, 3.9, (soon) 4.0 and continue to build fine. However, using `__clang__ == 1` instead of `defined(__clang__)` upsets GCC:

[code]

[2017-01-29 23:50] azat commented on #447
Hm, I also though that this can be a problem, but my versions of gcc compiles fine, which one do you have?

[2017-01-29 23:55] azat commented on #447
Got it, `-Werror=undef`

[2017-01-30 00:32] jbeich commented on #448
FreeBSD mips (o32) defines `time_t` as `int64_t` (aka `long long`):
[code]

[2017-01-30 08:23] azat commented on #447
Looks like [this](https://reviews.llvm.org/rL223468) bug in clang (i.e. it uses c++11 attribute instead)

[2017-01-30 20:26] rofl0r opened #450 "build fails with libressl"
an ever increasing number of linux and BSD distros uses libressl as a replacement for openssl.

however with latest libevent release:
[code]

[2017-01-30 20:29] rofl0r commented on #450
summoning @Gottox and @busterb

[2017-01-30 21:28] ploxiln commented on #450
see #445

[2017-01-30 21:38] rofl0r commented on #450
oh, yay. can you make a release with that patch applied, please ?

[2017-01-30 21:51] azat commented on #450
@rofl0r not with this patch only, too small for making a release. In the near time you, can compile from sources? The only thing you need to add to your build system is `./autogen.sh`

[2017-01-30 21:52] rofl0r commented on #450
no thanks, i rather add that patch than adding a build time dependency on autoconf and automake.

[2017-01-30 21:52] #450 closed

[2017-01-31 19:26] azat commented on #435
@tg0428 seems that you are right, this games with `fd` is not pleasant, it introduces  [problems](https://github.com/libevent/libevent/issues/440).

[2017-02-01 04:53] tim-le opened #451 "I think when a socket is connected, writecb will be called after bufferevent_enable(EV_WRITE), right?"
I have tested many situations,
only with IOCP, this behavior is different,  writecb will not be called.

[2017-02-01 15:24] mbakke opened #452 "date_rfc1123 test failure on 32-bit Linux"
[code]

This is using version 2.1.8. The second date is the unix epoch of 2^32. Any idea what's up here? 64-bit systems are fine.

[2017-02-01 16:04] azat commented on #452
Yep, it is a bug in libevent, it is in my todo list.
And it is because of `sizeof(unsigned long) == 4`

[2017-02-02 11:07] recoilme opened #453 "Error from bufferevent: Connection reset by peer"
Hello
I write simple http server for testing libevent - based on example echo server from guide.

I am sure what code dont has any error in parsing.
Gist: https://gist.github.com/recoilme/5ee1ec6e2c8e2c9598b8d98f9603b454

But then i test it with wrk - i see many errors in stress mode in logs:
Error from bufferevent: Connection reset by peer

Output wrk log:
[code]
I use last stable release libeven

[2017-02-02 15:39] lfam commented on #317
This was assigned CVE-2016-10195:

http://seclists.org/oss-sec/2017/q1/282

[2017-02-02 15:40] lfam commented on #318
This was assigned CVE-2016-10196:

http://seclists.org/oss-sec/2017/q1/282

[2017-02-02 15:40] lfam commented on #332
This was assigned CVE-2016-10197:

http://seclists.org/oss-sec/2017/q1/282

[2017-02-02 20:08] ploxiln commented on #453
macOS by default limits processes to 256 file descriptors. 1000 connections requires 1000 file descriptors. You can change this for a bash shell session with the command `ulimit -n 2048`, for example.

[2017-02-02 21:09] recoilme commented on #453
@ploxiln thanks for your reply, but looks like its not os depended problem. I try increase limits on mac with same result. And test on 32 cores latest debian (without any limits):
[code]

I see this error only then more then one thread used. I see similar type of error from scala multithreaded app then do get requests to multithreaded server based on libevent. More threads - more errors. So i deci

[2017-02-02 21:27] ploxiln commented on #453
Without spending too much time reviewing your code - it's buggy code.

[code]

First, `resp[resp_size] = '\0';` writes one byte past the end of the `malloc()`ed buffer. Usually you'll get away with that. Then, `evbuffer_add(output, resp, resp_size-1);` skips the last byte of the message. That could be your problem. But there could be a few other problems too...

[2017-02-02 22:18] azat commented on #453
Hi!

Can you run you program under `strace/truss -f`? And upload output
somewhere?

[2017-02-02 22:24] azat commented on #453
And @ploxiln is right, there is a bug, if you run under valgind (or compile with `-fsanitize=address`) you will see "invalid write", for next lines:

[code]

[2017-02-02 22:42] azat commented on #453
And indeed it is ECONNRESET:

[code]

[2017-02-02 22:44] ploxiln commented on #453
Consider, also, that your code only parses requests that start with `GET /` with exactly one space, and only responds of the request path is exactly `/` ... these things _probably_ are fine for the test with wrk, they are probably not "the" problem, but it's hard to be 100% sure. And your code only cleanly closes the connection if it receives `quit\r\n` which I'm not sure wrk sends. Most likely wr

[2017-02-02 22:47] azat commented on #453
Hm `wrk` doesn't close fds correctly:
[code]

[2017-02-03 09:02] recoilme commented on #453
Thank you @ploxiln @azat
I edit malloc as you suggest, but error still present

[2017-02-04 09:02] lastorder commented on #429
@azat yes, the block problem goes away.

But there is new problem.
In pressure test, the asyn pattern( new thread in server_reply_cb and call evhttp_send_reply in new thread)  low probability crash. (win32)

I changed code to  create multiple event base , and start event_loop in multiple thread , there is no crash.

Is libevent don't supply asynchronous hand in evhttp_set_gencb callback fuction?

[2017-02-04 09:10] lastorder commented on #429
Because some operate in http hand callback is time-consuming, I want to new a thread for each request.

One event_base one thread, will limit the concurrent.

[2017-02-04 12:07] azat commented on #429
Did you enable threading support?

[2017-02-04 12:16] azat commented on #429
If no, you need to enable pthreads (somewhere globally):
[code]

And enable `BEV_OPT_THREADSAFE` for every `bufferevent`:
[code]

[2017-02-05 03:24] peterpramb opened #454 "https_basic test failure on 32-bit Linux"
Running the 2.1.8 test suite for a x86 CentOS-6 build fails as follows:

    FAIL test/regress_http.c:495: assert(test_ok == 3) [https_basic FAILED]
    FAIL test/regress_http.c:495: assert(test_ok == 3) [https_filter_basic FAILED]

x64 build runs fine.

[2017-02-05 03:51] peterpramb opened #455 "Long running test suite due to DNS timeouts"
Running the 2.1.8 test suite takes a long time due to repeated DNS timeouts:

    [msg] Nameserver 127.0.0.1:48550 has failed: request timed out.
    [msg] All nameservers have failed

This is probably due to my build server not being allowed to directly reach other name servers.

Is there an easy way to skip DNS tests requiring external access?

[2017-02-05 03:53] peterpramb commented on #455
Note that there is no test failure caused by this, just the test suite takes long to run.

[2017-02-05 08:50] azat commented on #455
Hi @peterpramb, this tests use local nameservers (and "127.0.0.1:48550" address confirms this), so this is not because server not allowed to reach other name servers.

[2017-02-05 08:51] azat commented on #454
Hm, will take a look, thanks!

[2017-02-05 14:17] peterpramb commented on #455
Hm, ok - I thought the test suite would spawn a local resolver which times out.

Have to further check for the root cause...

[2017-02-05 15:47] peterpramb commented on #455
Ok, one step further - from the test log:

    http/cancel_by_host_no_ns: [forking]
        OK test/regress_http.c:1431: assert(regress_dnsserver(data->base, &portnum, search_table))
        OK test/regress_http.c:1434: assert(dns_base)
        OK test/regress_http.c:1469: assert(evcon)
             OK test/regress_http.c:1490: assert(evhttp_make_request(evcon, req, EVHTTP_REQ_GET, "/delay") != -1

[2017-02-05 19:13] azat commented on #455
This tests checks behavior when nameserver is not available - to check that everything works as expected even if is not available (i.e. evdns will fail the request in the end), also some of them enable nameserver after some period and validates that evdns will resolv hostname correctly when nameserver will became available, so this messages about "request timed out" and "All nameservers have faile

[2017-02-06 12:24] peterpramb commented on #455
Ok, seems like the long running test suite is not caused by DNS timeouts - will try to identify the long running tests.

Closing this issue, thx.

[2017-02-06 12:24] #455 closed

[2017-02-07 07:20] BrentHuang opened #456 "wrong output so's version"
I build libevent-2.1.8-stable.tar.gz, but the output is 'libevent-2.1.so.6.0.2'. Version not match.

[2017-02-07 08:02] lastorder commented on #429
I http server mode, I don't create bufferevent by myself. I just uesd it like the demo.

        struct event_base * eventBase = event_base_new();
        if (!eventBase) {
            NETSTAR_AGENT_TRACE_D("Couldn't create an event_base!");
            continue;
        }

        struct evhttp *http_tmp = evhttp_new(eventBase);
        if (!http_tmp) {
            NETSTAR_AGENT_TRACE_D("couldn't

[2017-02-07 08:06] lastorder commented on #429
I already set threadsafe.

#ifdef _WIN32
    if(0 == evthread_use_windows_threads())
    {
        NETSTAR_AGENT_TRACE_D ("evthread_use_windows_threads success !");
    }
    else
    {
        NETSTAR_AGENT_TRACE_D ("evthread_use_windows_threads failed !");
    }
#else
    if(0 == evthread_use_pthreads())
    {
        NETSTAR_AGENT_TRACE_D ("evthread_use_pthreads success !");
    }
    else

[2017-02-07 08:15] lastorder commented on #429
I used 2.0.22 version, there is no 'evhttp_set_bevcb'.
How can I create the bufferevent in http server?

[2017-02-08 13:38] mdre77 opened #457 "Leaking Handles on Windows"
I found a resource leak in windows when attempting to connect to a tcp server socket, which is not bound or listening. The application uses the same bufferevent to connect to a server until the connect successfully finishes. To reproduce the issue, use libevent like that:
* bufferevent_new
* bufferevent_connect
* bufferevent_connect
* ...
* bufferevent_connect
* bufferevent_free

When using a tool

[2017-02-09 08:19] allenhfchen opened #458 "libevent-2.1.8-stable.tar.gz compile fail Under Windows 【urgent】"
![libevent build fail](https://cloud.githubusercontent.com/assets/12984542/22774651/068ff8c0-eee3-11e6-9918-63cadcce4b27.png)

when I compile the latest version of libevent(libevent-2.1.8-stable.tar.gz) under windows by vs2012 there are some errors.who can help me?

[2017-02-09 09:04] azat commented on #457
Can you post report like valgrind does?

[2017-02-09 09:05] azat commented on #429
Can you try 2.1 (there is stable release already)?

[2017-02-09 09:10] azat commented on #456
Yeah it is a bit confusing, but according to [libtool](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html) it is the right way [to do](https://github.com/libevent/libevent/blob/ffbce578c40a06491ce6585ab2d82ebb69a52d30/Makefile.am#L31).

P.S. 2.0.x also has the same `VERSION_INFO`

[2017-02-09 09:19] azat commented on #458
So that the problem is in:
[code]

And the problem is because vs2012 doesn't support c99, which has [Designated Initializers](https://gcc.gnu.org/onlinedocs/gcc/Designated-Inits.html)

I will fix it later, or you can send a patch/pull-request (it should be pretty trivial).

In the mean time, do you have newer VS? Since Visual Studio 14 2015 works [fine](https://ci.appveyor.com/project/nmathewson/l

[2017-02-09 10:19] azat commented on #455
Well some long-running tests indeed because of DNS timeouts, but they are meant to be there, but I'm pretty sure that some of them, we can reduce using evdns options.

[2017-02-09 10:25] liudf0716 opened #459 "how to get server's ip"
when  simulated http client using libevent, I can not find method to get http server's ip. does someone meet the same problem as me.  or  can someone give me advise? thanks

[2017-02-09 12:20] azat commented on #459
You can use [`evhttp_connection_get_addr()`](http://www.wangafu.net/~nickm/libevent-2.1/doxygen/html/http_8h.html#ae0097ea31d96c509962b3d3df5ca6958)

But there is some trickiness, you don't have connection when request completed (`evhttp_request_get_connection()` returns `NULL`), so you should save it somewhere else.

[2017-02-09 17:06] recoilme commented on #453
I see similar errors with last memcached server - 1.4.34
If i run this memcache test: https://github.com/antirez/mc-benchmark
With params like this: mc-benchmark -h 127.0.0.1 -p 11211 -c 200 -n 10000 -k 1
And see many read errors. Dont know what it may be... May be its normal

[2017-02-10 01:58] liudf0716 commented on #459
thanks, I will report the result after trying this api.

[2017-02-10 02:01] liudf0716 commented on #459
I think I have tried this api, but I get address 0.0.0.0. maybe I use this api in wrong position

[2017-02-10 08:55] allenhfchen commented on #451
yes，you are right! what's your email or you can send email to me . Have time to discuss together about libevent

[2017-02-11 19:25] rbalint opened #460 "Please don't define _GNU_SOURCE in util.h"
Forwarded from:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=632490

As discussed in the original bug it would be nicer if libevent would not require applications using libevent to have _GNU_SOURCE defined.

[2017-02-12 20:42] azat commented on #453
@recoilme indeed it is normal behavior when other side does not close connection properly (and this is the case of `wrk`), since kernel will terminate this connection but with RST instead of FIN.

You can check it by yourself using `tcpdump`/`wireshark` and simple `nc` for example:
[code]

P.S. there are plenty versions of nc, tested with _netcat (The GNU Netcat) 0.7.1_
P.P.S here I used `bash` fo

[2017-02-12 21:49] azat commented on #454
Tested on x86 ubuntu, and there is no such issue there, will try centos.

[2017-02-12 22:43] azat commented on #454
Just tested on with [centos6 i386](https://atlas.hashicorp.com/nrel/boxes/CentOS-6.5-i386) and there is only one failed test - `autotools_date_rfc1123`, and this is because of `sizeof(time_t)` on 32-bit, so I guess they are flaky, but anyway this must be fixed.

[2017-02-13 06:44] viennadd opened #461 "checking of return value of evutil_snprintf"
In function `evutil_inet_ntop` of evutil.c [evutil.c#L1863](https://github.com/libevent/libevent/blob/master/evutil.c#L1863), while handling `if af == AF_INET`, there is a negative return value checking after calling `evutil_snprintf`, but not in af == AF_INET6, would it be an inconsistency?

Regards

[2017-02-13 08:51] nquoctuan commented on #360
Hi guys,

I am quite new to this lib, can you give me more detail how to fix it by adding flag?

thanks,
Jimmy.

[2017-02-13 08:54] nquoctuan commented on #360
I did follow @kerneljake , but i got errors below:

[code]

[2017-02-13 21:53] azat commented on #360
@nquoctuan do you use `brew`?

AFAIR there are some changes with locations oh libs/headers (on 10.12 or so) so can you try something like this instead `CPPFLAGS=-I/usr/local/opt/openssl`

P.S. totally untested.

[2017-02-14 10:27] nquoctuan commented on #360
Hi @azat ,

Yes, i try to build libevent for compiling thrift on macos.

Below is the result of ```brew info openssl```

[code]

Any ideas?
Thanks

[2017-02-14 12:07] azat commented on #360
You can try next:

### autotools
- pass `-I` to the compiler
[code]

- let `pkg-config` take care
[code]

### cmake
- `-DOPENSSL_ROOT=/usr/local/opt/openssl`

And for now autotools is preferable build system.

[2017-02-14 20:36] peterpramb commented on #454
The failure above is caused by #452, which I worked around for me for now by excluding the large time values:

[code]

The failure I get in this issue is as follows:

[code]

[2017-02-14 21:27] peterpramb commented on #454
Utilizing "poor man's debugging", I get the following difference between x86 and x64:

[code]

At least the second missing call to `http_writecb()` explains the assertion on x86, whatever that helps...

[2017-02-14 22:32] azat commented on #454
And one more question, it is 100% reproducible in your environment?

[2017-02-14 23:00] azat commented on #454
Okay I've just reproduced it, and indeed it is time related, it is in todo list already (and this is not the only one, I have a full list of this tests and I need to share them somehow I guess).

If you just want to make it pass, then you can increase [timeout](https://github.com/libevent/libevent/blob/ffbce578c40a06491ce6585ab2d82ebb69a52d30/test/regress_http.c#L489):
[code]

[2017-02-15 15:43] recoilme commented on #453
Thank you @azat !
I close this issue then

[2017-02-15 15:43] #453 closed

[2017-02-15 21:45] peterpramb commented on #454
Good tip, this fixed it indeed.

But I still try to understand whether this is just an issue with the test suite or with libevent itself?

[2017-02-16 07:58] liudf0716 opened #462 "cmake support for LEDE"
when updated libevent to latest stable version 2.1.8-stable in LEDE project, I noticed cmake compiling can not pass. the following is error information:

[code]

[2017-02-16 09:01] jurajlutter opened #463 "arc4random compiled/linked in on SmartOS"
Hi,

there is a problem compiling *libevent-2.1.8-stable* under SmartOS:

[code]

arc4random.c is not being compiled and linked where it should be.

How this can be fixed? I'm not an GNU autotools magician :-)

[2017-02-18 11:03] azat commented on #462
Which version of cmake do you use?

[2017-02-18 15:53] nquoctuan commented on #360
Thanks @azat , i will try it now.

[2017-02-19 10:07] kushal4 opened #464 "maintain different user supplied pointer at pass it on the API of set callbacks of evconlistener and evbufferevent"
hi,
i have created a struct type pointer and i am passing it on
void bufferevent_setcb(struct bufferevent *bufev,
    bufferevent_data_cb readcb, bufferevent_data_cb writecb,
    bufferevent_event_cb eventcb, void *cbarg);
 in this cbarg pointer i get the last updated value but not value as passed in the callback attached as a context.Is there a way to achieve that
Thanks,
Kushal

[2017-02-19 10:41] azat commented on #464
If I understand you correctly, than the answer will be now, since it accept *pointer*, but you can modify your program so that it will allocate that argument every time you need new *value*.

[2017-02-19 10:42] #456 closed

[2017-02-19 10:59] kushal4 commented on #464
actually what i want is suppose when some read callback is called i want to pass the corresponding sock_fd  on the pointer(as struct ) and i want to get that on every read callback i tried allocating new value  to it but it gives the last updated value not the value running in its context as the callback does

[2017-02-19 11:32] azat commented on #464
There is no context for callbacks besides your `arg` (since they are called from the event loop). Can you post an example (~50 lines) of what you trying to do?

[2017-02-19 11:48] azat commented on #464
I wrote two examples:

### [basic case](https://gist.github.com/azat/298b62d4a1290270f4dd721b6cfb54f4#file-be-arg-c)
[code]

### [and malloc every time](https://gist.github.com/azat/298b62d4a1290270f4dd721b6cfb54f4#file-be-arg-val-c)
[code]

But I'm not sure that this is the desired, plus it is very easy to for pointers to leak in this example (and I do not clean them).

[2017-02-19 11:53] kushal4 commented on #464
ok
for example
i have struct of format
struct info {
    string name;
    size_t sock_fd;
};
this code below is on a normal function
struct info *info1;

    info1 = new info();
    buf_count=buf_count+1;
    info1->name = string("buffer ")+(to_string(buf_count));
    info1->sock_fd = 0;
then i am passing is info1 to evconnlistener_new_bind  with the onAccept callback and within the onAccept callb

[2017-02-19 12:09] kushal4 commented on #464
to be more clear i am using libevent  to build mqtt broker so when normal CONNECT packet is recieved by broker it is ok but suppose the existing sockets (may be random one) recieves any control packet then on the read callback i should expect the value of the sock_fd given by readcallback and the value from the userpointer's sockfd must be same but i am getting the last updated value which was don

[2017-02-19 12:46] azat commented on #464
Of course you got the last value since it is **pointer**, you should allocate new `struct info` in `acceptcb` if you need a copy of it in `readcb` (and if I understand you correctly that you need new structure).

[2017-02-19 12:51] kushal4 commented on #464
ok i am making these changes now and letting u know :)

[2017-02-19 12:59] kushal4 commented on #464
its working thankx :)   hope my next subsequent tasks works now :)

[2017-02-19 13:10] #464 closed

[2017-02-19 16:36] azat commented on #461
I looked through the glibc's `snprintf()` implementation, and at first glance the only possible case when it there is not enough length in user-passed buffer, so I guess that this unlikely, but maybe it is worth checking.

[2017-02-19 16:38] azat commented on #463
Refs #370

[2017-02-19 20:06] ploxiln commented on #461
If there is not enough space in the user-passed buffer, `snprintf()` returns the length that _would have_ been written if there was plenty of space. So it does not return negative in that case either.

The macOS snprintf() man page is more clear than the Linux one when it comes to errors.

So what other errors could there be?

[code]

Errors documented for `write()` would only be possible for prin

[2017-02-20 02:42] viennadd commented on #461
Thank you @azat @ploxiln , so [evutil.c#L1877](https://github.com/libevent/libevent/blob/master/evutil.c#L1877) for checking `r < 0` should not be necessary then. since there is no negative check for `snprintf `in the `else if` block of `(af == AF_INET6)`

[2017-02-20 02:42] #461 closed

[2017-02-20 03:31] liudf0716 commented on #462
LEDE use cmake version 3.7.2

[2017-02-20 09:06] jakobsen9 opened #465 "bufferevent_openssl.c:66:10: fatal error: 'openssl/bio.h' file not found"
Hello,

I get this error when installing: `bufferevent_openssl.c:66:10: fatal error: 'openssl/bio.h' file not found`. First I run `./configure` without problems, then `make`, which gives me the error.

I have tried the two latest stable releases, and getting the same problem. Using OS X.

[2017-02-20 09:10] azat commented on #465
Hi @jakobsen9 , please take a look at [this comment](https://github.com/libevent/libevent/issues/360#issuecomment-279690784)

[2017-02-20 09:15] jakobsen9 commented on #465
I did that @azat, but still not helping. `error: unable to open output file
      '.libs/libevent_openssl_la-bufferevent_openssl.o': 'Permission denied'`
I ran it as admin/sudo.

[2017-02-20 09:18] azat commented on #465
What did you run under `sudo`? Can you post all executed commands (from scratch)?

[2017-02-20 09:25] jakobsen9 commented on #465
@azat first o downloaded the libevent-2.1.8-stable.tar.gz from libevent.org.

cd libevent-2.1.8-stable
export CPPFLAGS=-I/usr/local/opt/openssl/include
export LDFLAGS=-L/usr/local/opt/openssl/lib
sudo ./configure
sudo make // bufferevent_openssl.c:66:10: fatal error: 'openssl/bio.h' file not found

then tried:
sudo PKG_CONFIG_PATH=/usr/local/opt/openssl/lib/pkgconfig ./configure && make // error:

[2017-02-20 10:21] azat commented on #465
The second command, `make` executed from regular user not from `root`, and BTW you don't need root to compile libevent, so just remove current unpacked dir, unpack again and do not use `sudo`, then there shouldn't be any `permissions denied` errors

[2017-02-20 10:22] azat commented on #465
Also can you please confirm that `/usr/local/opt/openssl/include` contains `openssl/bio.h` ?

[2017-02-20 10:37] jakobsen9 commented on #465
@azat what path is that, where is it?

[2017-02-20 12:58] azat commented on #465
In your file system, where you should have `openssl/bio.h`, so can you post output of:
[code]

[2017-02-20 13:14] jakobsen9 commented on #465
Is that supposed to be an existing path in OS X? I can't find it...

[2017-02-20 13:18] azat commented on #465
Then you don't have installed openssl libraries, you can use `brew` for this, i.e.:
[code]

[2017-02-21 11:24] kushal4 opened #467 "issues when adding multiple bufferevent flags"
The thing i am transferring the data which is read from server via socket to multiple threads so i am setting bufferevent flags like
[code]
when i am doing this i am getting some error that ' failed to create libevent bufferevent and the server program stops receiving from the client '.Could you please tell me where am i going wrong? Is it the correct way to set multiple flags?

[2017-02-22 07:57] Zourva opened #469 "event_queue_remove_active: not on queue 8"
Hi all,
we've implemented an rpc server based on evhtp + libevent2 and we have many http clients connecting to our rpc server.

We start from 10 clients to 2000, and the rpc server works okay. However, when we increase the number of clients to 2000+ ( or sometimes 3000+) it fails, printing out the log: `event_queue_remove_active: 0x??? not on queue 8`,  and exit with `-1`.

We tried two versions(`

[2017-02-22 15:16] kushal4 commented on #467
when i only set the second flag only it works well for joinable threads but when i use it for parrallel thread the data is not well read from the socket i mean i dont recieve the desired characters send from the client end to server but in the wireshark i see the client sends the character properly even when using parrallel thread

[2017-02-24 08:24] kushal4 commented on #467
how to enable thread support for bufferevent

[2017-02-24 11:52] tim-le opened #470 "bug in timeout_write with IOCP"
document says:
bufferevent_set_timeouts: The write timeout will trigger if the bufferevent waits at least timeout_write seconds while trying to write data. Note that the timeouts only count when the bufferevent would like to read or write.
--------
however, with IOCP enabled, if you don't send data after timeout_write seconds, the write timeout will be triggered.

[2017-02-24 21:46] bhirbec commented on #465
Had the same issue. Solve this by installing [openssl](https://www.openssl.org/source/). I just followed instructions in the INSTALL:

[code]

[2017-02-27 23:57] #449 closed

[2017-02-28 00:38] azat commented on #469
Can you please try with debug checks enabled (I hope that you compile with them):
[code]

P.S. preferable version for testing is **2.1.8**

[2017-02-28 00:42] azat commented on #470
Can you please post simple (100L) reproducer?

[2017-02-28 00:44] azat commented on #467
Can you please reduce you program to 100 lines reproducer (or something like this) and post it here or [here](gist.github.com) ?

[2017-02-28 01:35] Zourva commented on #469
Thank you, @azat . I'll try your suggestion using 2.1.8 and thanks for your edit.

[2017-02-28 01:52] tim-le commented on #470
`#include <string.h>
#include <errno.h>
#include <stdio.h>
#include <signal.h>
#include <time.h>
#ifndef _WIN32
#include <netinet/in.h>
# ifdef _XOPEN_SOURCE_EXTENDED
#  include <arpa/inet.h>
# endif
#include <sys/socket.h>
#endif

#include <event2/bufferevent.h>
#include <event2/buffer.h>
#include <event2/listener.h>
#include <event2/util.h>
#include <event2/event.h>

struct myconn {
    struct b

[2017-02-28 01:56] #451 closed

[2017-02-28 07:57] JandunCN commented on #424
Sorry about long silence. Today I build it the second time, and It succeeds. My advice is that maybe `gcc4.8.5` doesn't support `#if EVENT__SIZEOF_LONG_LONG == 8`.

Last time I changed `CC` system environment variable to `gcc6.2.0`, but I didn't affect my `libevent` build.
I linked `/usr/bin/cc` to `gcc6.2.0`, and build newest `libevent` source code successfully .

[2017-02-28 07:58] JandunCN commented on #424
close as above.

[2017-02-28 07:58] #424 closed

[2017-02-28 08:13] azat commented on #470
Will take a look, and please use [markdown](https://guides.github.com/features/mastering-markdown/)

[2017-02-28 08:41] kushal4 commented on #467
hi,
This issue has been solved for now will update here if any problem crops up anytime
Thanks ,
Kushal

[2017-02-28 08:41] kushal4 commented on #467
i am using smart pointers now and due to that the problem is not occuring till now

[2017-02-28 08:41] #467 closed

[2017-02-28 11:00] armman475 opened #471 "About DPDK"
I would like to use libevent on the DPDK(Data Plane Development Kit) platform.Have any ideas and suggestions?

[2017-02-28 11:25] azat commented on #471
Can you give some details on this?

[2017-03-01 03:58] liudf0716 opened #472 "https-client.c: no need to SSL_free when HTTPS"
In https-client.c of sample, I noticed the following code :
cleanup:
[code]
that means when in https mode, no need to do SSL_free, we don't need to worry about memory leak here ?

[2017-03-01 04:20] armman475 commented on #471
In this article [Understand DPDK](http://www.slideshare.net/garyachy/dpdk-44585840?related=1), DPDK requires a userspace TCP/IP stack.
So, I would like to know whether libevent's socket needs to be modified.

[2017-03-01 12:53] azat commented on #472
Yep, because:
- `SSL_new()` called regardless it is http or https request
- but if it is **https** then it will be freed [by libevent](https://github.com/libevent/libevent/blob/cc0e04d798643b76ce1874213cb6cc3b2c6b5ac4/bufferevent_openssl.c#L1238) because of `BEV_OPT_CLOSE_ON_FREE`

[2017-03-01 12:56] liudf0716 commented on #472
@azat  thanks. In fact, I have tried to free it, but encounter segment fault.

[2017-03-02 03:09] liudf0716 opened #473 "what's the difference between libevent2, libevent2-extra, libevent2-core, libevent2-openssl and libevent_pthread"
why there are so many library? what kind scenario which one should be used?
I noticed libevent2-core also need libcrypto,  so why also define libevent2-openssl?
when I submitted pull request for LEDE project, many reviewer asked me why set depends openssl for libevent2-core, I must explain  if not , it can not be compiled. anyway, I must admit it really looks ugly, since we have defined libevent2-

[2017-03-02 03:10] liudf0716 commented on #473
here is my PR
https://github.com/lede-project/source/pull/848

[2017-03-02 04:24] ploxiln commented on #473
I did a quick check of libevent 2.0.x installed from the standard package on ubuntu 16.04, and libevent_core does not link to openssl:

[code]

[2017-03-02 04:27] ploxiln commented on #473
and for what it's worth, libevent-2.0.22 installed via homebrew on OS X, libevent_core does not link to libpthread either:

[code]

That's the reason for the different libraries - avoid the need to link to other libraries when not needed for a particular application.

[2017-03-02 06:21] liudf0716 commented on #473
@ploxiln  please check version 2.1.8-stable.
I can understand  "avoid the need to link to other libraries when not need for a particular application"
but for a libevent beginner, did u know which library u should use? libevent2 or libevent2-core or libevent2-extra, by the end, maybe u will link them all.

[2017-03-02 07:59] ideal-miao opened #474 "select return immediately on win32 platform"
I'm new to this library and get a problem with `libevent/samples/hello-world.c`
I don't need to use bufferevent, so I changed the code to this:

[code]

after the program have started, use command `nc ip port` to connect the server, it turns out `function conn_testcb()` will be called infinitely  even if the client has been terminated. I step into the code, and find the deep reason is `select()` a

[2017-03-02 09:38] semigodking opened #475 "Failed to build with Android NDK (CMake)"
I was trying to build libevent with Android NDK.  CMake can generate Makefile.

`
cmake -d -DCMAKE_TOOLCHAIN_FILE=~/ndk/android-ndk-r13b/build/cmake/android.toolchain.cmake -DANDROID_TOOLCHAIN=gcc -DOPENSSL_INCLUDE_DIR=~/openssl-1.1.0e/include -DOPENSSL_SSL_LIBRARY=~/openssl-1.1.0e/  -DOPENSSL_CRYPTO_LIBRARY=~/openssl-1.1.0e/ ..
`

Compilation fails with the following errors.

`[ 13%] Building C o

[2017-03-02 10:04] semigodking commented on #475
By checking logs, I found pthread_t check failed. The generated EVENT__SIZEOF_PTHREAD_T.c does not have pthread.h included.

/usr/bin/make -f CMakeFiles/cmTC_2ffea.dir/build.make CMakeFiles/cmTC_2ffea.dir/build
make[1]: Entering directory '/home/ubuntu/libevent/build/CMakeFiles/CMakeTmp'
Building C object CMakeFiles/cmTC_2ffea.dir/EVENT__SIZEOF_PTHREAD_T.c.o
/home/ubuntu/ndk/android-ndk-r14-beta2/

[2017-03-02 10:08] liudf0716 commented on #475
I have tested in LEDE, cmake can not work either

[2017-03-03 01:29] ploxiln commented on #473
I see that in libevent-2.1.8 (installed with homebrew on OS X) libevent_core does link to libcrypto. I'm pretty sure that's a bug in the build process.

Regarding "beginners", the manual says:

That's pretty clear. Beginners can just use `-levent` when linking.

[2017-03-03 01:52] ploxiln commented on #473
It's a bug in `configure.ac` (or possibly `libevent_openssl.m4` I guess, this stuff is cryptic to me). `LIBS = -lcrypto` ends up in `Makefile`.

I wonder if this part of `configure.ac` causes it:

[code]

If I remove that from `configure.ac`, libevent builds successfully, and libevent_core does not link to libcrypto. Tested on both macOS and Linux.

[2017-03-03 02:05] liudf0716 commented on #473
@ploxiln  I totally agree with what u say. but u known, when u firstly use a library, do u known exactly which api u should use? of course, for an experienced one ,it's ok.  that why I say it will not help spreading libevent for developer.

[2017-03-03 02:06] liudf0716 commented on #473
in fact, all libevent library depends libcrypto

[2017-03-03 05:16] cdprashanth opened #477 "bufferevent_write succeeds on a dead tcp connection"
Hi
server machine went unreachable and tcp connnection to server remained 'established'.
in this scenario, i see that bufferevent_write still succeeds.
It should fail. right ?
if this is expected behavior , then how do i detect a dead tcp connection ?
Regards

[2017-03-03 07:16] azat commented on #474
How do you detect that client is gone?

The original code has:
[code]

If you doesn't want to use bufferevents, that you should check it by your self, using something like this in your callback:
[code]

[2017-03-03 07:59] azat commented on #473
So in a nutshell:
- event_core: all basic stuff
- event_pthreads: libevent pthread support
- event_openssl: linked with openssl
- event_extra: event_tagging/http/dns/rpc

And **"event" is a deprecated** library (it may go away in future versions, and I guess that it should already, since it only introduces more questions), it is better to use event_core instead, and if you need something more link

[2017-03-03 08:00] azat commented on #477
Replied [here](http://archives.seul.org/libevent/users/Mar-2017/msg00003.html).

[2017-03-03 08:00] #477 closed

[2017-03-03 08:00] #472 closed

[2017-03-03 08:01] azat commented on #465
@jakobsen9 should I close this issue or you still have problems with building libevent with openssl?

[2017-03-03 08:10] liudf0716 commented on #473
@azat thanks for your wonderful explanation!

[2017-03-03 08:16] SimarglFox opened #478 "Libevent queue in single-thread"
Can't find answer on my question, i am add event function wirh evtimer_add, 8 times in single-thread application. Did this function called 8 times one by one, or lib can pause fucntion for another execution? Can some one give link to doc with description of queue work?

[2017-03-03 08:58] azat commented on #478
Libevent uses event loop, so if you are not calling `event_base_loop()` from your timer callback, than it can't pause your function (this is not the kernel), IOW timers callbacks will be called sequentially.

[2017-03-03 09:57] Zourva commented on #469
We reproduced the result with `event_enable_debug_mode() `on  2.1.8.  The collected log size is about 5.1GB. Here's the logs related to the failed event (`fd 216` according to the call trace):

[code]
It seems that `event_process_active` is not called on this event when fd is 216.
Will this error lead to the early 'not on queue 8 ' error ? 　

call trace:
[code]

_evhtp_xxx are functions from @ellz

[2017-03-03 12:10] azat commented on #469
FWIW here is some information about this error: nmathewson/Libevent#141

[2017-03-03 12:16] azat commented on #469
And indeed this error (calling event_assing() on already active/pending event) can lead to this error, and you shouldn't have code that do this.

Look, in `event_queue_remove_active()` we are checking `evcb_flags/ev_flags` for `EVLIST_ACTIVE` but `event_assign()` reset `ev_flags` to `EVLIST_INIT`.

[2017-03-05 09:52] tim-le opened #480 "a typo of comment in evutil.c"
https://github.com/libevent/libevent/blob/a73fb2f443ebf9687ee6ca81a6401d1f3751683f/evutil.c#L1056
/* Got an ipv(4)? address. */

[2017-03-05 14:27] azat commented on #471
So I looked at DPDK, and it is *not a networking userspace* (so does libevent).

But there is a [tcp/ip stack for dpdk](https://github.com/opendp/dpdk-ans) and if you want to use libevent over `dpdk-ans` then you need to replace `read`/`write`/... with `ans_read`/`ans_write`/.. and there is an example of modifying [nginx](https://github.com/opendp/dpdk-nginx)/[redis](https://github.com/opendp/dpdk

[2017-03-05 14:30] azat commented on #480
Yep (I guess copy-paste thing, and actually I'm not sure that it is any useful comment), do you want to send a patch?

[2017-03-05 15:16] #480 closed

[2017-03-05 19:19] azat opened #482 "CHECK_C_SOURCE_RUNS in crosscompiling mode"
At first run only, after everything is ok:
[code]

[code]

[2017-03-05 19:28] azat commented on #475
Hi @semigodking

Sorry for the delay (I just wanted to create env for ndk, maybe it will be useful in the future).

So can you try attached patch? Or (and this one is more convenient) the whole patch set:

    https://github.com:azat/libevent cmake-configure-fixes

P.S. @liudf0716 can you test it too?

[2017-03-05 19:35] azat commented on #462
@liudf0716 did you try running cmake twice?

The problem that you can't use `CHECK_C_SOURCE_RUNS` in cross-compile (refs #482):
[code]

Anyway this `WNOWAIT` check is only for tests, so this doesn't affects library.

[2017-03-05 19:45] azat commented on #475
BTW it works for me (but without openssl, but the problem is not there):
[code]

P.S. I have to run cmake twice, because of #482
P.P.S. there are some warnings, I'm going to fix them too, and some issues with shared libraries and 'arc4random_addrandom'

[2017-03-05 22:23] azat commented on #370
@smarek I fixed this (you can take a look into attached patch), it a little bit differs from your patch:
- cmake support
- arc4-less systems (linux), implicit decl warning

[2017-03-05 22:24] azat commented on #475
Just force-pushed into `cmake-configure-fixes`, please update and test again, everything should compile without any issues (except for warnings about date overflow in tests).

[2017-03-05 22:34] azat commented on #370
@smarek can you try 2.1?

[2017-03-05 22:35] azat commented on #370
From:

    https://github.com:azat/libevent cmake-configure-fixes

[2017-03-05 22:36] azat commented on #463
@jurajlutter can you try compile libevent from the next url?

    https://github.com:azat/libevent cmake-configure-fixes

[2017-03-05 22:43] #465 closed

[2017-03-05 22:45] jurajlutter commented on #463
Something around `epoll` is being misdetected.

[code]

[2017-03-05 23:42] azat commented on #463
Can you please share (gists is preferable I guess):
- `CMakeCache.txt`
- `include/event2/event-config.h`
- `include/evconfig-private.h`

[2017-03-05 23:45] ploxiln commented on #463
hmm, epoll() is linux specific, but SmartOS has "LX branded zones" aka linux syscall emulation zones, is it possible that is confusing the configure step? (are you running in some kind of zone?)

[2017-03-05 23:49] #473 closed

[2017-03-06 00:12] azat commented on #463
According to nanomsg/nanomsg#431 epoll added to smartos, and no special headers required, so we need config headers and cmake caches to investigate this.

[2017-03-06 00:20] azat commented on #463
And according to some logs there are no syscall numbers for epoll. More interesting thing is that before you don't have such error, @jurajlutter maybe you updated something?

[2017-03-06 00:22] azat commented on #463
I think that at first time you are used autoconf/automake to build, but now you are using cmake, am I right?

- `sample/.libs` from the first message, is relevant for `autotools`
- `CMakeFiles/event_extra.dir` is relevant for `cmake`

[2017-03-06 02:08] liudf0716 commented on #462
@azat Ok, I will try it late.

[2017-03-06 02:52] semigodking commented on #475
@azat Thank you! The fix works.

[2017-03-06 02:52] #475 closed

[2017-03-06 03:54] Zourva commented on #469
Hi azat, thanks for your reply. I check the link and the code again, finding that event_assign() is called against a newly-malloc'ed event, which is why the log shows `event_assign called on an already added event 0x2b13881d8aa0 **(events: 0x0, fd: 0, flags: 0x0)**`. No flags are set because it's not initialized yet. Since it's not initialized(thus no reset happens), why is it confilict ?

[code]

[2017-03-06 06:51] azat commented on #469
Hm, didn't looked at backtrace, and indeed this is a new event, that shouldn't have any problems.

Looks like a corruption to me somewhere else, i.e. if this region of memory freed and malloc thinks so, for example if you call `free()` instead of `event_free()`. Can you try compile with `-fsanitize=address` or running under `valgrind ...`?

`-fsanitize=address` has less cpu overhead, so it is pref

[2017-03-06 07:23] armman475 commented on #471
Thanks @azat.
DPDK can improve performance quickly. Does Libevent consider supporting development on the DPDK platform?

[2017-03-06 07:47] liudf0716 commented on #462
@azat seems still not work, I have tried master version, also not work.

[2017-03-06 07:48] azat commented on #471
I'm not sure that I can answer to this question right now, since I didn't use dpdk, but who knows. Actually during looking into this a few days ago, I though that this can be implemented with preloading some library but not sure that it will be a good generic decision.

[2017-03-06 07:49] azat commented on #462
Did you tried this [repo/branch](https://github.com/libevent/libevent/compare/master...azat:cmake-configure-fixes)?

    https://github.com/azat/libevent.git cmake-configure-fixes

[2017-03-06 10:34] liudf0716 commented on #462
@azat sorry not try that. I will try it as soon as possible

[2017-03-06 11:31] liudf0716 commented on #462
@azat I have tried, still get "Configuring incomplete, errors occused!"

[2017-03-06 11:39] liudf0716 commented on #462
the following was information

[code]

[2017-03-06 11:43] azat commented on #462
And what does `git describe --abbrev=0` reports (in that dir)?

[2017-03-06 11:45] liudf0716 commented on #462
[code]

[2017-03-06 11:46] liudf0716 commented on #462
@azat in that directory, all that u get git info are about LEDE's git info

[2017-03-06 11:47] azat commented on #462
Aha, do you doesn't git repo of the libevent, and what you has is repo in the parent directory, wait a minute

[2017-03-06 11:49] liudf0716 commented on #462
yes, that's LEDE environment caused

[2017-03-06 11:55] azat commented on #462
@liudf0716 can you please try again? (pull that branch, last commit is bda06a3b)

[2017-03-06 12:08] liudf0716 commented on #462
@azat Ok, wait a minute

[2017-03-06 12:10] liudf0716 commented on #462
@azat It's Ok now. Thanks!

[2017-03-06 12:28] liudf0716 commented on #462
@azat sorry I still find another problem, although it compile passed without errors,  but it seems no library generated. Into  the directory, no .libs found.
if not use cmake, .libs can be found

[2017-03-06 12:36] liudf0716 commented on #471
libevent depends on tcp/ip stack, but DPDK build their own tcp/ip stack. I don't think need to do that job.

[2017-03-06 12:39] liudf0716 commented on #462
the bug of all library depended on libcrypto  has resolved.

[2017-03-06 13:19] azat commented on #462
cmake writes to `lib` not `.libs`, and if you need shared libraries that use `cmake -DEVENT__BUILD_SHARED_LIBRARIES=ON ...`

[2017-03-06 20:15] azat commented on #462
@liudf0716 so everything is okay with `lib`/`.libs`?

[2017-03-06 22:05] mfine opened #483 "No support for streaming request bodies"
As a client, I'd like to make a `PUT` with a streaming request body. In `evhttp_make_header_request`, a `Content-Length` for a `PUT` or `POST` that does not have a `Content-Length` will be specified:

[code]

Support for streaming seems well supported on the receiving side for the client. Just no support going from the client to the server. Apologies if I'm misreading the code.

[2017-03-07 02:10] liudf0716 commented on #462
@azat can not find .so files in libs either

[2017-03-07 02:18] liudf0716 commented on #462
[code]

[2017-03-07 06:14] liudf0716 commented on #462
@azat Ok, thank you. I will try that.

[2017-03-07 06:17] liudf0716 commented on #462
@azat By the way, If I want to implement these to version 2.1.8-stable, how to do that ?

[2017-03-07 06:26] azat commented on #462
What exactly? Compilation fixes? If so, then I'm going to merge them to master and then they will be in 2.1.9 (that will contains mostly fixes).
But if your want then in 2.1.8 you can merge them into your own tree.

[2017-03-07 06:29] liudf0716 commented on #462
@azat
I am sorry that after I have setted "CMAKE_OPTIONS = DEVENT__BUILD_SHARED_LIBRARIES=ON
", there still no .so files in lib or .libs directory.

[2017-03-07 06:37] liudf0716 commented on #462
[code]

I have changed CMakeLists.txt like above, there still the same as before

[2017-03-07 06:45] liudf0716 commented on #462
@azat
sorry I have made a mistake, .so files appeared, cause my LEDE compile report error not find libevent*.so, so I was misled. sorry

I will check why LEDE compile error. thanks

[2017-03-07 06:49] liudf0716 commented on #462
@azat
I know why my LEDE compiling report errors, cause as usual, It copy libevent-2.2.so.*, but the new library's name like this: libevent.so.2.2.0, libevent_core.so.2.2.0

It's new name standard or something else?

[2017-03-07 07:03] liudf0716 commented on #462
[code]

can't find openssl and thread so library

[2017-03-07 07:06] azat commented on #462
Kind of, `cmake` do like this (see `SOVERSION`), and most of the libraries (AFAIR) uses such linking too (i.e. via `.` not `-`), I will take a look at this.

[2017-03-07 07:07] azat commented on #462
As for `pthreads` and `openssl` there are no such libraries in cmake build yet (since it is not as mature as autotools), but I'm working on it (actually I have some draft for openssl library)

[2017-03-07 07:08] #404 closed

[2017-03-07 07:09] liudf0716 commented on #462
Ok, I see. thanks for your effort.

Regards

[2017-03-07 07:10] #471 closed

[2017-03-07 07:26] liudf0716 commented on #462
@azat I still find one problem, in my LEDE package, if I set
[code]
in my package Makefile, there still no .so files appeared, but if I chage CMakeLists.txt like this:
[code]
then .so files appeared, I don't know whether it's a bug for LEDE or libevent CMakeLists.txt,
so why not set EVENT__BUILD_SHARED_LIBRARIES default ON to avoid such problem?

[2017-03-07 07:34] azat commented on #462
Can you get full cmake command?

[2017-03-07 08:10] ploxiln commented on #462
@liudf0716 you need `-` before `D`. Think of it as `-D` and then the variable `EVENT__BUILD_SHARED_LIBRARIES=ON`

[2017-03-07 08:11] liudf0716 commented on #462
[code]

[2017-03-07 08:12] liudf0716 commented on #462
@ploxiln
u r right, thanks

[2017-03-07 10:03] #458 closed

[2017-03-07 10:10] smarek commented on #370
Looks cool, will ressurrect the project over the upcoming weekend, and give out test results. Thank you @azat

[2017-03-07 11:03] azat commented on #483
Hi @mfine

No you don't misread code, it is not supported for now (and I'm not sure that it will be implemented due to #261, though this is about server part).
As a solution maybe you can send data in chunks?

[2017-03-07 11:29] jurajlutter commented on #463
OK, so, using autoconf (created from within autogen,sh) it works, compiles and runs.

Using CMake there still is an error:

`/home/builder/build/src/libevent/libevent/epoll_sub.c:64:18: error: '__NR_epoll_wait' undeclared (first use in this function)
  return (syscall(__NR_epoll_wait, epfd, events, maxevents, timeout));`

This is linux-specific library call, which is, for obvious reasons, not avai

[2017-03-07 11:31] jurajlutter commented on #463
When compiling on SmartOS, one should include system-wide `epoll.h` and NOT include `epoll_sub.c` from libevent. This is the reason why the build using CMake fails.

[2017-03-07 11:32] jurajlutter commented on #463
Or, conditionally check in epoll_sub.c presence of needed #defines.

[2017-03-07 17:28] mfine commented on #483
Thanks for the response @azat. Seems like #261 might be pending for some time per https://github.com/ellzey/libevhtp/commit/e09cde823dd346f95d3a4ccaecd8bfb536d65a90. Sorry to hear.

[2017-03-08 05:40] liudf0716 commented on #462
@azat when cmake will support libevent2-openssl? I think that library is very important for me.
cause my apfree wifidog project depended libevent2-openssl. thanks

[2017-03-08 09:55] azat commented on #462
I'm working on it, can't promise anything about time, sorry.

[2017-03-08 10:20] liudf0716 commented on #462
@azat thanks for what u doing. no need to say sorry for that.
 I have fix that problem temorarily by commentted  checking for ERR_remove_thread_state as @ploxiln did.

[2017-03-08 10:26] azat commented on #462
As for `ERR_remove_thread_state` it is already fixed in master (by @ploxiln )

[2017-03-08 11:31] kushal4 opened #484 "sleep in event_base_loop()"
I Have seen that the event_base_loop() api function sets up infinite loop inorder receive active and inactive callbacks.The question is does this infinte while loop has some some sleep() given to it for any certain time interval i am planning to spawn some threads  in the main thread and use it for communicating with other threads

[2017-03-08 11:56] liudf0716 commented on #462
that's great, I will update my pull request. thanks

[2017-03-08 14:07] kushal4 commented on #484
by see in the event.c fole i somewhat figured out that theres some timeout related to the event callbacks am i interprting it clearly?

[2017-03-08 15:01] #462 closed

[2017-03-08 15:01] #482 closed

[2017-03-08 15:09] azat commented on #484
I'm not sure that I fully understand you, but event loop has timeouts (see timeout argument in select/epoll/kqueue/...), it is a minimal timeout for all added events (so that we don't miss anything).

[2017-03-08 20:39] #463 closed

[2017-03-08 20:47] azat commented on #463
Finally I successfully started smartos in vagrant, to check this, and indeed everything works without wrappers (I was worried not about `epoll_sub.c` - most of the OS'es/libc's have wrappers for epoll, but about some other things which can be broken, but `make verify` passed).

That said, I just pushed this changes to master. @jurajlutter Please go and test this.

[2017-03-08 23:00] jurajlutter commented on #463
I approve! 👍

[2017-03-08 23:04] azat commented on #463
Great, thanks!

[2017-03-09 18:01] kushal4 commented on #484
thanks  i  was  trying  to  understand in which way  libevent  was mainting  the  delay  in  its infinite  while  loop

[2017-03-10 15:04] azat commented on #484
So does it means that everything is clear? Can you close this issue then?

[2017-03-11 08:44] kushal4 commented on #484
yes its clear now .I am closing this issue.

[2017-03-11 08:44] #484 closed

[2017-03-12 14:53] azat commented on #298
Closing this one, since some differences already eliminated and anyway there are no details here what differs.

[2017-03-12 14:53] #298 closed

[2017-03-12 14:53] azat commented on #246
Closing this one, since some differences already eliminated and anyway there are no details here what differs.

[2017-03-12 14:53] #246 closed

[2017-03-12 14:54] azat commented on #474
@ideal-miao any update on this?

[2017-03-12 14:58] azat commented on #462
Can you try 00d252bfbee576565fe68f3179d7cdcc58220b6c? (I'm testing it via building .deb package right now)

[2017-03-13 02:22] liudf0716 commented on #462
@azat Ok, I will try it as soon as possible

[2017-03-13 03:06] liudf0716 commented on #462
@azat
In 2.1.8-stable, I have replaced with your new CMakeLists.txt  and  cmake/LibeventConfig.cmake.in, It gives the following error:
[code]

and change to cmake-configure-fixes of your fork, it also gives the following error:
[code]

[2017-03-13 06:14] liudf0716 commented on #462
@azat I have try that changes in master of libevent, It's OK now. here is result:
[code]

[2017-03-13 06:17] azat commented on #462
Actually there are some other problems with this patch (i.e. it will not allow to link with shared libs anything, because some private symbols need to be exported), here is full patch set:

    https://github.com/azat/libevent.git cmake-openssl-pthreads

[2017-03-13 07:29] liudf0716 commented on #462
@azat
 OK， I will check that patch.
thinks

[2017-03-13 07:29] liudf0716 commented on #462
@azat by the way, when will 2.1.9-stable be released?

[2017-03-13 07:34] liudf0716 commented on #462
this version also OK.

https://github.com/azat/libevent.git cmake-openssl-pthreads

[2017-03-13 07:38] azat commented on #462
I didn't think about this, yet.

[2017-03-13 07:43] liudf0716 commented on #462
Ok, I see.
Wish it will be released soon.

[2017-03-13 17:59] azat commented on #447
Just in case: I found that clang from osx 10.7 has the same bug, it has 4.2 (but seems it based on 3.2-3.5):

[code]

[code]

But I'm not sure that adding checks into cmake/autotools worth this

[2017-03-13 18:12] #443 closed

[2017-03-14 03:14] ideal-miao commented on #474
@azat thanks for you advice, i understand how to control the life cycle of the socket file descriptor now.
And i want to ask another related question: i  add EV_READ | EV_WRITE | EV_PERSIST when creating new event,  but in my application, read frequency is much more higher than write,  so when the socket is available to write, the write_cb is called repeatedly but do nothing valuable，is there a co

[2017-03-14 06:30] Zourva commented on #469
Hi azat, we recompiled with `-fsanitize=address` and `-fsanitize=leak` and run. Output showed `heap-use-after-free` as you said.

We run using valgrind and helgrind but it never showed.
We have a struct holding the request object pointer and get queued:
[code]
We checked our usage of `evhtp` and found that  we missed a lock in `session`!!!
Both valgrind and helgrind failed to show the mistake, we

[2017-03-14 07:00] azat commented on #474
I'm not sure I follow you, there is no writecb for `event` (it is only for `bufferevent`).

If you have (for the same fd) more reads then writes, then no problem your callback will be called for read/write.

already what?

[2017-03-14 07:01] azat commented on #469
Hm, interesting, you can try `-fsanitize=thread` for the version of sources without the patch.

[2017-03-14 08:14] ideal-miao commented on #474
my source code looks something like this:`#define REG_EV_WRITE 0
class Session {
public :
	void onEventCallback(evutil_socket_t fd, short events) {
		if (events & EV_READ) {
			//read and save into m_iInBufferQueue;
			...
		}

#if REG_EV_WRITE
		if (events & EV_WRITE) {
			flush();
		}
#else
		flush();
#endif
	}

	void flush() {
		//send data if m_iOutBufferQeueue is not empty
		while (!m_iOutBuf

[2017-03-14 10:49] azat commented on #474
Aha, I see what is going on here, and the reason for this is then socket is always ready for writing, you should use separate event for `EV_WRITE` without `EV_PERSIST` (on the same fd) and add it into event_base only when you need it.
Also take a look at `EV_ET` (edge-triggered events, but this is not the `select()` case)

[2017-03-15 01:32] ideal-miao commented on #474
That's seems better than call flush() manually, i will try this way.

[2017-03-15 01:32] #474 closed

[2017-03-15 07:45] #483 closed

[2017-03-15 07:45] #478 closed

[2017-03-23 10:37] lirunlong opened #487 "event_process_deferred_callbacks"
[code]

When the first time to enter the while loop, the queue is locked? Where is the lock?

[2017-03-23 14:42] fackgithab opened #488 "guarding re: arc4random_addrandom() breaks backwards compat"
commit 6541168d7037457b8e5c51cc354f11bd94e618b6 specifically walls off the prototype for evutil_secure_rng_add_bytes() unless the platform has been detected to have arc4random_addrandom() which seems off considering that libevent has a copy of the function in arc4random.c
please see https://trac.torproject.org/projects/tor/ticket/21796

[2017-03-24 07:19] azat commented on #370
@smarek any news?

[2017-03-24 08:02] azat commented on #487
Hi @lirunlong

This looks like fec8bae2673966325eeaabc3fc1af60b584abb1a (2.1.1).

So `queue.lock` [here](https://github.com/libevent/libevent/blob/745a63dba33c53440064908f086bb739aa9c4bb3/event.c#L685) is `base->th_base_lock`

The call stack for `event_process_deferred_callbacks()` (where this loops located) is:
- event_process_deferred_callbacks()
- event_process_active()
- event_base_loop()

And

[2017-03-24 08:02] #487 closed

[2017-03-26 23:41] azat commented on #488
For which os did you compile `tor`?

[2017-03-27 12:46] huahuizi commented on #360
@nquoctuan  can you fix it

[2017-03-27 14:05] azat commented on #488
Forget it, just fixed it, can you please check with:
    https://github.com/azat/libevent.git master

Thanks for catching!

[2017-03-27 15:09] smarek commented on #370
hey @azat , yup, I've tried, just pushed my prepared update to https://github.com/smarek/android-unbound-dns/tree/development

What is not working currently, there is no way to use pre-compiled openssl (1.0.2k currently) with libevent, as configure accepts only "--enable-openssl / --disable-openssl" and not something like "--with-ssl /absolute/path/to/openssl-1.0.2k/build/"

Could you advise? Than

[2017-03-27 15:25] azat commented on #370
@smarek take a look at [this](https://github.com/libevent/libevent/issues/401#issuecomment-251006022)

[2017-03-27 23:13] fackgithab commented on #488
i'm not sure that addresses the issue as i wasn't building using cmake but instead autotools.
also, i think since arc4random_addrandom is built into libevent if the system lacks it means that exutil_secure_rng_add_bytes() is unconditionally available and so should be it's prototype
i think the solution is just to remove the guards around the prototype in util.h

[2017-03-28 07:08] azat commented on #488
It is not about `cmake` it is about declaration availability, and according to link to the ticket it is the only error, i.e. it didn't tried to link, plus I successfully built tor with that patch in libevent yesterday.

As for prototype availability, when I was looking at the patch in question (6541168) I wasn't happy about `#ifdef`, but in some cases when we have all arc4 functions except `arc4ra

[2017-03-30 08:29] smarek commented on #370
Ok, that fixed the issue, with no patch applied, libevent compiled correctly against Android sysroot
Please see https://github.com/smarek/android-unbound-dns/commit/2f849e41ad4cf0f82363e76daed4496769c556c4

I consider this ticket to be done. Close if you will.

[2017-03-30 08:47] azat commented on #370
Great, thanks for checking it!

[2017-03-30 08:47] #370 closed

[2017-03-31 05:46] code-share1 commented on #262
When run regress test, I encounter below error:
bufferevent/bufferevent_timeout_filter: [forking]
  FAIL ../../libevent-2.0.22-stable/test/regress_bufferevent.c:772: assert(abs(timeval_msec_diff(((&started_at)), ((&res1.read_timeout_at))) - (150)) <= 50): 132 vs 50
  [bufferevent_timeout_filter FAILED]
bufferevent/bufferevent_timeout_filter_pair: [forking] OK

The full regress test result as:
main

[2017-03-31 07:35] azat commented on #262
This is because of timers issues, i.e. when computer is slow then usual you can get this errors.

[2017-03-31 09:50] code-share1 commented on #262
Thanks azat's response! Then how can I remove this error?

[2017-03-31 09:59] azat commented on #262
You can increase diff there, i.e. `50` to `200`

P.S. of course this should be fixed in the long-term

[2017-04-01 01:52] code-share1 commented on #262
Thanks azat!
I ever considered to increase the tolerance too. But I'm just confusing what's the reasonable tolerance value.

test_timeval_diff_eq(&started_at, &res1.read_timeout_at, 150);
->
#define test_timeval_diff_eq(tv1, tv2, diff)                            \
        test_timeval_diff_leq((tv1), (tv2), (diff), 50)
->
#define test_timeval_diff_leq(tv1, tv2, diff, tolerance)                \

[2017-04-04 04:03] fackgithab commented on #488
i was wrong, you were right, that works

[2017-04-04 09:27] azat commented on #488
Great! Thanks for taking a look, I will push it ASAP.

[2017-04-07 12:08] jonasschnelli opened #490 "Leak in evutil_getaddrinfo?"
The current code reveals a leak in `evutil_getaddrinfo`

[code]

[code]

[2017-04-07 13:33] azat commented on #490
This trace looks like [glibc ipv6 leak](https://lists.debian.org/debian-glibc/2016/03/msg00243.html) can you confirm that this is it?

[2017-04-09 11:14] #488 closed

[2017-04-10 06:49] mabaig043 opened #491 "win32: OpenSSL bufferevent_socket_connect reconnect failing"
# In Windows, reconnect of openssl bufferevent_socket_connect is failing.

## Details:
The issue is noticed if client is started before server and client tries to reconnect with server.
During reconnect attempt with same OpenSSL bufferevent, if server is started in meantime, only TCP connection is getting established. No SSL handshake happening on the TCP connection and hence libevent is not gener

[2017-04-12 09:21] jtlkm opened #492 "Disconnected from the remote host"
Hi,
bufferevent_setcb(bev, readcb, writecb, eventcb, session_data);
At the beginning eventcb received BEV_EVENT_CONNECTED, Then I sent a request, the request was successful, after a few seconds disconnect and eventcb received BEV_EVENT_EOF. why？
What is the problem？

[2017-04-12 14:28] ploxiln commented on #492
There is no way for anyone to know, with so little information to work with.

[2017-04-12 14:31] Hacklog opened #493 "libevent-2.1.8-stable issue"
lnmpa/lamp use libevent-2.1.8-stable caused memcached cpu 100% Please help to slove this problem.Thanks!

[2017-04-12 22:22] ploxiln commented on #493
It would help if you provide specific OS version and cpu architecture, specific version of memcached, and how quickly/reliably this problem is triggered. Also, you could help narrow down the problem by testing a few different versions of libevent and memcached, and reporting the results.

[2017-04-13 02:47] Hacklog commented on #493
OS Version centos7.3 and Centos7.2
memcached version:1.4.36
livenvent version:-2.1.8-stable
CPU: E5-2680 V3
APache version :2.4.25
PHP version :7.0.13
use libvent-2.1.8-stable caused memcached cpu 100%. please see in picture
![memcached](https://cloud.githubusercontent.com/assets/16622829/24988004/a8151490-2035-11e7-937f-6761b483ee57.png)
We determine libavent-2.1.8-stable death loop

[2017-04-13 14:34] azat commented on #493
@Hacklog can you post `strace -f -ttt 1600 |& head -100` (where 1600 is the pid of memcached process)

And what previous version that you used that didn't have such problems?

[2017-04-14 03:43] jtlkm commented on #492
Hi  @ploxiln  @azat
 I use nghttp2 library, I use the http2 protocol to connect AVS.
 request:
 nghttp2_nv hdrs[] = {
 MAKE_NV2(":method", "GET"),
 MAKE_NV2(":scheme","https"),
 MAKE_NV2(":path","/v20160207/directives"),
 MAKE_NV2("authorization","Bearer Atza|IwEBIO64ezexgTyd1jNfasksuW42slGru0CWGdv8vhDQG5RJdHf3ZPXj_6GCm73zPsln7miEc97z-jzrSskSOcjGiC-qwNdMF7yPRtwM_431Kk9VN7nSqHic1pv5wjiU-E7-pyHemAt0

[2017-04-14 07:31] jtlkm commented on #492
Added, the main code is as follows:

static void **submit_request**(http2_session_data *session_data) {
  int32_t stream_id;
  http2_stream_data *stream_data = session_data->stream_data;
  const char *uri = stream_data->uri;
  const struct http_parser_url *u = stream_data->u;
  nghttp2_nv hdrs[] = {
      MAKE_NV2(":method", "GET"),
      MAKE_NV2(":scheme","https"),
      MAKE_NV2(":path","/v2016

[2017-04-14 13:17] Hacklog commented on #493
@azat Other versions are no problem
![qq 20170414210154](https://cloud.githubusercontent.com/assets/16622829/25043878/ca0eb7ec-2155-11e7-9d70-6598c496711c.png)
error as below
![Uploading QQ图片20170414210343.png…]()

[2017-04-14 13:18] Hacklog commented on #493
![qq 20170414210343](https://cloud.githubusercontent.com/assets/16622829/25044190/d7c41790-2157-11e7-8717-c8bf230efd4b.png)

[2017-04-14 18:01] ploxiln commented on #493
If you specify a pid to strace, you need to use the `-p` flag, for example `strace -p 2440`

It's better to paste in text from the terminal, rather than a screenshot image. Use "fenced code blocks" if you paste in terminal output or code https://help.github.com/articles/creating-and-highlighting-code-blocks/

There's no need to show us top output, I believe you if you say memcached is using about

[2017-04-14 18:11] ploxiln commented on #492
When pasting code, use fenced code blocks https://help.github.com/articles/creating-and-highlighting-code-blocks/

But this sounds more like intentional AWS behavior. I found this other comment: https://github.com/aws/aws-sdk-go/issues/829#issuecomment-245726691

[2017-04-14 22:50] Hacklog commented on #493
![qq 20170415064902](https://cloud.githubusercontent.com/assets/16622829/25057989/a8f6be0e-21a7-11e7-8119-cc1531194738.png)

`write(2, "[warn] event_del: event has no e"..., 47) = 47
close(0)                                = -1 EBADF (Bad file descriptor)
epoll_wait(3, {{EPOLLIN, {u32=26, u64=26}}}, 32, 885) = 1
clock_gettime(CLOCK_MONOTONIC, {314325, 596139705}) = 0
gettimeofday({1492210086, 9362

[2017-04-15 09:45] BrainGithub commented on #493
so long a strace

[2017-04-15 10:57] azat commented on #493
This is `event has no event_base set.` error, can you post backtrace for it? (i.e. `gdb -p <pid>` and then `bt`)

[2017-04-18 09:08] ghazel opened #495 "libevent hides POLLERR"
libevent masks the existence of `POLLERR` (or `EPOLLERR`, etc), and replaces it with `EV_READ|EV_WRITE`. For use-cases like `MSG_ERRQUEUE` on a UDP socket (https://tools.ietf.org/id/draft-martinsen-tram-stuntrace-00.html#rfc.appendix.A.2.2), this is very inconvenient. A user would need to call both `recvmsg(..., MSG_ERRQUEUE ...)` and `recvfrom(...)` for each `EV_READ` event.

Instead, if libevent

[2017-04-19 02:51] jtlkm commented on #492
Hi  @ploxiln
How to modify the code to achieve long connection？

[2017-04-20 08:07] ghazel opened #496 "expose evhttp_get_request"
I have a file descriptor. Maybe I got it from cmsg https://linux.die.net/man/3/cmsg maybe I made it with  socketpair http://man7.org/linux/man-pages/man2/socketpair.2.html. I'd like to treat it like an HTTP client, and have my `structure evhttp` process it.

To do that, I was hoping to call `evhttp_get_request`, however that function is static. Can we make it not static?

[2017-04-21 20:28] prixone opened #497 "[2.1.8-stable] nmake fails on Visual Studio 2008"
Hi,

I am not sure if you guys can re-issue a new [`.tar.gz` for the 2.1.8 stable on your site](https://github.com/libevent/libevent/releases/download/release-2.1.8-stable/libevent-2.1.8-stable.tar.gz), but I've found 2 issues:

1. The file `test/print-winsock-errors.c` is missing from the test folder thus generating the test for it, will fail
2. The file `test/regress_http.c` have constructors th

[2017-04-22 21:56] azat commented on #497
Hi @prixone

We cannot re-issue existing tarball (once the tarball is published it must be immutable, so that people who already use it can depend on it), this issues will be fixed in the next minor update.
As for this two bits - patches are always welcome (if you are interested in this, if no, it is not a problem of course - I will fix this by myself).

And many thanks for the feedback!

[2017-04-22 23:36] azat commented on #496
So you want to make http requests over custom fd, and AFAIR the problem with http and custom fd is that it caches fd in http layer so firstly we need to drop this bit out of there, and then we can implement this.
I thought about this problem a while back, and partial solution will be #479, but this doesn't solve the reconnect part, (`evhttp_connection_set_retries`) that patch is absolutely fine, s

[2017-04-23 01:22] ghazel commented on #496
My use case is server, yes. So the retries don't apply either.

[2017-04-23 05:45] prixone commented on #497
@azat thanks for the response, I have 0 knowledge in c and I do not know if that minor fix I mentioned above would break it for any other OSes compilations nor would be able to text on other OSes, if that is not a problem, I did be glad to fill in a PR.

[2017-04-24 03:26] ghazel commented on #496
I guess "treat it like an HTTP client" was ambiguous, sorry. I meant:

[code]

My application is a server, and the fd I have should be treated like an incoming connection.

[2017-04-24 10:51] szuwest opened #499 "libevent for iOS"
how can I build libevent library for iOS platform?

[2017-04-24 18:14] azat commented on #490
Closing this for now, if you still think that leak is in libevent, please reopen, thanks!

[2017-04-24 18:14] #490 closed

[2017-04-24 19:18] azat commented on #496
Looks hackish to me. Another hack that can be done without hacking around library is use `pipe2` to forward requests, what do you thinkg? In this case hack will be in your application only, not in the library.

[2017-04-24 19:45] ghazel commented on #496
If I use`pipe2`, what do I do with the other fd?

[2017-04-25 05:31] kushal4 opened #500 "accepting 500 connections or more from libevent [update :: changed the config files but still not able to remove the error]"
Is there  any bug or issue being faced when 500 connections or more opened in a very small amount of time?
Error shown is
[warn] Error from accept() call: Too many open files
from event_log in log.c

[2017-04-25 08:12] ploxiln commented on #500
No. This can be caused by the open file handle limit (see `ulimit -n`) or the `listen()` backlog overflowing. Both of these can be raised.

[2017-04-25 08:26] kushal4 commented on #500
so what is the remedy behind it ,how do i solve it

[2017-04-25 08:28] kushal4 commented on #500
I have changed the open file limit value but still when i do ulimit -n it is showing 1024 instead of showing the updated value.I am using fedora 25 as my working platform

[2017-04-25 10:21] ghazel commented on #496
(the obvious answer to me would be to pass that fd to `evhttp_get_request()`)

[2017-04-26 04:10] mabaig043 commented on #491
anybody got a chance to look into it?
Please let me know if more info is needed.

[2017-04-26 15:54] dagostinelli opened #502 "Request that CMakeLists.txt file be included in future official packages"
libevent has CMakeLists.txt in source control, but not in the [official release packages](https://github.com/libevent/libevent/releases).

My project uses CMake.  It has to pull from master instead of using test/verified release packages.

I hereby request that future packages include the relevant CMake infrastructure.

[2017-04-29 22:42] #225 closed

[2017-04-29 22:56] azat commented on #502
Personally I don't have anything against including CMakeLists.txt into
release archive. Do you want to send a patch? Or should I do it by
myself?

Please note that autotools is more mature for now, but in future cmake
should be prefered over autotools (I don't think that I should write
here about the reasons for this). The reason why autotools should be
used is that cmake do not have all bits that

[2017-05-01 10:07] azat commented on #495
But you can check for `((events & EV_READ) && (events & EV_WRITE))`, no (yes it will be the same for `POLLNVAL` and `POLLHUP` but I guess that number of such errors will be less then `POLLIN/POLLOUT`)?

As for introducing some marker or `POLLERR/EPOLLERR/...` seems that this can be useful, but `EV_ERROR` is reserved by kqueue, and `EV_ERR` in some win32 stuff.

Maybe we should just OR'ing it with

[2017-05-01 10:52] ghazel commented on #495
How are `EV_ERROR` and `EV_ERR` reserved for event loops I'm not using?

[2017-05-01 12:55] azat commented on #495
EV_ERROR/EV_ERR are not reserved by libevent, but:
- [EV_ERROR reserved by kqueue](https://www.freebsd.org/cgi/man.cgi?query=kqueue&sektion=2)
- [EV_ERR some win32 stuff (not sure here)](https://msdn.microsoft.com/en-us/library/windows/desktop/aa363435(v=vs.85).aspx)

[2017-05-01 19:00] #497 closed

[2017-05-01 19:02] azat commented on #497
Okay, then let me do this.

Just pushed two fixes for this, but please note, that *existing tarballs are immutable*, so this will be fixed only in the next releases.

[2017-05-01 19:42] azat commented on #493
Also do you have enough limits? (please post output of `cat /proc/<memcached-pid>/limits`)

[2017-05-01 20:12] azat commented on #491
I guess that the reason can be in [`ConnectEx`](https://msdn.microsoft.com/en-us/library/windows/desktop/ms737606(v=vs.85).aspx)

If you reset [`read_overlapped`](https://github.com/libevent/libevent/blob/master/bufferevent_async.c#L565) and [`write_overlapped`](https://github.com/libevent/libevent/blob/master/bufferevent_async.c#L566) before [`ConnectEx`](https://github.com/libevent/libevent/blob

[2017-05-01 20:13] azat commented on #491
And also please check that `ConnectEx` will be used there.

[2017-05-01 20:19] azat commented on #469
valgrind uses onlye one core (i.e. it emulates multi-threading), so it can hide real issues, hence memcheck will not find this UAF (use-after-free), but you should see some race conditions there (that is a marker for bad-things-will-happen).

[2017-05-01 20:19] #469 closed

[2017-05-01 20:19] #459 closed

[2017-05-01 20:20] azat commented on #429
@lastorder ping

[2017-05-01 20:21] #425 closed

[2017-05-01 20:31] azat commented on #499
Have you tried to google this?

[2017-05-01 20:31] #499 closed

[2017-05-01 20:39] azat commented on #260
Does building with cmake and it's cache pre-load with `cmake -C` will work for you?

[2017-05-01 20:53] azat commented on #502
And this is interesting one, right now to make dist archive we use `make dist` (so autotools), but if we have cmake then we don't need any autotools.

[2017-05-01 20:57] azat commented on #500
You can:
- set this values in `/etc/security/limits.conf` and restart you box to apply changes
- use `prlimit` to adjust values for already runned process (and verify with `cat /proc/pid/limits` or again with `prlimit`)
- use `ulimit` and then start process *from the same* session (import thing about this is that by default you can raise NOFILE limit only to 4096, because default hard limit is 409

[2017-05-01 20:57] #500 closed

[2017-05-02 10:13] kushal4 opened #503 "Error cause on reconnect on the same connection"
Why am i getting this warning and later error ?
 Epoll ADD(1) on fd 714 failed. Old events were 0; read change was 1 (add); write change was 0 (none); close change was 0 (none): Bad file descriptor

[2017-05-02 10:42] azat commented on #503
One of the reasons is that you trying to add already closed descriptor, you can check this `strace` for example or just enable libevent debug logging (`event_enable_debug_logging()`)

[2017-05-02 13:15] kushal4 commented on #503
hi,
Do i have to put this at the top of the program?

[2017-05-02 14:10] azat commented on #503
Yep

[2017-05-02 14:14] kushal4 commented on #503
thanks :)

[2017-05-02 14:19] kushal4 commented on #503
Hi,
when i am using 800 connections the the flow is working fine but when 900 connections are opened ,and the client closes the connection i see this phenomeno frequently.Could you please enlighten this issue :(

[2017-05-02 14:54] azat commented on #503
I guess that this is the same issue with limit for number of opened files (you already posted it sometime ago), and seems that you don't check that fd is valid always.

Like I already said, you can use `strace` to catch this errors, i.e. `strace -fff <your command> |& fgrep EBADF`, you will get `open` syscall (or `pipe2` or something else), then you can use `gdb` and install breakpoint with condit

[2017-05-03 05:04] kushal4 commented on #503
ok thanks am doing this :)

[2017-05-03 07:05] kushal4 commented on #503
hi,
Is there a way to know that a particular sock fd is invalid or not i mean is there an api function in libevemt which would tell me that i am aboutto use a closed fd or not?

[2017-05-03 10:52] kushal4 commented on #503
Now its working fine.I am closing the connection totally whenever i the event callback of the bufferevent is called and thus now i am not going through adding the already closed file descriptor .I dont know why it was added ,the flow isnt supposed to add the already closed descripotr on the libevent.But i will debugging deep through it

[2017-05-03 10:56] kushal4 commented on #500
hi,
This may slightly  sort of out of context question but i have set the values in /etc/security/limits.conf as universally to all the users that would access this config file. Then when i am acccessing it via a regular user through ssh which is mostly said in google .Is this the best approach or is there any better way for setting it for any user

[2017-05-03 10:57] azat commented on #503
It is not the libevent business.

You can use something like `fcntl(fd, F_GETFD)`. But this is not 100% correct (because you can have `close`/`open` between), suppose you have next flow:
[code]

[2017-05-03 10:58] azat commented on #503
So can you close then?

[2017-05-03 11:02] azat commented on #500
You are not accessing this file manually to apply this limits, this will be done at login (in case of ssh it will be done by pam module I guess).

This limits can be applied only for user (see comments/examples) and on per-group basis too.

[2017-05-03 11:19] kushal4 commented on #502
the autotools part works nearly in all version and i think this is the safest way to compile :)

[2017-05-03 12:21] kushal4 commented on #500
yes i had to include that pam_limits.so too which was not included before

[2017-05-03 14:08] kushal4 opened #504 "multi evconn_listener in the same program for splitting the connection ranges"
Hi,
Is there any scope in libevent where multiple evconn_listeners can be created in order to split connection ranges to be listened in multple ports for those connection ranges ?
Thanks,
Kushal

[2017-05-03 16:30] azat commented on #504
Not sure what do you mean by "connection ranges" (if this is kind of port 1-1024 then not sure that it worth implementing), but you can just create X listeners:
[code]

[2017-05-03 20:11] kushal4 commented on #504
suppose  i am stating  that  1st 500  connections  will  be listened on  port9876   via  1st evconnlistener
then  another  500  connections   listenend  on  port9877  via  2nd  evconnlistener.

[2017-05-03 21:14] azat commented on #504
Maybe you just need to balance connections handling between listeners/threads? Since for me handling 500 connections on one port and next 500 on another is pretty useless.

[2017-05-03 21:18] azat commented on #504
Also this doesn't look like an issue in libevent, so not sure that this is the best place for such questions. Can I ask you to use [mailing list](http://archives.seul.org/libevent/users/) for this?

[2017-05-04 04:51] kushal4 commented on #504
sorry i posted it here.Its not really an issue but i am just asking whether this facility is there or not :)

[2017-05-04 07:58] #504 closed

[2017-05-04 09:12] azat commented on #504
And as for your issue, how could you do this if you client always connected to one port 9876, how it will know about it should connect to another port? Only if you will implement protocol for this it will be possible otherwise not (like `Location: ` in HTTP, but anyway you will cannot to 9876 port firstly, of course you can use something like `consul` to get active *master*, but it shouldn't be us

[2017-05-05 01:33] szuwest commented on #499
Of course I tried. The library I have build is OK for iPhone7 plus and iPhone Simulator, but I will crash on iPad mini. I have no idea where is the ploblem.

[2017-05-05 07:20] kushal4 commented on #504
ok :) actually i was thinkin about an idea like, since I am trying to build an mqqt broker through this, i want to make clustured broker  through this implementation

[2017-05-05 10:11] janekolszak opened #505 "Option for switching off native getaddrinfo"
Hi there!
Great library!

I have a leaky getaddrinfo implementation.
**How can I configure libevent to use it's impementation of getaddrinfo?**
Configure script detects that getaddrinfo is there, but I still need to switch it off.

Thank you :)

[2017-05-06 00:15] AdamFreemer commented on #410
I'm on a mac experiencing this on a Puma install. @ploxiln - any instructions you can suggest here with homebrew?

[2017-05-06 23:05] azat commented on #505
Hi @janekolszak

Right now there is no such ability, can you describe what the oddity is?
The best option will be to detect this (i.e. during configuring, and patches are welcome), since if you can do this automatically it is not good to provide such switch, because it will only confuse others.

But with `cmake` you can switch it off by default (because cached variables used for functions detectio

[2017-05-09 15:31] janekolszak commented on #505
Thanks,
I'm using v2.0.22 so I had to patch it. Good to know it's fixed in the cmake version.

There is a bug in getaddrinfo implementation in some eglibc versions:
https://bugs.launchpad.net/ubuntu/+source/eglibc/+bug/1364584

[2017-05-09 15:31] #505 closed

[2017-05-09 16:02] ploxiln commented on #505
I think this is possible without patching, if you do

[code]

[2017-05-09 17:01] janekolszak commented on #505
Tried this, didn't work.

[2017-05-11 00:08] lastorder commented on #429
@azat

sorry, there is no bug. I don,t set thread safe properly.
Please close the essue.

[2017-05-11 02:47] #429 closed

[2017-05-14 10:29] hstenn commented on #452
This bug affects 32-bit machines in general, not just Linux.

[2017-05-19 04:37] ghazel opened #507 "Proxy-Connection header is removed from HTTP requests"
When submitting an http request to a proxy, the `Proxy-Connection: keep-alive` header is stripped. Here: https://github.com/libevent/libevent/blob/e9837124563d6d4bb871d0620e9b02550f796c43/http.c#L435

Sample code seems to expect it will work:
https://github.com/libevent/libevent/blob/0abe4eba83c45c1145df4f7756a69258134601b4/sample/http-connect.c#L105

[2017-05-19 13:44] kushal4 opened #508 "read callback isnt fired for every socket on which the packet is recieved"
Hi,
I have opend around 750 unique socket  in my client program or in other words i have 750 connections communicating with the server(to be specific this is an mqtt broker i am talking about).I am using libevent code on the broker side itself.So,sometimes i notice that whenever a client sends a packet to the broker on a socket(this occurs on some socket only),the read callback is not called corre

[2017-05-19 14:14] kushal4 commented on #508
Furthur Debugging shows that within few fraction of milliseconds more than  50 packets arrives to different sockets , I am having some doubt regarding here,is polling affected due to this and each socket not getting notified of the read callback due to this?

[2017-05-20 03:11] ghazel opened #509 "evhttp_send_reply_start crashes when evcon is NULL"
When and incoming http request has `evcon` set to NULL (see `EVREQ_HTTP_TIMEOUT` handling), calling `evhttp_send_reply_start` crashes eventually because `evcon` is used.

The other `evhttp_send*` functions check for this case and return, which seems like the right thing to do.

Also, it would be nice to notify the user when the `evcon` is set to NULL. I think calling the request's `error_cb` in `e

[2017-05-20 03:58] ghazel opened #510 "evhttp_connection_get_addr doesn't work for incoming connections"
evhttp uses `bufferevent_setfd` to associate the incoming connection with the bufferevent, but never calls `bufferevent_socket_set_conn_address`, so `evhttp_connection_get_addr` returns the wrong thing.

[2017-05-20 07:17] owen200008 opened #511 "libevent\include\event2/util.h(187): fatal error C1017: invalid integer constant expression"
someone have the same issue?
it compile success in linux,android, but can not compile in windows
i use the order
cmake .. -G "Visual Studio 15" -DEVENT__DISABLE_OPENSSL=TRUE -DEVENT__DISABLE_BENCHMARK=TRUE -DEVENT__DISABLE_TESTS=TRUE
and it have the error
libevent\include\event2/util.h(187): fatal error C1017: invalid integer constant expression

how can i solve？

[2017-05-20 07:19] owen200008 commented on #511
/* The size of 'void *', as computer by sizeof */
#define EVENT__SIZEOF_VOID_P

[2017-05-20 07:45] owen200008 commented on #511
change to nmake include file？

[2017-05-20 12:52] kushal4 commented on #508
I suspect, when suppose i am giving 650 connection from one machine and random data packets are sent from these clients from the machine.When the packet transmission of these clients are nearly on the peak,I  have startes another 100 connection from another machine, after some time i see this issue occuring

[2017-05-21 21:11] azat commented on #511
Hi @owen200008

Can you please tell me what commit sha do you try to compile?
And just a minor note, maybe you have the same issues as in #436?

[2017-05-21 21:18] azat commented on #508
Maybe `strace` can help you, another reason for this can edge-triggered events, but I guess that you don't uses it, otherwise you will know this.

Sounds like a bug in your code to me

maybe some issues with fd reusing

[2017-05-22 03:21] owen200008 commented on #511
just compile lib and dll without ssh
it is the same issues with #436
the main project use cmake to create so i want to use to the sublibs.
use cmake create libevent have this error.
now i must use nmake instand. but i hope cmake can work well

[2017-05-22 03:32] #511 closed

[2017-05-22 10:38] azat commented on #511
`cmake` build should work.

Can you upload all cmake cache files somewhere? (tar.gz preferable)
For this it is better to use separate folder for cmake generated stuff:
[code]

[2017-05-22 12:02] owen200008 commented on #511
update the newest version it works~
but it also have the error.
1>Done building project "event_core_static.vcxproj" -- FAILED.
2>Done building project "event_static.vcxproj" -- FAILED.
the same error
libevent\event.c(127): error C2491: 'event_global_current_base_': definition of dllimport data not allowed

[2017-05-22 12:22] owen200008 commented on #511
now i change the code to make visible. if you solve, please tell me~ thanks.
visibility.h
...
# if defined(_MSC_VER)
#  define EVENT2_EXPORT_SYMBOL extern __declspec(dllimport)
#  define SELF_DEFINE_EVENT2_EXPORT_SYMBOL  extern
# else
#  define EVENT2_EXPORT_SYMBOL
# endif
...
#ifndef SELF_DEFINE_EVENT2_EXPORT_SYMBOL
#define SELF_DEFINE_EVENT2_EXPORT_SYMBOL EVENT2_EXPORT_SYMBOL
#endif
...

log.c
S

[2017-05-22 12:34] azat commented on #511
Yeah, I'm bear in mind that I broke this, I will test you proposal, thanks!

[2017-05-22 12:44] azat commented on #510
@ghazel nice catch!

Can you send a patch? I think that adding `bufferevent_socket_set_conn_address` just after `bufferevent_setfd` in `http.c` will be correct. And it will be great if you can add a unit test too.

Thanks.

[2017-05-22 12:53] azat commented on #509
Making `evhttp_send_*` return an `int` (error) instead of `void` and return the error in this case is a good thing I guess.
Calling `error_cb`, indeed is a good idea.

Can you add a patch?

[2017-05-22 14:27] azat commented on #507
@ghazel thanks, nice catch, will fix later.

[2017-05-22 19:59] kushal4 commented on #508
<b>maybe some issues with fd reusing</b>
But,When  accept()   function  is  called  from the  server side (within  the  libevent   itself),the fd  which  is  generated   must  be  unique  unless  and  until    i  am  closing  any  connection,so  as  per  this  chances  of  reusing  of  fd  is  not there  as  per  my view

[2017-05-22 22:51] ploxiln commented on #508
What you're trying to do does not sound very unusual, it sounds like the basic functionality of libevent that many developers and applications depend on. It would be best for you to assume that any problems you run into are due to (understandable) mistakes made by your code, not "bugs" in libevent (even though it may be tricky to use). This kind of low-level C and event-loop programming requires a

[2017-05-23 06:22] lzy-lyf opened #512 "(Bug?)Deadlock happend"
Version: libevent-2.0.so.5.1.4
[code]

As you see, thread 1 tried to delete an event and hold the lock at first, then thread 2 receive read event on the same connection and prevent thread 1 from deleting the event.
Here comes the problem: thread 1 won't complete the deleting until thread 2 finishi its work(in source code, thread 1 need a condition signal to wake up), but thread 2 won't continue wo

[2017-05-23 06:33] ploxiln commented on #512
sounds related to #225 / #236

[2017-05-23 09:59] iwroldtan opened #513 "[err] event.c:1673"
i write a http server with libevent API.
A error happens after period of time.
[err] event.c:1673: Assertion (evcb->evcb_flags & EVLIST_FINALIZING) failed in event_process_active_single_queue

[2017-05-23 10:10] kushal4 opened #514 "Maximum number of connection that can be beared by libevent on the single evconnlistener instance"
HI,
Is there any maximum limit on  the number of succesful connections that can be  beared by libevent. I mean is there any threshold after which the  overall setup may show some wierd behaviour?

[2017-05-23 16:40] ploxiln commented on #514
Here's a benchmark which has tested up to 100000 connections: http://libev.schmorp.de/bench.html

(although it's actually testing with "socketpairs": http://man7.org/linux/man-pages/man2/socketpair.2.html)

[2017-05-24 04:48] kushal4 commented on #514
ok thanks :)

[2017-05-24 11:15] azat commented on #513
Hi @iwroldtan

Can you post a simple reproducer? (lesser lines - better)

[2017-05-24 11:20] azat commented on #512
Indeed it looks like issues mentioned by @ploxiln
Can you please verify your program with latest libevent (compiled from git, since that patches was merged only recently and there was not release since that time)?

[2017-05-25 05:44] iwroldtan commented on #513
void httpserver_genericHandler(struct evhttp_request *req, void *arg)
{
	// Takes ownership of the request object.
	evhttp_request_own(req);

	EnterCriticalSection(&g_csThreadReq);
	if (reqQueue.size() <= MAX_REQ_SIZE)
	{
		reqQueue.push(req);
		LeaveCriticalSection(&g_csThreadReq);
	}
	else
	{
		LeaveCriticalSection(&g_csThreadReq);
		evhttp_send_error(req, 513, "the server is busy");
	}
}

i gue

[2017-05-25 07:06] azat commented on #513
Yep it is valid after `evhttp_request_own()`, but I remember there was some bugs with it, which version of libevent do you use? Can you try latest 2.1.8?

[2017-05-25 07:10] azat commented on #513
Bugs like this one b0d3964ff5cf26a0d50ebef72fef177f75e9a025

[2017-05-25 07:38] iwroldtan commented on #513
yes, I use the latest libevent-2.1.8-stable.
I want to use threadpool to manage the request. so I own all request and then I use other thread to deal with request. after more than 27000 request, the error happens.

I look up the libevent-2.1.8-stable source file.
My error is not the request was free by auto, but I cannot free my owned request logical.
failed in event_process_active_single_queue.
I

[2017-05-25 07:54] iwroldtan commented on #513
I want to know waht will cause the error, [err] event.c:1673: Assertion (evcb->evcb_flags & EVLIST_FINALIZING) failed in event_process_active_single_queue. Thank you!

[2017-05-25 09:49] azat commented on #513
This assert means some corruption of event structure (at least I don't see how this can happen otherwise). So can you compiler your program with `-fsanitize=address -fsanitize=thread` or run it under valgrind with `drd/helgrind` for possible races?

[2017-05-26 02:19] iwroldtan commented on #513
thank you for your suggestion.
well, I have another question, I free the request by evhttp_request_free() in the complete_cb function, but failed. Acess violation resding location 0x0000000. This error break at  event_base_dispatch(server->base);
how can I deal with it?

[2017-05-26 06:53] azat commented on #513
s/resding/reseting/ ?

So it seems that you are trying to free NULL request, you can add assert before it (of course your should compile without `NDEBUG` defined otherwise assert will compile out)l.

And also what I suggested earlier in this issue will help you to find all this places (since `-fsanitize=address` is the address sanitizer, like `valgrind` `memcheck`)

What do you mean by this?

[2017-05-26 07:04] iwroldtan commented on #513
No, the req is not NULL. After I free the request, the event_base_loop just read something in the request. I do not know. So it shows "Acess violation resding location 0x0000000."
I mean the error is in event_base_loop, I guess.

[2017-05-26 08:45] azat commented on #513
Hm, this is strange, but I just looked through the http code and it seems that you cannot free request from chunked callback, since it is used after callback is called, but this is client and this is not your case.

Maybe some sort of race condition or corruption? Again can you run your program under sanitizers to have more real issues than guesses?

[2017-05-26 08:47] lastorder opened #515 "multiple evhttp bind a socket has concurrence problem if has one time-consuming requset"
Create multiple event_base and evhttp, use evhttp_accept_socket to bind a  same socket.
Call event_base_dispatch  for every  event_base in independent thread.

Creat 100 concurrency client request, server use 8 thread(each thread each event_base), if every request is not time-consuming, the multiple thread will hand the request in time.

If there is one request is time-consuming, I expect the 99 r

[2017-05-26 17:52] ploxiln commented on #515
A single thread / event_base was able to accept multiple connections, before the "long-running" request was fully received and started the "long-running" callback.

An example sequence: accept A, accept B, accept C, receive A, run callback for A, if A is "long-running" B and C are delayed. Meanwhile other thread / event_base can process D, E, F.

This is not a bug in libevent.

A thread running an

[2017-05-27 01:45] lastorder commented on #515
I already change the long-blocking work run on a separate thread, the problem is solved.

In the example sequence, if accept A, and A is "long-running" not return. Can B automatic accepted by other  unoccupied event_base in other thread?

[2017-05-27 02:18] ploxiln commented on #515
As I said, the problem is that connection B was accepted by the same thread that accepted connection A, before that thread received the request from A. The unoccupied threads can accept other connections like D, but not B, because the first thread already accepted it.

For it to work the way you want, you would need to not use an event loop, just plain threads. Each thread would accept, read reque

[2017-05-27 02:25] ploxiln commented on #515
To clarify further: it is an intentional feature of event loops to be able to work on unrelated tasks in between related tasks. While waiting for the request to be received (which may take a small fraction of a second) it can make progress by accepting another connection.

[2017-05-27 02:35] lastorder commented on #515
Ok, thank you. @ploxiln

[2017-05-27 03:07] #515 closed

[2017-05-28 05:37] owen200008 opened #516 "cmake windows use add_subdirectory（libevent） error"
CMake Error at 3rd/libevent/CMakeLists.txt:1320 (file):
  file RELATIVE_PATH must be passed a full path to the directory: cmake

cmake version:3.8
libevent version: newest

cmake self is success. but fail by add_subdirectory

[2017-05-28 14:00] azat commented on #516
I can't see how this can happen except for installing `EVENT_INSTALL_CMAKE_DIR` manually:

[code]

[code]

Can you provide full set of commands or a reproducer? I don't think that this is windows specific.

[2017-05-28 14:00] #514 closed

[2017-05-28 16:22] azat commented on #493
I cannot reproduce it with:
- latest [memcached](https://github.com/memcached/memcached/)
- latest libevent (but I'm pretty sure that it is true for 2.1.8 release too)
- latest [mc-crusher](https://github.com/memcached/mc-crusher/)

And since you are not providing any reproducers/memcached-configs/details I'm closing this until you give us something.

[2017-05-28 16:22] #493 closed

[2017-05-28 20:00] azat commented on #511
Ah, I see, but there is `EVENT2_EXPORT_SYMBOL_DECL` already, I will replace `EVENT2_EXPORT_SYMBOL` with it.

[2017-05-28 20:02] azat commented on #511
Nope, it is the opposite thing, sorry for the noise.

[2017-05-29 01:23] owen200008 commented on #516
my CMakeList.txt
if (WIN32 OR APPLE)
    cmake_minimum_required(VERSION 3.1 FATAL_ERROR)
else()
    cmake_minimum_required(VERSION 2.8.5 FATAL_ERROR)
endif()

project(basiclibTest)

option(BASICLIBTEST_BUILD_TEST "Build BasicLibTest Exe" ON)

#build basiclib
#add_subdirectory(${PROJECT_SOURCE_DIR}/src ${PROJECT_SOURCE_DIR}/src/build)
#build libevent
set(BUILD_TESTING OFF CACHE BOOL "flags")
set(EV

[2017-05-29 01:24] owen200008 commented on #516
error is follow:
E:\github\ccbasic\build>cmake ..
-- Looking for _GNU_SOURCE
-- Looking for _GNU_SOURCE - not found
-- Looking for CTL_KERN - not found
-- Looking for KERN_ARND - not found
-- Looking for KERN_RANDOM - not found
-- Looking for RANDOM_UUID - not found
CMake Error at 3rd/libevent/CMakeLists.txt:1320 (file):
  file RELATIVE_PATH must be passed a full path to the directory: cmake

[2017-05-29 09:09] azat commented on #516
Hm, indeed it is not windows specific and I can't reproduce this (cmake 3.7.0):

[code]

[code]

And I even tried your sources, and they are also fine in my env.

Can you add some debug printing into `3rd/libevent/CMakeLists.txt` do know which variable is empty, but looks very strange to me, since `EVENT_INSTALL_CMAKE_DIR` concated from two vars, so it will have "/" in it.

[2017-05-29 10:48] azat commented on #516
And `3.8.1` also fine, and even with space in the path.

[2017-06-02 01:50] zhaoxx063 opened #517 "/sample/le-proxy.c work in ssl proxy mode failed"
I want to use le-proxy to test the performance of libevent working in ssl proxy mode, but it doesn't work.
Platform:  Debian/amd64
Command: ./le-proxy  -s -W 0.0.0.0:8443 192.168.0.X:443
PS: I used netfilter（DNAT） to redirect all the traffic of 443 to localhost 0.0.0.0 with the command like:
"echo 1 > /proc/sys/net/ipv4/ip_forward ; iptables -t nat -A PREROUTING -p tcp --dport 443 -j REDIRECT --to

[2017-06-02 09:27] azat commented on #517
What happens in ssl mode? Any errors or nothing happens?

[2017-06-05 03:11] zhaoxx063 commented on #517
No errors , it is just like that all the request packets passed to the middle proxy, but  no responding packet return to the client end through the middle proxy from the server end.

[2017-06-05 03:32] zhaoxx063 commented on #517
Test env like bellow：
client  -------->( le-proxy )------------->server
IP:99.13  ----->(bridge mode)----------->IP:99.49
          DNAT: redirect to localhost
                        ip: 99.20

clinet ip address is 192.168.99.13
server ip address is 192.168.99.49
the host of le-proxy with 2 ports in bridge mode, and the ip address of the bridge is 192.168.99.20

[2017-06-07 07:06] wjz2047 commented on #496
MARK

[2017-06-08 10:19] kushal4 commented on #503
hi,
When i am making around  1600 connections throught libevent  at some later point,suppose i have closed a connection and when i am trying to reconnect  i am getting this behaviour again.All the functionalities of epoll is done by libevent itself and i am not doing anything here

[2017-06-08 10:20] #508 closed

[2017-06-08 10:23] kushal4 commented on #503
If i remove the flag LEV_OPT_REUSEABLE from the evconlistener function would it prevent this issue since i am guessing that it is tryingto reuse the socket here am i guessing it right here?

[2017-06-08 10:56] kushal4 commented on #503
whenever  thecallback from libevent calls the  abnormality callback (which detects  either eof of socket or any  abnormalities  on  the socket  reading  the  packet) i am closing  the connection.How do i ensure that the client  later  doesnt  send any  packet  on that closed socket ?

[2017-06-08 10:57] kushal4 commented on #503
libevent  is  used  to build the server  so  its  working  on  theserver  side

[2017-06-09 15:14] semigodking opened #519 "CMake does not create libevent_openssl lib"
When building libevent with cmake, lib libevent_openssl is not generated.  Yes, application can link against libevent successfully without libevent_openssl in this case. If libevent is built with automake tools, libevent_openssl is generated, application must be linked against libevent_openssl. Is this difference design intent or bug of CMakeList.txt?

[2017-06-09 15:29] azat commented on #519
This is a bug of cmake rules, but it is fixed in 72ef9d16522f88ea7848a52430b5f80d1174d710
Also please keep in mind, that autotools is considered more stable right now.

[2017-06-09 15:45] semigodking commented on #519
Cool! Thank you!

Azat Khuzhin <notifications@github.com>于2017年6月9日周五 23:29写道：

[2017-06-09 15:46] #519 closed

[2017-06-12 10:39] azat commented on #503
I don't think that we can help based on your problem description, so please provide reproducer, but it looks like you are doing something wrong with sockets.

No, this is for `listen()`

If you closed the socket already, then you can't know does client will send more data or not, and in fact this is not possible under normal circumstances.

[2017-06-16 20:29] ChaseCarthen opened #520 "Is it possible to build libevent for (Universal Windows Platform) UWP?"
I only ask this question because I am running issues with using https://github.com/Microsoft/vcpkg to build the package provided with vcpkg. I went this route because vcpkg can build libevent easily.

I was able to get the "non"-64 bit UWP to compile, but not UWP x64.

I got the ''non"-64 bit UWP to compile by simply using the following commands:

[code]

The UWP equivalent does not compile. I cou

[2017-06-19 07:13] azat commented on #520
Can you please provide logs?

[2017-06-20 05:19] kushal4 opened #521 "creating several event bases which maintains certain number of socket fds each"
Hi,
I am slightly  confused  with the working  of libevent.Is there any  provision of  suppose i create several event  bases dynamically ? Then each   event  base would suppose  maintain 100 sockets each and when more than that comes it will be given to the other event base.
Thanks,
Kushal

[2017-06-20 07:27] azat commented on #521
No, and this is not a good idea.

Since for example for epoll 100 fds per epoll-fd is not an optimum thing to
do.

Why do you need this? The only bit that came into my mind, is that you
callbacks are slow? Than it is better to process them in background
thread/thread-pool

[2017-06-20 07:29] kushal4 commented on #521
i mean can i create multiple event bases from different threads each accpeting suppose 50 sockets .Yes my callbacks are really slow could you please show me some working example here i am kinda lost here

[2017-06-20 07:46] kushal4 commented on #521
Do u mean to say like creating the event bases in seperate threads ? And  if that is the case would every event base (in these different threads)  have the ability to to maintain its own set of socket fds to poll around like in this case each event base would contain 50 sockets to poll around

[2017-06-20 07:46] #503 closed

[2017-06-20 08:37] azat commented on #521
If you don't have a lot of clients/data, than one event base is enough. Just create thread pool and defer job to them (using socketpair for instance). So you just create socketpair() in the main thread, and it's write endpoint will be used in main thread to write information about which callback and with what arguments you need to run, and the read side of that pair will be used in thread to read

[2017-06-20 08:50] kushal4 commented on #521
So in this case can polling be done on those seperate event bases? I mean each event base maintains its own fd set so can every event base poll on its own fd set and call respective read and write callbacks without interferfering with other event bases?

[2017-06-20 08:52] kushal4 commented on #521
In order to tell you my actual use case i am using it for my mqtt broker which would take thousands of connections from clients so in that scenario i have to make different event bases since my callbacks becomes too slow and in that way polling was hampered too

[2017-06-20 09:05] kushal4 commented on #521
And in this case is callinf evconnlistener_* mandatory in these cases.I guess the evconnlistener_new() function can only take one event_base so i am kinda lost here about how to implement the threading scenario here

[2017-06-20 09:14] kushal4 commented on #521
by following this method, can i create event bases dynamically? i mean in this example whenever i cross 50 connections another event base would be created and so on

[2017-06-20 12:21] kushal4 commented on #521
I have one more confusion,do i have to call event base from the main() too and start event loop or i just have to create event_base from different threads only

[2017-06-20 16:30] ploxiln commented on #521
Keep it simple. Maybe libevent and event-driven programming in general is not the best solution to your problem. Maybe a plain thread per connection or request is better for you.

[2017-06-21 07:31] kushal4 commented on #521
yes  i am doing that but in my architechture i also need event driven programming and a mechanism if poosible about each event_base polling on small number of fdset which would make the callbacks to run faster

[2017-06-22 10:54] kushal4 commented on #521
hi,
is there any working example of using eventbases (for fixed fd set)  in  different threads.Am making more  mistakes in allocating eventbases here :(

[2017-06-23 09:56] kushal4 opened #522 "same event in an eventbase fired more than once sequentially"
Hi,
I am first creating an event base on  a different thread (just for testing purpose now )and later i am adding  50 accepted fds  on that event base but the same event of the fd is fired more than once although one packet came of that fd.Am i doing something wrong here please help

[2017-06-23 12:14] kushal4 commented on #522
[debug_log.txt](https://github.com/libevent/libevent/files/1097718/debug_log.txt)
this is the debug text which i got from the debug mode.

[2017-06-25 03:36] skalemkiewicz opened #523 "print-winsock-errors.c is Missing from Source"
Nmake compilation fails because print-winsock-errors.c is missing from the source tree.

Observed in 2.1.8-stable on Windows 7 using Visual Studio 2015.

[2017-06-25 04:47] #522 closed

[2017-06-25 08:00] #521 closed

[2017-06-25 14:53] moonwalkerzyp commented on #431
hi,
i have the same trouble as you,dead loop in timeout_process()，is  the question solved now?
details info:
i start a sub thread to call event_base_dispatch(),and i add two timeout events to  base in the main thread ,
the gdb shows the time event  ev->flags equals to 128,that means the EVLIST_TIMEOUT is not set，so the event is not del from the minheap：

#0  timeout_process (base=0x1ef1df0, flags=

[2017-06-27 18:54] azat commented on #431
Yes, you definitely should call `evthread_use_pthreads()`

[2017-06-27 18:56] azat commented on #523
Fixed in 8d89c212587c560df8cd7089fb1a2fcd2a3dca82, and so new libevent release will contain this file.
In the mean time is it a major error for you?

[2017-06-27 18:58] azat commented on #521
For sure, take a look at [this](http://archives.seul.org/libevent/users/Mar-2016/msg00046.html)

P.S. sadly `libevhtp` is not available from @ellzey repository, but there are a lot of forks on github

[2017-06-27 19:56] skalemkiewicz commented on #523
No, I was able to locate the file in the repo history, insert it and finish the compile process. Thanks!

[2017-06-28 22:45] azat commented on #523
Great!

[2017-06-28 22:45] #523 closed

[2017-07-06 10:53] kushal4 opened #526 "event callback which need to be called on socket error or end of file of socket usinfd event_base event mechanism"
Hi,
I am using event_base event architechture here.Previously i was using evconnlistener bufferevent architechture , where the callback was called whenever there was some error on the socket or end of file was reached.Just like that is there any mechanism of the callback with the even_base event ? If so,how do i add it

[2017-07-07 06:04] kushal4 opened #528 "confusion regarding adding events of different socket fd from the accept callback function"
Hi,
I have one confusion regarding addition of event in a different event base on the accept callback function.Bascically my idea is when the accept callback is fired i will add the certain number of events on a newly created event base from the accept callback function itself that is suppose from client  1-45 will be added to one event base and then 46-90 will be added to different new event base

[2017-07-13 06:24] david-holonet opened #530 "free bufferevent in event_base_free"
I create a bufferevent, and add it to event_base, use `bufferevent_socket_new`.
And how can I free it when calling `event_base_free`?
Need I keep the bufferevent outside the event base and call `bufferevent_free` myself?

[2017-07-13 10:20] xjj210130 opened #531 "[HELP] use libevent as http service, is there a bug??"
I do the following steps:
1: start libevent http service;
2 when service receive the request, then sleep 10s
3: close the client;

but  the http service can send data right.
in my opinion, when i close the client, the  scoket fd is invalid. http service can't send data.
Someone else meet this problem?
Thanks.

[2017-07-16 19:03] azat commented on #526
No, you should implement it by yourself, i.e. when you got triggered on `EV_READ`/`EV_WRITE`, you should check return value of read/write (for read, if it an error, and the error is not retriable than this is an error, if it is zero then it is EOF, for the [reference](https://github.com/libevent/libevent/blob/2773a5ed5e75540d43500e054581ea1fab2132ac/bufferevent_sock.c#L200))

P.S. there is also a

[2017-07-16 19:07] azat commented on #528
This is very not optimal thing to do, but go ahead if you want to.

What do you mean by this?

@kushal4 You have a lot of questions, and it will be great if you will provide some sources to describe what you are trying to do, so that we can take a look and maybe suggest some modifications.

[2017-07-16 19:24] azat commented on #531
client or server?

Basically if peer already closed the connection then libevent will not send anything to it, but only in cases when it knows that client had been closed the connection (i.e. send RST/FIN packet).

I understand this as: "I had a server, and client closed the connection, what will be if server will write to fd that referred to the client peer?", If my understanding is correct, then

[2017-07-16 19:32] azat commented on #530
`event_base_free()` will not free `bufferevent`, you should free it by yourself manually.
And this is basically for all structures that had been created with `*_new()`.

[2017-07-17 02:24] xjj210130 commented on #531
The step is following:
 1: start the http service.
 2:  the http recieve the rquest, and then sleep 1 ms
 3: close the client
 4: the http service use: 	evhttp_send_reply(req, 200,"OK",buf);
  but i find the http don't crash or throw some error. in fact , the client will send RST/FIN . How can i catch the signal , Thanks?

[2017-07-17 05:55] azat commented on #261
Sadly, but it is not available by from [ellzey repo](https://github.com/ellzey/libevhtp). Closing.

[2017-07-17 05:55] #261 closed

[2017-07-17 05:57] azat commented on #531
Right now there you cannot know does peer disconnected or not, since for incoming connections some of errors ignored (see `evhttp_connection_incoming_fail`).

There is an long standing issue with merging libevhtp (#261), which has more configurable api for httpd, but it is not available by it's official address for 3-4 months.

So you can use libevhtp (if you will find sources somewhere) or you ca

[2017-07-17 06:01] azat commented on #531
Or wait until we or somebody will implement handling failures in httpd API

[2017-07-17 06:09] lnicola commented on #261
https://github.com/criticalstack/libevhtp/

[2017-07-17 06:10] lnicola commented on #531
`libevhtp` can be probably found here: https://github.com/criticalstack/libevhtp/

[2017-07-17 08:35] azat commented on #261
Well I had a copy/fork too, but this is not about where we can get sources, but about who will do this and who will support libevhtp, but repo from criticalstack looks more alive then others, I need to take a look at it, but at diff stats looks huge (though most of changes are noise -- renames, e.t.c.):

     39 files changed, 3822 insertions(+), 7625 deletions(-)

[2017-07-17 09:27] JZhang2017 opened #533 "tv_clock_diff in struct event_base should be initialized to correct value instead of 0"
Hello,

I am debugging a problem with sntp from ntp 4.2.8p9 on Linux, and it seems there is bug in libevent.

Our system used ntp 4.2.6p5 before, which didn't rely on libevent and it worked. When I tried to bring in ntp 4.2.8p9 to our system, I found the sntp command executed during boot process failed:
[code]

The above output was got after enabling debug mode of sntp and adding some "printf"s to

[2017-07-17 18:35] aessiet opened #534 "having "test/regress.c", line 3099:warning: assignment type mismatch"

[2017-07-17 18:45] ploxiln commented on #533
libevent could probably do a better job of initialization for `event_base_gettimeofday_cached()`, but also ntp/sntp should not be using that directly or indirectly for precision timekeeping work, they should just use the libc functions or syscalls directly.

Just btw, the docs say:

[2017-07-17 18:55] JZhang2017 commented on #533
Hi,

Thank you for your reply! I will ask the  people maintaining ntp and forward your recommendation.

B.R.
Jianrong Zhang

[2017-07-17 20:31] kushal4 commented on #528
ok am sharing  you the source  here   :)
[mqtt_broker_2.tar.gz](https://github.com/libevent/libevent/files/1153901/mqtt_broker_2.tar.gz)

I am  uploading the  file as a zip you can have a  look at  main.cpp  where i  use  the  architechture

[2017-07-17 20:31] kushal4 commented on #526
ok thnx

[2017-07-17 20:35] kushal4 commented on #528
ther e u will see  that  there is  a  normal  event base  on  main() and  on the onAccept() callback  i create  event bases based  containing 400 sockets in each each  event  base

[2017-07-21 12:45] hhhaiai opened #535 "how build in mac osx"
have not configure.sh   or  general shell。

readme has not .

the release version has. what happen??

[2017-07-21 18:23] ploxiln commented on #535
`configure` is generated by `./autogen.sh`

[2017-07-21 21:33] azat commented on #534
What the sha1 of sources do you have? I have `short what;` on [this line](https://github.com/libevent/libevent/blob/e83443ec67d45447296c2ce320620a07c88e1d32/test/regress.c#L3099)

[2017-07-22 14:47] rickywxg commented on #535
I managed to build it with cmake on my Mac OSX 10.12.5

Install openssl first if you haven't. `brew install openssl`

`configure` did not work for me because brew refused to add link for openssl.
[code]

My build steps with cmake:
1. export OPENSSL_ROOT_DIR=/usr/local/opt/openssl
2. mkdir build && cd build
3. cmake ..
4. make

[2017-07-24 09:51] Tyrant2010 opened #536 "[HELP] evhttp_send_reply_chunk do not send chunk until calling evhttp_send_reply_end?"
I want to implement a mini http server for online video viewing while downloading video data from video server. I store the video file in multiple cache files. So I use evhttp_send_reply_chunk to send data, but i found that no reply packet was sent until evhttp_send_reply_end is called. Could I make evhttp send data while I call evhttp_send_reply_chunk?

I do the following steps:
1: browser send a

[2017-07-24 21:03] mason-hale commented on #536
I'd like to add to this issue - I've experienced the exact same frustration. I've been trying to send large amounts of data over a single HTTP request, but the amount is too large for one evhttp_send_reply. So, I turned to chunking, which seems like it should have been the perfect solution--it ostensibly sends the content in pieces so that a single buffer won't become overfilled (which causes the

[2017-07-24 22:18] ploxiln commented on #536
`evhttp_send_reply_chunk()` does work. Here's a minimal working example:

[code]

compile and run with something like:

[code]

test with curl:

[code]

watch as curl gets a chunk of the response each second.

So, if you're literally calling `sleep()`, or you're calling `evhttp_send_reply_chunk()` in a loop, you can't do that in an event-based application. You need to schedule a callback to happen

[2017-07-25 03:33] Tyrant2010 commented on #536
@ploxiln Thank you sir,  your code do work, Thank you again！

[2017-07-25 03:34] #536 closed

[2017-07-25 14:47] mason-hale commented on #536
Thank you very much! That is extremely helpful, and I had trouble finding working examples online. Much appreciated.

[2017-07-26 07:01] tanghammer opened #537 "Does libevent support unix domain socket ?"
##i got some informations from here [http://www.wangafu.net/~nickm/libevent-book/](url), in Ref6_bufferevent.txt:
  Bufferevents currently only work for stream-oriented protocols like TCP. There may in the future be support for datagram-oriented protocols like UDP.

Does libevent support unix domain socket ?

[2017-07-26 14:10] azat commented on #537
Sure, you can use `bufferevent_socket_connect()` with `struct sockaddr` to connect to it.

[2017-07-27 06:10] begend opened #538 "libevent memory leak in hhvm 3"
my hhvm version is : 3.0.1， libvernt version is  libevent-1.4.14b-stable.
my prof result with jemalloc as follows:
http://i2.tiimg.com/1949/8242f5547d28c4c2.png

it seams that the evhttp_add_headers function has memory leak
![Uploading 1_5.png…]()

[2017-07-27 11:27] tanghammer commented on #537
i test libevent with stream-oriented unix domain socket,it seems okay.

[2017-07-27 11:48] #537 closed

[2017-07-28 09:50] Johance2 opened #539 "libevent link error in android ndk build"
libevent/buffer.c:495: error: undefined reference to 'LIST_END'
/libevent/bufferevent_ratelim.c:494: error: undefined reference to 'LIST_END'
libevent/bufferevent_ratelim.c:513: error: undefined reference to 'LIST_END'
but LIST_END is an macro not function

[2017-07-28 11:35] azat commented on #539
Yep, looks like missing header, maybe some `#ifdef` changes the code.

But, AFAIR I built libevent successfully in android ndk (docker), which version of libevent do you tried?

[2017-07-28 11:58] azat commented on #538
I don't see any leak in `evhttp_add_headers()`, this can be leak during requires freeing. Is this results from not-exited-yet application? In this case it can be the requests that is not freed yet (but looks very unlikely).

[2017-07-28 14:57] ploxiln commented on #538
There was at least one http related leak in 1.4.x fixed after 1.4.14b: #213

In any case, 1.4.14b is long out of maintenance, and 2.0 and 2.1 branches likely have different leaks (if any).

[2017-07-31 13:27] paulfariello commented on #306
I can confirm that afca576 fixes the issue.
I've tested it with https://gist.github.com/paulfariello/0403f5be9b6b07303cccc9aa3362b9fc

My comprehension of the bug was that buffer was drained as if evbuffer_add_file was the first thing appended to it. But my gist showed that offset was broken even when evbuffer_add_file was first. I must be missing something…

[2017-08-02 01:19] Johance2 commented on #539
#define EVENT__VERSION "2.1.8-stable"
i built libevent successfully in android ndk.
but link failure。  $(call import-module,libevent)
other version is ok

[2017-08-07 10:05] Tyrant2010 opened #541 "[HELP] how to stop a http connection when server received a tcp rst packet？"
I would like to implement a http server for online video viewing. When I refresh the browser, the browser would send a RST packet to my server, my server should stop transfering data once receiving the RST packet. But it isnt.
I havent found any function in libevent that allow me analyze tcp packets. Did I miss something?

[2017-08-07 16:56] ivmai opened #542 "Invalid pointer-is-not-null check in bufferevent_socket_connect"
Looking into 659d54d5304c476f5cf0ec502235e376e1d2d8a1 I see the following code
 struct bufferevent_private *bufev_p = EVUTIL_UPCAST(bev, struct bufferevent_private, bev);
 ...
 if (!bufev_p) return -1;

But bufev_p cannot be null. Probably the code should be fixed to:  if (!bev) return -1;

[2017-08-09 03:58] #541 closed

[2017-08-10 05:28] eleree commented on #491
@mabaig043 how is the problem now?

[2017-08-10 05:46] mabaig043 commented on #491
@eleree : thanks for follow up.
Will share the details/observations soon...

Were you seeing some similar issue?

[2017-08-13 07:20] #528 closed

[2017-08-13 07:20] #526 closed

[2017-08-13 20:51] azat commented on #542
Hi @ivmai - nice catch.

Yeah this is wrong, but none of other functions there check's for `bev != NULL`, so I suggest removing it completely, do you want to send a patch or should I fix it myself?

[2017-08-13 21:37] azat commented on #539
First you wrote that libevent didn't link? What fixes the issue for your?
I don't familiar with android ndk, but what `call import-module` reports?

[2017-08-13 21:41] azat commented on #539
P.S. [this](https://github.com/libevent/libevent/issues/475#issuecomment-284256518) is how I built it

[2017-08-13 22:57] azat commented on #306
Looking at this again, and in your case you are using `evbuffer` from `bufferevent` and it freezes output buffer for read, hence that `evbuffer_drain()` (that was removed in that patch) will fail in your case, and hence you got the whole content of the file. IOW there is another bug because of that incorrect `evbuffer_drain()`

P.S. during looking at this, it should mmap with `length + offset` aft

[2017-08-13 23:00] azat commented on #306
And even more, right now if offset > `PAGE_SIZE` then `mmap` will fail, and hence evbuffer_add_file() will fail too

[2017-08-13 23:03] azat commented on #306
Also I'm suggesting you to switch to 2.1.8, it should be compatible with 2.0.

[2017-08-14 10:11] ivmai commented on #542
Hello @azat
I think that such small code defects are better to be fixed by the original commit authors or maintainers. So I'd prefer you to fix it. But please add "Contributed-By: Ivan Maidanski <i.maidanski@samsung.com>" (or "Signed-off-by: Ivan Maidanski <i.maidanski@samsung.com>") line to the commit message. Thank you

[2017-08-14 20:23] #542 closed

[2017-08-14 20:24] azat commented on #542
Thanks! Fixed, upstream commit is a10a6f4ed918ea1432820d99e9373f37f906d6f0

BTW are you using some static analyzer or just noticed this manually during reading sources?

[2017-08-15 10:15] sandr2013 opened #544 "[help]why evhttp cannot get "delete"request body?"
I make the "delete" request vir libcurl,like this:
CURL *curl_delete;
CURLcode res;
curl_delete = curl_easy_init();
if (curl_delete)
{
	curl_easy_setopt(curl_delete, CURLOPT_VERBOSE, 1L);
	curl_easy_setopt(curl_delete, CURLOPT_CUSTOMREQUEST, "DELETE");
	curl_easy_setopt(curl_delete, CURLOPT_POSTFIELDS, "xxxxxxxxxxxxxxxxxxxx");
	curl_easy_setopt(curl_delete, CURLOPT_URL, "http://192.168.1.100:9999/

[2017-08-15 11:57] ivmai commented on #542
I'm using a static analyzer (some proprietary tool developed by Samsung). The issue was detected during Android source inspection (https://android-review.googlesource.com/#/c/platform/external/libevent/+/157766/).

[2017-08-16 01:24] sandr2013 commented on #544
Thanks for your reply.So I just use "delete" with message in URI.
Thanks again.

[2017-08-16 03:34] rumeungrimu opened #545 "Unable to find "event.h""
I'm new to this library, so bear with me.

I've installed libevent to my Mac, which I have been able to confirm via `ls /usr/local/include`. However, a quick compile test for a simple file that only `#include <event.h>` tells me that the event.h file cannot be found anywhere.

I've tried to use `brew install libevent`, `-I/usr/local/include` and manual installation so far, but nothing solved this

[2017-08-16 05:06] #544 closed

[2017-08-16 10:28] rumeungrimu commented on #545
Ok, so I did `cat /usr/local/include/event.h` and got this:
[code]
As for the compilation:
[code]
and
[code]

[2017-08-16 12:11] mabaig043 commented on #491
@eleree:
I faced similar issue where when non-libevent based openssl client was trying to libeven-bases openssl server.
Client does a tcp socket connect() and after success immediately does an SSL_connect().
At server, in on_accept() callback for new tcp connection, a new openssl bufferevent is created using bufferevent_openssl_socket_new(). And after that, sets read/write/event callbacks on this

[2017-08-16 15:17] ploxiln commented on #545
that's not about `event.h`, it's looking for `libevent.dylib`, you'll need to add `-L/usr/local/lib`

[2017-08-16 23:57] rumeungrimu commented on #545
Same thing. `libevent.dylib` is in `/usr/local/lib` but:
[code]

[2017-08-16 23:58] rumeungrimu commented on #545
Or:
[code]

[2017-08-17 00:16] ploxiln commented on #545
You need all three:
  * `-I/usr/local/include` - needed to find "event.h"
  * `-levent` - needed to find libevent functions
  * `-L/usr/local/lib` - needed to find libevent

[2017-08-17 00:49] rumeungrimu commented on #545
Ok so I got it working now. Thanks. Can you tell me why missing any of the three will not work?

[2017-08-17 01:20] #545 closed

[2017-08-17 09:04] carenas commented on #268
FWIW found still similar issues in macOS 10.12.6 with Apple LLVM version 8.1.0 (clang-802.0.42), but the following error in regression
[code]
goes away if using gcc-7 (from brew), and shows valid values when debugged directly, so it is likely a clang bug

[2017-08-20 07:06] submarineblue opened #549 "http connection establish callback"
As for http connection, we have close callback, but in some cases, we also need connection establish callback to notify us after re-connecting the remote host successfully.
Any plans about adding this callback?

[2017-08-21 07:26] paulfariello commented on #306
Thanks for the insight. I'll switch to 2.1.8 but right now I'm not using add_file anymore :)

[2017-08-24 09:45] fquinner opened #551 "The libevent-2.1.8-stable.tar.gz file is missing cmake"
The uploaded release tarball from the releases page `libevent-2.1.8-stable.tar.gz` looks like it doesn't contain cmake lists source. The one that github generate from source looks fine though.

[2017-08-26 09:09] blub4747 opened #552 "failed to build"
Hi guys,

I want to build libevent so I can build tmux.
Since the one which is included my debian repos is quite dated eg version
`tmux/oldstable,now 1.9-6 `
While trying to run 'make' I walked into some error msg's so I decided to rerun make this time with '
make check'

[warn] Trying to disable lock functions after they have been set up will probaby not work.
[warn] Trying to disable lock functi

[2017-09-07 22:27] KindDragon opened #555 "AppVeyor CI is not working properly"
Readme.md refers to the appveyor in the fork

[2017-09-10 22:13] azat commented on #555
Sorry for the delay, yes it was done on purpose, I guess because subscription was added to nmathewson user at first. But since subscription expired for nmathewson anyway, I will fix this.

[2017-09-10 22:14] azat commented on #555
And yes, there is only [nmathewson/Libevent](https://ci.appveyor.com/project/nmathewson/libevent) and no [libevent/libevent](https://ci.appveyor.com/project/libevent/libevent)

[2017-09-10 22:26] azat commented on #552
Hi, sorry for the delay, as for date tests they are fixed with #554, as for `https_basic` and `https_filter_basic` can you post exact sha1 of libevent's repo and version of openssl.

BTW if you just need newer libevent and you don't want to bother with this then you can:
- if you build package with `debuild` then just use `override_dh_auto_test` (AFAIR)
- or use libevent from [testing](https://pac

[2017-09-10 22:27] azat commented on #552
Also about `https_basic`, can you verify that [this helps](https://github.com/libevent/libevent/issues/454#issuecomment-279864123)?